$max-width: 1920;
$min-width: 280;
$max-width-сontainer: 1920;
@mixin adaptive-value($property, $start-size, $end-size, $type) {
    $add-size: $start-size - $end-size;
    // только если экран меньше контейнера
    @if $type == 1 {
        #{$property}: $start-size + px;
        @media (max-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width-сontainer - $min-width}));
        }
    } @else if $type == 2 {
        // только если экран больше контейнера
        #{$property}: $start-size + px;
        @media (min-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
    }
}


@mixin font-settings($font-weight, $font-size, $letter-spacing) {
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
}