@import "./pages/_header";
@import "./pages/_main";
@import "./pages/_search-filter";
@import "./pages/_mobile-menu";
@import "./pages/_footer";
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


$color-white: #fff;
$color-pink: rgb(255, 153, 247);
$color-gray: #aaa;
$color-post-images-background: #0B0C12;

$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';

$size-image-avatar-sm: 40px;
$size-image-avatar-md: 60px;

$svg-like-size: 20px;
$svg-like-color: rgb(255, 255, 255);
$svg-like-color-active: rgb(247, 164, 222);

@mixin font-settings($font-weight, $font-size, $letter-spacing) {
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
}

$maxWidth: 1920;
$maxWidthContainer: 1920;
@mixin adaptive-value($property, $startSize, $endSize, $type) {
    $addSize: $startSize - $endSize;
    // только если экран меньше контейнера
    @if $type == 1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        // только если экран больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

.page__wrapper {
    width: 100%;
    // margin: 0 15px;
    @media (max-width: 991px) {
        & {
          padding: 54px 0;
          margin: 0;
          width: 100%;
        }
    }
}

.post-container {
}

.post-images {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    border-radius: 15px;
    background-color: $color-post-images-background;
    padding: 10px 100px;
    min-height: 550px;
    // max-height: 850px;
    height: 90vh;
    // width: 100%;
    // height: calc( 100vh - 100px );

    // &__image {
    //     display: flex;
    //     // height: 100%;
    //     // width: 100%;
    //     align-items: center;
    //     justify-content: center;

    //     img {
    //         max-height: calc( 100vh - 156px );
    //         max-width: 100%;
    //         // max-height: 100%;
    //     }
    // }

    @media (max-width: 700px) {
        & {
            // height: calc( 100vh - 130px );
            height: 85vh;
        }
    }
    @media (max-width: 991px) {
        & {
            padding: 0;
        }
    }
}

.post-info {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    // margin: 0 15px;
    // padding: 0 15px;

    @media (max-width: 1280px) {
        & {
            padding: 5px;
        }
    }
}

.like-wrap {
    display: grid;
    // grid-template-columns: 2fr 1fr;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // justify-items: center;
    gap: 15px;
}

.like-cont {
    display: flex;
    flex-direction: row;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 15px;
    @include adaptive-value('gap', 40, 15, 1);
    // justify-content: space-around;
    // width: 100%;
    color: $color-white;
    
    i {
        @include font-settings(inherit, 20px, inherit);
        // font-size: 20px;
        // color: white;
    }

    button {
        color: inherit;
        display: flex;
        align-items: center;
        padding: 0;
        background: transparent;
        border: none;
        font: inherit;
    }

    @media (max-width: 991px) {
        & {
            justify-content: space-around;
            width: 100%;
        }
    }
}

.post-cont-likes {
}

// .like-btn {
    
//     &__heart {
//         width: $svg-like-size;
//         height: $svg-like-size;
//     }

//     &._active {
//         .like-btn__heart {
//             &::before {
//                 display: inline-block;
//                 // position: absolute;
//                 content: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='#{$svg-like-size}' height='#{$svg-like-size}'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color-active};' d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z'/></svg>");
//                 // left: 50%;
//                 // top: 50%;
//                 transform: scale(1.2);
//                 animation: like 0.3s ease;
//                 // transition: transform 0.2s;
//             }
//         }
//     }    

//     @keyframes like {
//       0%   { transform: scale(1); }
//       50%   { transform: scale(1.3); }
//       100% { transform: scale(1.1); }
//     }
// }

.like-btn {
    // margin-top: 13px;
    // margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    // font: inherit;
    color: $color-white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    pointer-events: painted;
    // width: auto;
    // height: auto;
  
    &__heart {
        position: relative;
        width: $svg-like-size;
        height: $svg-like-size;
      
        &::before {
            // display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            content: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='#{$svg-like-size}' height='#{$svg-like-size}'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color}' d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/></svg>");
            // content: "\f004";
            // height: $svg-like-size;
            transform: translateY(-1px);
        }
    
        &::after {
            content: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='#{$svg-like-size}' height='#{$svg-like-size}'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color-active};' d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z'/></svg>");
            position: absolute;
            left: 50%;
            top: 50%;
            height: $svg-like-size;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.2s;
        }
    }
  
    &:hover{
      color: $color-pink;
  
      & .like-btn__heart::before {
        content: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='#{$svg-like-size}' height='#{$svg-like-size}'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:rgb(255, 153, 247)' d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/></svg>");
      } 
    }
  
    &._active .like-btn__heart {
      &::after {
        // transform: translate(-50%, -50%) scale(1.3);
        transform: translate(-50%, -50%) scale(1.2);
        animation: like 0.3s ease;
      }
    }
  
    @keyframes like {
      0%   { transform: translate(-50%, -50%)  scale(1); }
      50%   { transform: translate(-50%, -50%)  scale(1.3); }
      100% { transform: translate(-50%, -50%)  scale(1.1); }
    }
}

.like-cont-info span {
    margin-left: 5px;
    font-family: $font-family-inter;
    // @include adaptiv-font(16,  14);
    @include adaptive-value('font-size', 16, 14, 1)
}

// &__likes-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-likes-number {
}

.post-cont-com {
    // button {
    //     display: flex;
    //     align-items: center;
    //     padding: 0;
    //     background: transparent;
    //     border: none;
    //     font: inherit;
    // }
}

// &__com-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-com-number {
}



.post-cont-views {
}

.post-views {
    display: flex;
    align-items: center;
    cursor: default;
}

// &__views-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-views-number {
}

.post-data-published {
    color: $color-white;
    font-family: $font-family-inter;
    // font-size: 16px;
    @include adaptive-value('font-size', 16, 12, 1);
    margin-left: auto;
}

.post-info-author {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    padding: 20px 0;

    &__btn {
        align-items: center;
        display: inherit;
        grid-template-columns: 1fr 1fr;
        justify-items: end;

        padding: 0;
        background: transparent;
        border: none;
        // padding-right: 20px;
        // background: linear-gradient(271.2deg, #FF58C7 10.55%, #FAA7D9 154.37%);
        border-radius: 10px;

        font-family: $font-family-inter;
        @include adaptive-value('font-size', 24, 18, 1);
        // @include font-settings(bold, inherit, inherit);
        // font-weight: bold;
        color: #FAA7D9;

        i {
            margin-right: 10px;
        }
    }

    &__author {
        display: inherit;
        grid-template-columns: 0.1fr 3fr;

        img {
            // @include adaptiv-width-height(60,40);
            @include adaptive-value('width', 60, 40, 1);
            @include adaptive-value('height', 60, 40, 1);
        }
    }
}

.author-name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    color: $color-white;
    justify-content: space-around;

    font-family: $font-family-inter;
    @include font-settings(bold, 20px, inherit);

    &__name {
        @include adaptive-value('font-size', 18, 16, 1);
    }

    &__subscribe {
        // font-size: 12px;
        @include adaptive-value('font-size', 14, 12, 1);
    }
}

.post-info-details {
    padding: 20px 0;
}

.post-info-comments {
    // margin-top: 80px;
    padding-top: 94px;
    
    &__container {
        padding: 20px;
        border-radius: 15px;
        background-color: #0e1016;
    }
}

.post-info-tags {

    &__title {
        font-family: $font-family-inter;
        @include font-settings(700, 18px, inherit);
        line-height: 24px;
        color: #B1B1B9;
    }
}

.post-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;

    &__tag {
        border: 1px solid #5D5D6C;
        padding: 12px 15px;
        border-radius: 8px;
        background-color: #161A1F;
        color: #FCF7F1;

        font-family: $font-family-rubik;
        @include font-settings(600, 14px, inherit);

        &:hover {
            background-color: #20252b;
            border: 1px solid #6d6d7c;
        }
    }
}

.post-info-description {
    margin-top: 30px;

    &__title {
        font-family: $font-family-inter;
        @include font-settings(700, 18px, inherit);
        line-height: 24px;
        color: #B1B1B9;
    }
}

.post-description {
    margin-top: 5px;
    color: #FCF7F1;
    font-family: $font-family-rubik;
    @include font-settings(inherit, 18px, inherit);
    line-height: 22px;
}

.comments-form {
    padding-bottom: 20px;
    margin-bottom: 20px;
    // display: grid;
    grid-template-columns: 3fr 0.3fr;
    align-items: start;
    gap: 7px;
    border-bottom: 1px solid #1c1e2c;

    // &__container {
    //     display: grid;
    //     grid-template-columns: 0.1fr 2fr;
    //     padding: 5px 0px;

    //     &__author {
    //         display: flex;

    //         img {
    //             margin-right: 5px;
    //             width: $size-image-avatar-sm;
    //             height: $size-image-avatar-sm;
    //         }
    //     }

    //     .underline {
    //         ._10Line {
    //             position: relative;
        
    //             &::after {
    //                 display: block;
    //                 content: "";
    //                 background-color: #dcdce2;
    //                 height: 1px;
    //                 width: 0%;
    //                 left: 50%;
    //                 position: absolute;
    //                 transition: width .3s ease-in-out;
    //                 transform: translateX(-50%);
    //             }
    //         }
    //     }

    //     &__input-comment:focus ~._10Line::after {
    //         width: 100%;
    //     }

    //     &__input-comment {
    //         display: grid;
    //         justify-items: start;
    //         border-top: 0;
    //         border-right: 0;
    //         border-left: 0;
    //         border-bottom: 1px solid #838592;
    //         color:#F6F6F6;
    //         background: transparent;
    //         height: auto;
    //         width: 100%;
    //         height: calc(100% - 10px);
    //         resize: none;

    //         @include adaptive-value('font-size', 16, 14, 1);
    //     }
    // }

    &__title {
        font-family: $font-family-inter;
        @include adaptive-value('font-size', 16, 12, 1);
    }

    &__author {
        display: flex;

        img {
            margin-right: 5px;
            color: #000;
            @include adaptive-value('width', 40, 35, 1);
            @include adaptive-value('height', 40, 35, 1);
            // width: $size-image-avatar-sm;
            // height: $size-image-avatar-sm;
        }
    }

    &__sort {
        display: flex;
        // float: right;
        justify-content: space-between;
        z-index: 1;
        justify-items: end;
        // height:100%;
        // align-items: center;
        padding: 0 0 20px;
        
        color: $color-white;
        @include font-settings(600, inherit, inherit);

        &._active {
            .comments-form__sortlist {
                // display: inherit;
            }
        }
    }

    &__input-comment {
        // display: grid;
        // justify-items: start;
        // height: auto;
        width: 100%;
        // height: calc(100% - 10px);

        word-break: break-word;
        resize: none;
        border: none;
        color:#F6F6F6;
        background: transparent;

        @include adaptive-value('font-size', 16, 14, 1);
    }
}

.comments-form-sorting {
    position: relative;

    &__sort-btn {
        cursor: pointer;
        font-family: $font-family-inter;
        @include adaptive-value('font-size', 16, 12, 1);
        
        i {
            margin-right: 5px;
        }
    }

    &__sortlist {
        position: absolute;
        top: 30px;
        right: 0;
        display: none;

        padding: 10px;
        background-color: #252630;
        border-radius: 4px;
    }
}

.comments-form {

    &__form {
        display: flex;
    }

    &__pseudo-form {
        padding: 12px;
        width: 100%;

        font-family: $font-family-helvetica;
        border-radius: 3px;
        border: 1px solid #5D5D6C;
        color: #85858d;
        cursor: pointer;
    }
}

.button-send {
    float: right;
    padding: 5px 10px;
    // background: #0e1016;
    background: rgb(199, 138, 162);
    color: $color-white;
    // border: 1px solid pink;
    border-radius: 5px;
    border: none;

    @include adaptive-value('font-size', 16, 12, 1);

    &:hover {
        // box-shadow: 0px 0px 5px pink;
        background: rgb(197, 127, 155);
    }

    &:active {
        // background: rgb(216, 162, 162);
        // color: rgb(27, 27, 27);
        // color: pink;
        background: rgb(190, 118, 147);
    }
}

._39asK {
    font-family: $font-family-helvetica;
    @include font-settings(400, 14px, 0.3px);
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.comments-list {
    margin: 0 -8px;
}

.comment {
    position: relative;

    &__body {
        padding: 12px 8px;
        // background-color: #13151b;
        border-radius: 10px;
    }

    &__head {
        position: relative;
        padding-left: 32px;
        padding-left: 0;

        @media (min-width: 500px) {
            & {
                padding-left: 0;
                display: flex;
                align-items: center;
            }
        }
    }

    &__user {
        display: inline-flex;
        align-items: center;
    }

    &__avatar {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        display: block;
        border-radius: 3px;
        border: 0;
        overflow: hidden;
        font-size: 0;
    }

    &__username {
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 4px;
        color: white;
        font-weight: 700;
        font-family: $font-family-inter;
        max-width: 220px;
    }

    &__date-time {
        font-size: 13px;
        font-family: $font-family-helvetica;
        color: $color-gray;
    }

    &__content {
        margin: 8px 0 4px;
        font-size: 16px;
        line-height: 22px;
        word-wrap: break-word;
        word-break: break-word;

        color: white;
        font-family: $font-family-inter;
    }

    &__children {
        position: relative;
        margin-left: 8px;
        padding-left: 17px;
        border-left: 1px solid #1c1e2c;
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    // всплывающее меню с тремя точками
    // &__control-dropdown {
    //     display: inline-block;
    //     vertical-align: middle;

    //     > i {
    //         color: $color-gray;
    //     }
    // }
}

.answer-button {
    margin-right:10px;
    font-family: $font-family-helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(255, 158, 190);
    height: auto;
    cursor: pointer;

    background: transparent;
    border: none;
    padding: 0;
}

.comments-form__reply,
.comment-reply {
    width: 100%;

    .comments-form__controls,
    &__controls {
        padding: 8px 0 0 0;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .comments-form__input,
    &__input {
        padding: 17px;
        min-height: 80px;
        line-height: 20px;
        word-break: break-word;

        // caret-color: pink;
        border: 1px solid #5D5D6C;
        border-radius: 3px;
        color: $color-white;
        font-family: $font-family-helvetica;
    }
}

.custom-radio {
    display: flex;
    gap: 5px;
    cursor: pointer;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    span.custom-radio__radio-btn {
        display: inline-flex;
        align-items: center;
        user-select: none;
        vertical-align: bottom;

        &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #5D5D6C;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            background-color: black;
            vertical-align: bottom;
        }
    }
  
    padding: 7px;
    border-radius: 5px;
  
    &:hover {
    //   background-color: #1f2535;
      background-color: #343642;
    }
  
    > input {
      &:focus:not(:checked) + span.custom-radio__radio-btn::before {
        border-color: #80bdff;
      }
  
      &:checked + span.custom-radio__radio-btn::before {
        border-color: pink;
        background-color: pink;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }

    &__radio-text {
        font-family: $font-family-helvetica;
    }
}




// ---------- slider ----------

// html,
// body {
//     position: relative;
// }

.dynamic-gallery-button {
    display: flex;
    position: absolute;
    top: 7%;
    right: 5px;
    width: 20px;
    height: 30px;
    padding: 0;
    z-index: 10;
    opacity: 0.9;
    background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='22px' height='22px'><path style='fill:rgb(255, 255, 255)' d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/></svg>") 100% no-repeat;
    background-color: transparent;
}

.image-slider__slide,
.image-slider-2__slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;
    background-position: center;

    img {
        display: block;
        // width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-slider {
    height: 92%;
    width: 100%;

    &__image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.image-slider-2 {
    height: 8%;
    box-sizing: border-box;
    width: 100%;
    // align-items: center;
    max-width: 800px;

    &__wrapper {
        // justify-content: center;
    }

    &__slide {
        // width: 25% !important;
        // width: auto;
        height: 100%;
        opacity: 0.4;

        &.swiper-slide {
            width: auto;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }
}

.slider-buttons {

    &__button {
        // color: $color-white !important;

        &.swiper-button-next,
        &.swiper-button-prev {
            top: calc(50% - 100px);
            color: $color-white;
        }

        &.swiper-button-next {
            margin-right: 50px;
        }
        &.swiper-button-prev {
            margin-left: 50px;
        }
    }

    @media (max-width: 991px) {
        display: none;
        visibility: hidden;
    }
}

// .swiper-button-next {
//     margin-right: 50px !important;
// }
// .swiper-button-prev {
//     margin-left: 50px !important;
// }

// -------- end-slider --------
