$color-background-default: #06070d;
$color-white: #fff;
$color-pink: #FAA7D9;
$color-border-pink: #f588d1;
$color-errorlist: rgb(255, 91, 91);
$color-entranceOr-background: #27303b;
  // @media (max-width: 991px) {
  //   & {
  //     width: 33.333%;
  //     padding-bottom: 40px;
  //   }
  // }
  // @media (min-width: 992px) {
  //   &:hover {
  //     .cover-item-gallery-container {
  //       opacity: 1;
  //       visibility: visible;
  //       pointer-events: all;
  //     }
  //   }
  // }

.reg-container {
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* box-sizing: border-box; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-menu {
  border-radius: 20px;

  /* width: 856px;
  height: 690px; */

  /* width: auto; */
  height: auto;
  background: #06080D;
  display: flex;
  box-shadow: 0 40pt 50pt 0 rgb(0 0 0 / 35%);

  @media (max-width: 991px) {
    & {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }
}

.form-container {
  flex-grow: 1;
  position: relative;
  width: 440px;

  @media (max-width: 991px) {
    & {
      min-width: 276px;
      max-width: none;
    }
  }
}

.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: none;
  font-size: 30px;
  margin: 15px 17px;
  color: $color-white;
}

.reg-menu__form {
  // justify-content: space-around;
  /* padding: 40px 48px; */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */

  @media (max-width: 991px) {
    & {
      padding: 40px 30px;
    }
  }
}

.reg-menu__form h2 {
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0;

  /* font-size: 40px; */
  font-size: calc(30px + 12 * (100vw / 1600));
  line-height: 42px;
  color: $color-pink;
  margin: 0 0 3px;
}

.reg-menu__reg-form {
  /* margin: 40px 0 53px; */
  margin: 40px 0 0;

  p {
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 40px;
      padding: 5px;
      background-color: $color-background-default;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid $color-border-pink;
      color: $color-white;

      &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
        color: pink;
      }

      &:focus {
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
          opacity: 0.7;

          /* border: 2px solid #f588d1; */
        }

        border-bottom: 2px solid $color-border-pink;
      }
    }
  }
}

.btn-reg {
  // position: absolute;
  position: relative;
  // left: 0%;
  // top: 0%;
  transform: translateX(0%) translateY(0%);
  // border: none;
  margin-top: 20px;
  background: #FAA7D9;
  color: black;
  width: 100%;
  height: auto;
  min-height: 50px;
  // border-radius: 5px;
  font-size: 18px;
  // font-family: "Helvetica", sans-serif;
  font-weight: 500;
  transition: 0.6s;
  overflow: hidden;

  &:focus {
    outline: 0;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    background: $color-white;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: $color-white;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  @media (max-width: 991px) {
    & {
      &::before, &::after {
        display: none;
      }
    }
  }
}

.btn-reg:hover {
  background: #fd6fce;
  cursor: pointer;

  &:before {
    -webkit-transform: translateX(540px) skewX(-15deg);
    -ms-transform: translateX(540px) skewX(-15deg);
    transform: translateX(540px) skewX(-15deg);
    opacity: 0.6;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  &:after {
    -webkit-transform: translateX(540px) skewX(-15deg);
    -ms-transform: translateX(540px) skewX(-15deg);
    transform: translateX(540px) skewX(-15deg);
    opacity: 1;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
}

.errorlist {
  word-wrap: break-word;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 100;
  color: $color-errorlist;
}

.fData {
  margin-top: 5px;
  text-align: right;

  a {
    /* font-family: Inter; */
    font-style: regular;
    color: rgb(233, 233, 233);
  }
}

._1AOkp {
  display: flex;
  margin: 15px 0 15px 0;
  height: 32px;
  align-items: center;
}

.line {
  width: 100%;
  // display: flex;
  // margin: 20px 0 20px 0;
  background-color: rgb(170, 170, 170);
  // flex: 1;
}

.or {
  color: rgb(170, 170, 170);
  font-size: 18px;
  margin: 0 8px 1px;
}

.reg-menu__entranceOr {
  display: flex;
  margin-bottom: 8px;

  /* border-color: #5D5D6C; */
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: $color-entranceOr-background;
  border: none;

  /* border: 1px solid #b1b1b9; */
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  svg {}

  div {
    padding-left: 15px;
    color: rgb(212, 212, 212);
  }
}

.sign-icon {
  position: absolute;
  left: 0;
  margin-top: 5px;
  
}