{% load static %}
<footer class="footer">
    <div class="footer-info">
        <div class="footer-info__title">
            <ul>
                <li class="footer-info__title-text">В случаях нарушения авторских прав - нам похуй</li>
            </ul>
        </div>
        <div class="footer-info__title">
            <ul>
                <li class="footer-info__title-text"><a href="https://www.donationalerts.com/r/ggilinoff">Поддержать
                        сайт</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-link">
        <div class="footer-link__social-links">
            <a href="" class="footer-link__social-link"><i class="fa-brands fa-vk"></i></a>
            <a href="" class="footer-link__social-link"><i class="fa-brands fa-telegram"></i></a>
            <a href="" class="footer-link__social-link"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>