<aside id="profile-menu-mobile">
    <div class="header-menu">
        <span class="close-ham-menu-2">
            <i class="fa-solid fa-xmark close-icon"></i>
        </span>
        <div class="header-menu__title">Профиль</div>
    </div>
    <div class="nav-menu-links menu-wrapper menu-section">
        <a href="" class="nav-menu__link"><i class="fa-solid fa-user"></i>Мой профиль</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-heart"></i>Лайки</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-bell"></i>Уведомления</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-user-group"></i>Подписки</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-clipboard"></i>Мои посты</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-user-xmark"></i>Игнор лист</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-gear"></i>Настройки</a>
        <a href="{% url 'signup' %}" class="nav-menu__link"><i class="fa-solid fa-right-from-bracket"></i>Выход</a>
    </div>
</aside>