{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05060C">

    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/page.css' %}">

    <!-- modal window -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">

    {% block compressible_stylesheet %}{% endblock %}
    {% block uncompressible_stylesheet %}{% endblock %}

    <title>{{title}}</title>
</head>

<body id="body">
    {% include "html/_search.html" %}
    <div class="mobileMenuBackground"></div>
    <div class="wrapper">
        {% include "html/_header.html" %}
        <main class="page">
            <div class="container">
                <div class="page__wrapper">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </main>
        {% include "html/_nav-mobile.html" %}
        {% include "html/_profile-menu-mobile.html" %}
        {% include "html/_footer.html" %}
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
    <!-- modal window -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static '/libs/autosize.min.js' %}"></script>
    <script src="{% static '/js/device.js' %}"></script>
    <script src="{% static '/js/search-tags.js' %}"></script>
    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static 'libs/iziToast.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/libs/swiped-events.min.js' %}"></script>
    {% block script %}
    {% endblock %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script> -->
    <script>
        let urlTag = "{% url 'tags-filter' %}"

    </script>

    {% if messages %}
    <script>
        {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        iziToast.success({
            title: 'Успешно',
            message: '{{message}}',
        });
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        iziToast.info({
            title: '{{message}}',
        });
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        iziToast.warning({
            title: 'Предупреждение!',
            message: '{{message}}',
        });
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        iziToast.error({
            title: 'Ошибка!',
            message: '{{message}}',
        });
        {% endif %}

        {% endfor %}
    </script>

    {% endif %}
    <script>
        const lg = document.getElementById("lightgallery");
        // const plugin = lightGallery(lg);
    </script>
</body>

</html>