@import "./pages/_header";
@import "./pages/_main";
@import "./pages/_gallery_masonry";
@import "./pages/_gallery-filter";
@import "./pages/_slider";
@import "./pages/_mobile-menu";
@import "./pages/_footer";
