{% extends 'accounts/base_auth.html' %}

{% block content %}

<h2 class="reg-menu__title">Вход</h2>

<form class="reg-menu__form" method="post">
    {% csrf_token %}

    <div class="reg-menu__input-list">
        <div class="form-error">{{form.non_field_errors}}</div>
        {% for f in form %}
        <div class="form-error">{{f.errors}}</div>
        <p>{{f}}</p>
        {% endfor %}
    </div>

    <div class="reg-menu__controls">
        <button class="btn-reg button" type="submit">Войти</button>

        <div class="fData" style="margin-top: 13px;">
            <a class="fData__link" href="{% url 'password_reset_form' %}">Я забыл логин/пароль</a>
        </div>

        <div class="_1AOkp">
            <div class="line"></div>
            <div class="or">или</div>
            <div class="line"></div>
        </div>

        {% include "accounts/another_auth_block.html" %}

        <div class="fData">
            <a class="fData__link" href="{% url 'signup' %}">Зарегестрироваться</a>
        </div>
    </div>
</form>

{% endblock %}