{% extends 'accounts/base_auth.html' %}

{% block content %}

<h2 class="reg-menu__title">Вход</h2>
<form class="reg-menu__form auth" method="post">
    {% csrf_token %}

    <div class="reg-menu__input-list">
        <div class="form-error">{{form.non_field_errors}}</div>

        <div class="reg-menu__input-item">
            <div class="form-error">{{form.username.errors}}</div>
            {{form.username}}
            <div class="reg-menu__placeholder">
                <div class="reg-menu__placeholder-text">Никнейм или email</div>
            </div>
        </div>
        <div class="reg-menu__input-item">
            <div class="form-error">{{form.password.errors}}</div>
            {{form.password}}
            <div class="reg-menu__placeholder">
                <div class="reg-menu__placeholder-text">Пароль</div>
            </div>
        </div>
    </div>

    <div class="reg-menu__controls">
        <button class="btn-reg button" type="submit">Войти</button>

        <div class="fData">
            <a class="fData__link" href="{% url 'password_reset_form' %}">Я забыл логин/пароль</a>
        </div>

        <div class="_1AOkp">
            <div class="line"></div>
            <div class="or">или</div>
            <div class="line"></div>
        </div>

        {% include "accounts/another_auth_block.html" %}

        <div class="fData">
            <a class="fData__link" href="{% url 'signup' %}">Зарегестрироваться</a>
        </div>
    </div>
</form>

{% endblock %}