{% extends 'base-page.html' %}
{% load static %}


{% block compressible_stylesheet %}
<link rel="stylesheet" href="{% static 'accounts/css/base-profile.css' %}">
{% block compress-style-page %}
{% endblock %}
{% endblock %}


{% block uncompressible_stylesheet %}

{% block uncompress-style-page %}
{% endblock %}
{% endblock %}


{% block main %}
<div class="account-container">
    <div class="account-header">
        <div class="account-header__hat">
            <img class="account-hat-image" src="{% static 'accounts/images/main_8.Сакура.jpg' %}">
        </div>
        <div class="account-header__user">
            <div class="account-user">
                <div сlass="account-user__avatar-wrapper">
                    {% if request.user.avatar %}
                    <img class="account-user__avatar avatar" src="{{request.user.avatar.url}}">
                    {% else %}
                    <img class="account-user__avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}">
                    {% endif %}
                </div>
                <div class="account-user__info">
                    <span class="account-user__username">{{request.user.username}}</span>
                    {% if request.user.is_superuser %}
                    <span class="account-user__status">
                        Admin
                    </span>
                    {% endif %}
                </div>
            </div>

            <div class="dark-btn button">
                <a href="{% url 'logout' %}" class="dark-btn__link"></a>
                <div class="dark-btn__icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                <!-- <a href="{% url 'signup' %}" class="dark-btn__button">Выход</a> -->
                <span class="dark-btn__button">Выход</span>

            </div>
        </div>
        <div class="account-header__nav">
            <div class="account-nav">
                {% with request.path as url %}
                <div class="account-nav__item">
                    {% url 'profile' as profile_url%}
                    <a href="{{profile_url}}" class="account-nav__link {% if url == profile_url %}_active{% endif %}">Профиль</a>
                </div>
                <div class="account-nav__item">
                    {% url 'user_notifications' as notifications_url %}
                    <a href="{{notifications_url}}" class="account-nav__link {% if url == notifications_url %}_active{% endif %}">Уведомления</a>
                </div>
                <div class="account-nav__item">
                    {% url 'user_liked_posts' as user_liked_posts_url %}
                    <a href="{{ user_liked_posts_url }}" class="account-nav__link {% if url == user_liked_posts_url %}_active{% endif %}">Лайки</a>
                </div>
                <div class="account-nav__item">
                    {% url 'self_user_posts' as self_user_posts_url %}
                    <a href="{{self_user_posts_url}}" class="account-nav__link {% if url == self_user_posts_url %}_active{% endif %}">Мои посты</a>
                </div>
                <div class="account-nav__item">
                    {% url 'user_subscriptions' as user_subscriptions_url %}
                    <a href="{{user_subscriptions_url}}" class="account-nav__link {% if url == user_subscriptions_url %}_active{% endif %}">Подписки</a>
                </div>
                <div class="account-nav__item">
                    <a href="#" class="account-nav__link">Настройки</a>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="account-body">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'accounts/js/base-profile.js' %}"></script>
{% block script-page %}
{% endblock %}
{% endblock %}