{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/password.css' %}">

    <title>Log In</title>
</head>

<body id="body">
    <div class="wrapper">
        <main class="reg-container">

            {% block content %}{% endblock %}

        </main>
    </div>


    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/js/scripts.js' %}"></script>
</body>

</html>