{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/password.css' %}">

    <title>Log In</title>
</head>

<body id="body">
    <div class="wrapper">
        <div class="loading-box">
            <div class="pulse-container">
                <div class="pulse-bubble pulse-bubble-1"></div>
                <div class="pulse-bubble pulse-bubble-2"></div>
                <div class="pulse-bubble pulse-bubble-3"></div>
            </div>
        </div>
        <main class="reg-container">
            <div class="reg-menu">
                <div class="reg-menu__container">
                    <a class="close-btn" href="{% url 'home' %}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                    <div class="reg-menu__inner">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/js/reg-script.js' %}"></script>
</body>

</html>