{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block content %}

<!-- <div>
    <canvas id="all-dashboard" aria-label="Общая статистика"></canvas>
</div> -->

<div>
    <canvas id="dashboard1" aria-label="Кол-во тегов"></canvas>
</div>

<div>
    <canvas id="dashboard2"></canvas>
</div>

<div>
    <canvas id="dashboard3"></canvas>
</div>

<div>
    <canvas id="dashboard4"></canvas>
</div>


{% block script-page %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'accounts/js/statistics.js' %}"></script>

<script>
    const tlabelsList = {{ tlabels| safe}};
    const tvaluesList = {{ tvalues| safe}};

    const views_labelsList = {{ views_labels| safe}};
    const views_valuesList = {{ views_values| safe}};

    const likes_labelsList = {{ likes_labels| safe}};
    const likes_valuesList = {{ likes_values| safe}};

    const sub_labelsList = {{ sub_labels| safe}};
    const sub_valuesList = {{ sub_values| safe}};
</script>
{% endblock %}

{% endblock %}