{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'accounts/css/notification.css' %}">
{% endblock %}

{% block uncompress-style-page %}
{% endblock %}

{% block content %}
<div class="notification-container">


    <div class="notification-menu">

        <div class="notification-menu__title title">
            {% if unread %}
            Новые
            {% endif %}
        </div>

        <div class="notification-menu__controls">
            <a href="{% url 'all_notification_read' %}" class="notification-menu__btn button dark-btn">Прочитать все</a>
            <a href="{% url 'all_notification_delete' %}"
                class="notification-menu__btn button button-red dark-btn">Удалить все</a>
        </div>
    </div>
    {% if unread %}

    <div class="notification-list grid--masonry">
        {% for notification in unread %}
        <div class="notification-list__item">
            <div class="notification-list__content">

                <div class="notification-list__inner">
                    <div class="notification-list__header">
                        <div class="notification-list__title title">
                            {{notification.verb}}
                        </div>
                        <div class="notification-list__time">
                            {{notification.timestamp}}
                        </div>
                        <div class="notification-list__controls">
                            <a href="{% url 'notification_read' notification.pk %}"
                                class="notification-list__btn button button-green tooltip" aria-label="Прочитать"><i
                                    class="fa-solid fa-check"></i></a>
                            <a href="{% url 'notification_delete' notification.pk %}"
                                class="notification-list__btn button button-red tooltip" aria-label="Удалить"><i
                                    class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                    {% if notification.description %}
                    <div class="notification-list__text">
                        {{notification.description|safe}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    {% if readed %}
    <div class="notification-menu">
        <div class="notification-menu__title title">
            Все
        </div>
    </div>

    <div class="notification-list grid--masonry">
        {% for notification in readed %}
        <div class="notification-list__item">
            <div class="notification-list__content">
                <div class="blackout"></div><!-- затемнение -->
                <div class="notification-list__inner">
                    <div class="notification-list__header">
                        <div class="notification-list__title title">
                            {{notification.verb}}
                        </div>
                        <div class="notification-list__time">
                            {{notification.timestamp}}
                        </div>
                        <div class="notification-list__controls">
                            <a href="{% url 'notification_delete' notification.pk %}"
                                class="notification-list__btn button button-red tooltip" aria-label="Удалить"><i
                                    class="fa-solid fa-xmark"></i></a>
                        </div>
                    </div>
                    {% if notification.description %}
                    <div class="notification-list__text">
                        {{notification.description|safe}}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    {% endif %}

    {% if not unread and not readed %}
    <div class="posts-not-found">
        <span>Уведомлений нет</span>
        <div class="posts-not-found__icon">
            <img src="{% static 'posts/images/icon/2437-qiqi-cry.gif' %}" width="70px" height="70px">
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block script-page %}
<script src="{% static 'accounts/js/grid-masonry.js' %}"></script>
{% endblock %}