{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05060C">
    <!-- modal window -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/post-add.css' %}">
    <link rel="stylesheet" href="{% static '/css/air-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <title>{{title}}</title>
</head>

<body id="body">
    <div class="wrapper">
        <main class="page">
            <div class="container">
                <div class="page__wrapper">
                    <div class="post-add-wrapper">
                        <form id="form-container" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% include "accounts/base_post_form_body.html" %}

                            <button class="dark-btn button">Создать</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <!-- modal window -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static '/libs/autosize.min.js' %}"></script>
    <script src="{% static '/libs/air-datepicker.js' %}"></script>
    <script src="{% static '/libs/swiped-events.min.js' %}"></script>
    <script src="{% static '/js/device.js' %}"></script>

    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static 'accounts/js/post-add.js' %}"></script>


    <form id="tag_creation_form" method="post">

        {% csrf_token %}
        {{tag_form.as_p}}
        <input type="submit" value="Создать">
    </form>


    <script>
        $('#tag_creation_form').on('submit', function (event) {
            event.preventDefault();
            console.log("123");
            $.ajax({
                url: '{% url "create_post_tag" %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    name: $('#id_name').val(),
                },

                success: function (json) {
                    console.log(json);
                },
                error: function (response) {
                    console.log(response.responseJSON.error)
                }
            });

        });
    </script>

</body>

</html>