{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05060C">
    <!-- modal window -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/post-add.css' %}">
    <link rel="stylesheet" href="{% static '/css/air-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <title>{{title}}</title>
</head>

<body id="body">

    <div id="addtags-window" class="modal popup">
        <div class="popup__inner">
            <div class="popup__content">
                <div class="mymodal">
                    <div class="mymodal__header">
                        <div class="mymodal__title title-block">Придумайте свой тег</div>
                    </div>
                    <form method="post" id="tag_creation_form" data-url="{% url 'create_post_tag' %}">
                        {% csrf_token %}
                        <div class="mymodal__body">
                            <div class="form-error">
                                <ul class="errorlist">

                                </ul>
                            </div>
                            <div class="mymodal__input">
                                {{tag_form.name}}
                            </div>
                        </div>
                        <div class="mymodal__controls">
                            <div class="mymodal__buttons">
                                <!--                            <button class="mymodal__btn button" type="submit">Сохранить</button>-->
                                <button class="mymodal__btn button button_pink" type="submit"
                                    rel="modal:close">Добавить</button>
                                <a class="mymodal__btn button button_red" rel="modal:close">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <main class="page">
            <div class="container">
                <div class="page__wrapper">
                    <div class="post-add-wrapper">
                        <form id="form-container" method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}

                            {% include "accounts/base_post_form_body.html" %}

                            <button class="dark-btn button">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <!-- modal window -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="{% static '/libs/autosize.min.js' %}"></script>
    <script src="{% static '/libs/air-datepicker.js' %}"></script>
    <script src="{% static '/js/device.js' %}"></script>

    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static 'accounts/js/post-add.js' %}"></script>
    <script src="{% static 'accounts/js/post-change.js' %}"></script>

    <!-- <script>
        $('#tag_creation_form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                url: '{% url "create_post_tag" %}',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    name: $('#id_name').val(),
                },

                success: function (json) {
                    console.log(json);

                },
                error: function (response) {
                    console.log(response.responseJSON['errors'][0])
                }
            });

        });
    </script> -->
</body>

</html>