{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05060C">
    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/post-add.css' %}">
    <link rel="stylesheet" href="{% static '/css/air-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <title>{{title}}</title>
</head>

<body id="body">
    <div class="wrapper">
        <main class="page">
            <div class="container">
                <div class="page__wrapper">
                    <div class="post-add-wrapper">
                        <form id="form-container" method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}

                            {% include "accounts/base_post_form_body.html" %}

                            <button class="dark-btn button">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <script src="{% static '/libs/autosize.min.js' %}"></script>
    <script src="{% static '/libs/air-datepicker.js' %}"></script>
    <script src="{% static '/js/device.js' %}"></script>

    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static 'accounts/js/post-add.js' %}"></script>


</body>

</html>