{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block uncompress-style-page %}
<link rel="stylesheet" href="{% static '/css/air-datepicker.css' %}">
{% endblock %}


{% block content %}
<div class="profile-container">
    <form id="user_profile_form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-list">
            <div class="input-list__item">
                <div class="input-list__text">{{form.avatar.label}}</div>
                <div class="input-list__input input-file">
                    {{form.avatar}}
                    <label for="input-file__input" class="input-file__btn">
                        <div class="input-file__icon">
                            <svg class="input-file__not-selected" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path
                                    d="M256 0C114.6 0 0 114.6 0 256S114.6 512 256 512s256-114.6 256-256S397.4 0 256 0zM135 241c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l87 87 87-87c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 345c-9.4 9.4-24.6 9.4-33.9 0L135 241z" />
                            </svg>
                            <svg class="input-file__selected" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path
                                    d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                            </svg>
                        </div>
                        <span class="input-file__text">Выбрать</span>
                    </label>
                </div>
            </div>
            <div class="input-list__item">
                <div class="input-list__text">{{form.username.label}}</div>
                <div class="input-list__input">{{form.username}}</div>
            </div>
            <div class="input-list__item">
                <div class="input-list__text">{{form.email.label}}</div>
                <div class="input-list__input">{{form.email}}</div>
            </div>
            <div class="input-list__item">
                <div class="input-list__text">{{form.birth_date.label}}</div>
                <div class="input-list__input">
                    {{form.birth_date}}
                    <span class="date-inp-icon">
                        <i class="fa-regular fa-calendar-days"></i>
                    </span>
                </div>
            </div>
        </div>
        <!-- <div class="form-error">{{f.errors}}</div> -->
        <button class="dark-btn button">Сохранить</button>
    </form>
</div>
{% endblock %}


{% block script-page %}
<script src="{% static '/libs/air-datepicker.js' %}"></script>
<script src="{% static 'accounts/js/profile.js' %}"></script>

<script>
    messagePopup('Это алерт', true);
</script>
{% endblock %}