{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block uncompress-style-page %}
{% endblock %}

{% block content %}
<div class="profile-container">
    <form id="user_profile_form" method="post" action="{% url 'profile_edit' %}">
        {% csrf_token %}
        {% for f in form %}
        <div class="form-error">{{f.errors}}</div>
        {{f.label}}
        {{f}}
        {% endfor %}
        <input type="submit" id="submit_form" value="Сохранить">
    </form>
</div>
{% endblock %}

{% block script-page %}
<script src="{% static 'accounts/js/profile.js' %}"></script>
{% endblock %}