{% extends 'posts/base.html' %}
{% load static %}

{% block compressible_stylesheet %}
<link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
{% endblock %}

{% block uncompressible_stylesheet %}
{% endblock %}

{% block content %}
<div class="account-container">
    <div class="account-header">
        <div class="account-header__hat">
            <img class="account-hat-image" src="{% static 'accounts/images/main_8.Сакура.jpg' %}">
        </div>
        <div class="account-header__user">
            <div class="account-user">
                <div сlass="account-user__avatar-wrapper">
                    <img class="account-user__avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}">
                </div>
                <div class="account-user__info">
                    <span class="account-user__username">
                        gglin
                    </span>
                    <span class="account-user__status">
                        Admin
                    </span>
                </div>
            </div>

            <div class="logout-btn button">
                <a href="{% url 'logout' %}" class="logout-btn__link"></a>
                <div class="logout-btn__icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></div>
                <!-- <a href="{% url 'signup' %}" class="logout-btn__button">Выход</a> -->
                <span class="logout-btn__button">Выход</span>

            </div>
        </div>
        <div class="account-header__nav">
            <div class="account-nav">
                <div class="account-nav__item _active">
                    <span class="account-nav__text">Профиль</span>
                </div>
                <div class="account-nav__item">
                    <span class="account-nav__text">Уведомления</span>
                </div>
                <div class="account-nav__item">
                    <span class="account-nav__text">Лайки</span>
                </div>
                <div class="account-nav__item">
                    <span class="account-nav__text">Мои посты</span>
                </div>
                <div class="account-nav__item">
                    <span class="account-nav__text">Подписки</span>
                </div>
                <div class="account-nav__item">
                    <span class="account-nav__text">Настройки</span>
                </div>
            </div>
        </div>
    </div>
    <div class="account-body">
        <form id="user_profile_form" method="post">
            {% csrf_token %}
            {% for f in form %}
            <div class="form-error">{{f.errors}}</div>
            {{f.label}}
            {{f}}
            {% endfor %}
            <input type="submit" id="submit_form" value="Сохранить">
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#user_profile_form').on('submit', function (event) {
        event.preventDefault();

        $.ajax({
            url: '{% url "profile_edit" %}',
            type: 'POST',
            data: {
                username: $('#id_username').val(),
                email: $('#id_email').val(),
                avatar: $('#id_avatar').val(),
                birth_date: $('#id_birth_date').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },

            success: function (json) {
            },
        });

    });
</script>
{% endblock %}