{% extends 'accounts/base_auth.html' %}

{% block content %}
    <div class="regMenu">
        <div class="formContainer">
            <a class="closeBtn" href="">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <div class="form">
                <h2>Регистрация</h2>
                <form class="regForm" method="post">

                    {% csrf_token %}

                    {% for f in form %}
                    <div class="form-error">{{f.errors}}</div>
                    <p>{{f}}</p>
                    {% endfor %}

                    <div>
                        <button class="btnReg" type="submit">Создать аккаунт</button>
                    </div>

                    <div class="_1AOkp">
                        <div class="line"></div>
                        <div class="or">или</div>
                        <div class="line"></div>
                    </div>

                    {% include "accounts/another_auth_block.html" %}

                    <div class="fData" style="margin-top: 32px;">
                        <a href="{% url 'login' %}">Уже зарегестрирован</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}