{% extends 'accounts/base_auth.html' %}

{% block content %}

<h2 class="reg-menu__title">Регистрация</h2>

<form class="reg-menu__form" method="post">

    {% csrf_token %}

    <div class="reg-menu__input-list">
        {% for f in form %}
        <div class="form-error">{{f.errors}}</div>
        <p>{{f}}</p>
        {% endfor %}
    </div>
    <div class="reg-menu__controls">
        <button class="btn-reg button" type="submit">Создать аккаунт</button>
        <div class="_1AOkp">
            <div class="line"></div>
            <div class="or">или</div>
            <div class="line"></div>
        </div>

        {% include "accounts/another_auth_block.html" %}

        <div class="fData">
            <a class="fData__link" href="{% url 'login' %}">Уже зарегестрирован</a>
        </div>
    </div>
</form>

{% endblock %}