{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'posts/css/art_all.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/user-posts.css' %}">
{% endblock %}

{% block uncompress-style-page %}
{% endblock %}

{% block content %}
<div class="my-posts-info__item add-post">
  <div class="my-posts-info__title title">Добавить пост</div>

  <div class="add-post-container">
    <!-- <div class="add-post-inner"> -->
    <!-- </div> -->
    <a href="{% url 'create_post' %}" class="add-post-btn">
      <i class="add-post-btn__icon fa-solid fa-plus"></i>
    </a>
  </div>
</div>
{% if posts %}
<div class="my-posts-container">
  <div class="my-posts-info">
    <div class="my-posts-info__item my-post-stats">
      <div class="my-posts-info__title title">
        <span class="my-posts-info__text">Статистика</span>
      </div>
      <div class="my-stats-list">
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Просмотров</div>
            <div class="stats-info__value">{{views_amount}}</div>
          </div>
        </div>
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Лайков</div>
            <div class="stats-info__value">{{likes_amount}}</div>
          </div>
        </div>
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Комментариев</div>
            <div class="stats-info__value">{{comments_amount}}</div>
          </div>
        </div>
      </div>
      <!-- <div>
        <canvas id="all-dashboard" aria-label="Общая статистика"></canvas>
      </div> -->
    </div>
    <div class="my-posts-info__item add-post">
      <div class="my-posts-info__title title">
        <span class="my-posts-info__text">Добавить пост</span>
      </div>
      <div class="add-post-container">
        <!-- <div class="add-post-inner"> -->
        <!-- </div> -->
        <a href="{% url 'create_post' %}" class="add-post-btn">
          <i class="add-post-btn__icon fa-solid fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container-gallery">
    <section class="gallery infinite-container">
      {% for post in posts %}

      <div class="item-masonry infinite-item sizer4">
        <div class="item-masonry__wrapper">
          <div class="item-media-container">
            {% if post.status != post.STATUS.PUBLISHED %}
            <a class="item-media-container__link" href="{% url 'change_post' post.pk %}">
              {% else %}
              <a class="item-media-container__link" href="{{post.get_absolute_url}}">
                {% endif %}
                <div class="item-media-container__item">
                  <img style="object-fit: cover;" class="item-media-container__content lazy"
                    src="{{post.images.first.file.url}}" loading="lazy" alt="">
                  <!-- <video class="item-media-container__content video" width=100% height="100%"
                              src="{% static 'posts/images/video.mp4' %}"></video> -->
                  <div class="item-media-container__media-hover">
                  </div>
                </div>
              </a>
          </div>
          <div class="cover-item-gallery-container">
            {% if post.count_media > 1 %}
            <div class="dots-container">
              <ul class="dots-items">
                <li class="dots-items__item"></li>
                <li class="dots-items__item"></li>
                <li class="dots-items__item"></li>
              </ul>
            </div>
            {% endif %}
            <!-- <a href="{{post.get_absolute_url}}"></a> -->
            <div class="cover-item-gallery">
              <div>
                <div class="cover-item-gallery__items">
                  <div class="cover-item-gallery__LC">
                    <div class="post-views">
                      <div class="_39asK">
                        <div class="gallery__numcom">{{ post.views.count }}</div>
                        <span><i class="fa-regular fa-eye"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="cover-item-gallery__items-control">
                    <a href="#" class="cover-item-gallery__item-control tooltip" aria-label="Редактировать">
                      <span><i class="fa-solid fa-pen-to-square"></i></span>
                    </a>
                    <a href="#" class="cover-item-gallery__item-control tooltip" aria-label="Статистика">
                      <span><i class="fa-solid fa-chart-simple"></i></span>
                    </a>
                    <a href="#" class="cover-item-gallery__item-control button-red tooltip" aria-label="Удалить">
                      <span><i class="fa-solid fa-trash-can"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

      <div class="loading-box">
        <div class="pulse-container">
          <div class="pulse-bubble pulse-bubble-1"></div>
          <div class="pulse-bubble pulse-bubble-2"></div>
          <div class="pulse-bubble pulse-bubble-3"></div>
        </div>
      </div>
    </section>

    {% if page_obj.has_next %}
    <div>
      <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link"></a>
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="posts-not-found">
  <span>Постов нет</span>
  <div class="posts-not-found__icon">
    <img src="{% static 'posts/images/icon/2437-qiqi-cry.gif' %}" width="70px" height="70px">
  </div>
</div>
{% endif %}
{% endblock %}

{% block script-page %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'posts/libs/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'posts/libs/infinite.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'posts/js/gallery.js' %}"></script>
<script src="{% static 'accounts/js/user-posts.js' %}"></script>

<script>
  const tlabelsList = {{ tlabels| safe}};
  const tvaluesList = {{ tvalues| safe}};

  const views_labelsList = {{ views_labels| safe}};
  const views_valuesList = {{ views_values| safe}};

  const likes_labelsList = {{ likes_labels| safe}};
  const likes_valuesList = {{ likes_values| safe}};

  const sub_labelsList = {{ sub_labels| safe}};
  const sub_valuesList = {{ sub_values| safe}};
</script>
{% endblock %}