{% extends 'accounts/base-profile.html' %}
{% load static %}

{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'posts/css/art_all.css' %}">
<link rel="stylesheet" href="{% static 'accounts/css/user-posts.css' %}">
{% endblock %}

{% block uncompress-style-page %}
{% endblock %}

{% block content %}
{% if posts %}
<div class="my-posts-container">
  <div class="my-posts-info">
    <div class="my-post-stats-inner">
      <div class="title">Статистика</div>
      <div class="my-stats-list">
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Просмотров:</div>
            <div class="stats-info__value">67868687</div>
          </div>
        </div>
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Лайков:</div>
            <div class="stats-info__value">1349</div>
          </div>
        </div>
        <div class="my-stats-list__item">
          <div class="stats-info">
            <div class="stats-info__text">Комментариев:</div>
            <div class="stats-info__value">9574</div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-post">
      <div class="title">Добавить пост</div>

      <div class="add-post-container">
        <div class="add-post-inner">
          <!-- <i class="add-post-inner__icon fa-solid fa-plus"></i> -->
          <div class="add-post-inner__icon"><img src="{% static 'accounts\images\10527231.png' %}">
          </div>
          <button class="add-post-inner__btn"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-gallery">
    <section class="gallery infinite-container">
      {% for post in posts %}

      <div class="item-masonry infinite-item sizer4">
        <div class="item-masonry__wrapper">
          <div class="item-media-container">
            <a class="item-media-container__link" href="{{post.get_absolute_url}}">
              <div class="item-media-container__item">
                <img style="object-fit: cover;" class="item-media-container__content lazy"
                  src="{{post.images.first.file.url}}" loading="lazy" alt="">
                <!-- <video class="item-media-container__content video" width=100% height="100%"
                              src="{% static 'posts/images/video.mp4' %}"></video> -->
                <div class="item-media-container__media-hover">
                </div>
              </div>
            </a>
          </div>
          <div class="cover-item-gallery-container">
            {% if post.count_media > 1 %}
            <div class="dots-container">
              <ul class="dots-items">
                <li class="dots-items__item"></li>
                <li class="dots-items__item"></li>
                <li class="dots-items__item"></li>
              </ul>
            </div>
            {% endif %}
            <!-- <a href="{{post.get_absolute_url}}"></a> -->
            <div class="cover-item-gallery">
              <div>
                <div class="cover-item-gallery__items">
                  <div class="cover-item-gallery__author">
                    <div class="post-gallery">
                      <div class="post-gallery__author">
                        <a href="" class="post-gallery__link">
                          {% if post.author.avatar %}
                          <img class="post-gallery__avatar avatar" src="{{post.author.avatar.url}}">
                          {% else %}
                          <img class="post-gallery__avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}">
                          {% endif %}
                        </a>
                      </div>
                      <!-- <div class="gallery__author-name">
                                              <span style="display: contents;">nickname</span>
                                          </div> -->
                    </div>
                  </div>
                  <div class="cover-item-gallery__LC">
                    <div class="post-views">
                      <div class="_39asK">
                        <div class="gallery__numcom">{{ post.views.count }}</div>
                        <span><i class="fa-regular fa-eye"></i></span>
                      </div>
                    </div>
                    <button class="cover-item-gallery__like like-btn button {{like_active}}"
                      data-href="{{ post.get_absolute_like_url }}">
                      <!-- <i class="fa-regular fa-heart"></i> -->
                      <div class="_39asK">
                        <span class="like-cont-info">
                          <span class="like-cont__likes-number">{{post.likes.count}}</span>
                        </span>
                        <i class="like-btn__heart">
                          <svg class="like-btn__not-pressed" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                            <path
                              d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z' />
                          </svg>
                          <svg class="like-btn__pressed" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
                            <path
                              d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z' />
                          </svg>
                        </i>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

      <div class="loading-box">
        <div class="pulse-container">
          <div class="pulse-bubble pulse-bubble-1"></div>
          <div class="pulse-bubble pulse-bubble-2"></div>
          <div class="pulse-bubble pulse-bubble-3"></div>
        </div>
      </div>
    </section>

    {% if page_obj.has_next %}
    <div>
      <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link"></a>
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="posts-not-found">
  <span>Постов нет</span>
  <div class="posts-not-found__icon">
      <img src="{% static 'posts/images/icon/2437-qiqi-cry.gif' %}" width="70px" height="70px">
  </div>
</div>
{% endif %}
{% endblock %}

{% block script-page %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'posts/libs/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'posts/libs/infinite.min.js' %}"></script>
<script src="{% static 'posts/js/gallery.js' %}"></script>
<script src="{% static 'accounts/js/user-posts.js' %}"></script>
{% endblock %}