$min-width: 320px;
$max-width: 1920;
  

body {

  &._touch {
    #header-menu {
      &::before {
        display: table;
      }

      &::after {
        clear: both;
      }
    }

    // .menu-section::before {
    //   content: "";
    //   display: table;
    // }

    // .close-ham-menu {
    //   position: absolute;
    //   top: 16px;
    //   right: 25px;
    //   bottom: inherit;
    //   left: inherit;
    //   z-index: 1;
    //   font-size: 34px;
    //   color: #fd96cf;
    // }
  }
}

/* nav-menu-mobile */

#nav-menu-mobile {
  /* width: 85%; */
  height: 100%;
  min-width: 271px;
  background: #0A0C12;
  position: fixed;
  top: 0;
  left: -200%;
  transition: left .4s ease;
  z-index: 12;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  // padding-bottom: 90px;

  &._active {
    display: block;
    left: 0;
    transition: left 0.4s ease;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @media (max-width: $min-width) {
    & {
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    & {
      display: none;
    }
  }
  @media (min-width: $min-width) {
    & {
      width: 80%;
  
      /* max-width: 300px; */
    }
  }
}

#header-menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 15px 0 5px;
  background: #0A0C12;
  zoom: 1;
  height: auto;
  color: white;
}

.header-menu__title {
  margin: 0 auto;
  font-family: 'Helvetica';
  text-align: center;
  max-height: 60px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  opacity: .5;
}

#topmenu-section a.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
}

.close-ham-menu-2,
.close-ham-menu {
  // position: absolute;
  top: 16px;
  left: 25px;
  bottom: inherit;
  left: inherit;
  z-index: 1;
  font-size: 34px;
  color: #fd96cf;
}

.menu-wrapper {
  width: 90%;
  margin: auto;
  zoom: 1;
  padding: 15px 0 40px 0;
}

.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
  font-size: 10px;
  padding: 0;
  border: 0;
  margin: 0;
  background: 0 0;
  text-align: center;
  position: relative;
}

/* end-nav-menu-mobile */

/* right-menu */

#profile-menu-mobile {
  height: 100%;
  min-width: 271px;
  background: #0A0C12;
  position: fixed;
  top: 0;
  // right: 0;
  right: -100%;
  transition: left .4s ease;
  z-index: 12;
  overflow: auto;
  // padding-bottom: 90px;
  transition: 0.4s;
  // transform: translate(110%, 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &._active {
    display: block;
    right: 0;
    // transform: translate(0%, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // .close-ham-menu-2 {
  //   position: absolute;
  //   top: 16px;
  //   left: 25px;
  //   bottom: inherit;
  //   left: inherit;
  //   background-color: #000;
  //   font-weight: 700;
  // }

  @media (min-width: 992px) {
    & {
      display: none;
    }
  }

  @media (max-width: $min-width) {
    & {
      width: 100%;
    }
  }
  
  @media (min-width: $min-width) {
    & {
      width: 80%;
    }
  }
}

.nav-menu__link {
  font-family: 'Helvetica';
  padding: 12px 16px;
  position: relative;
  display: block;
  color: #ddd;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #38383a;
  -webkit-tap-highlight-color: transparent;

  i {
    width: 30px;
  }
}

/* end-right-menu */

.close-icon {
  vertical-align: middle;
}