.footer {
    background-image: -o-linear-gradient(top, #16171e 100%, #06070d -13%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #16171e), color-stop(-13%, #06070d));
    background-image: linear-gradient(to bottom, #16171e 100%, #06070d -13%);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 30px 0 15px 0;
    margin-bottom: 0;
    margin-top: 32px;
    display: grid;
    grid-row-gap: 15px;
    width: 100%;
    min-height: 280px;
    margin: 30px 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    min-width: 280px;
    max-width: 1920px;
    width: 96%;
  }
  
  .footer__title {
    width: 100%;
  
    ul {
      display: grid;
      grid-auto-rows: 28px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
  }
  
  .footer__title-text {
    font-family: 'Rubik';
    font-size: 1.3rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  
    a {
      outline-style: none;
      font-family: 'Rubik';
      font-size: 20px;
      font-weight: 700;
      font-stretch: normal;
      font-style: italic;
      line-height: normal;
      letter-spacing: normal;
      color: #FAA7D9;
    }
  }
  
  .footer__link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    min-width: 280px;
    max-width: 1200px;
  
    /* width: 96%; */
    justify-items: center;
  }
  
  .footer__social-link img {
    max-width: 100%;
    text-align: center;
    margin-right: 30px;
  }