.container-gallery {
    min-width: 280px;
    max-width: 1920px;
    width: 96%;
    margin: 0 auto;
    padding: 100px 0 30px 0;
  }

  // .sizer4 {
  //   width: 20%;
  // }
  
  // @media screen and (max-width: 912px) {
  //   .sizer4 {
  //     width: 33%;
  //   }
  // }
  
  // @media screen and (max-width: 768px) {
  //   .sizer4 {
  //     width: 50%;
  //   }
  // }
  
  // @media screen and (max-width: 480px) {
  //   .sizer4 {
  //     width: 100%;
  //   }
  // }
  
  #gallery {
    /* margin-left: 100px; */
    margin: -5px;
  }
  

  // .gutter {
  //   width: 20%;
  // }
  
  .item-masonry {
    padding: 5px;
    position: relative;
    float: left;
    // margin-bottom: 15px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }



  @media (min-width: 901px) {
    .item-masonry {
      width: 20%;
    }
  }
  @media (max-width: 1280px) {
    .item-masonry {
      width: 25%;
    }
  }
  @media (max-width: 900px) {
    .item-masonry {
      width: 33%;
    }
  }
  @media (max-width: 700px) {
    .item-masonry {
      width: 50%;
    }
  }
  @media (max-width: 480px) {
    .item-masonry {
      width: 100%;
    }
  }
  
  .cover-item-gallery {
    display: block;
  
    /* background-color: rgba(0, 0, 0, 0.1); */
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
  
    /* height: 70px; */
  
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .item-masonry:hover .cover-item-gallery {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  /* .cover-item-gallery span {
      font-size: 20px;
      color: red;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -30px;
  } */
  
  .cover-item-gallery a {
    i.fa {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -11px;
      margin-top: -11px;
    }
  }
  
  .cover-item-gallery__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    padding: 0 24px 24px;
    pointer-events: none;
    color: white;
  }
  
  ._2fvOL {
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
  }
  
  .EGj-R {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity .2s ease-in-out;
    content-visibility: hidden;
    opacity: 0;
  }
  
  .cover-item-gallery__items {
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    transition: opacity .2s ease-in-out;
  
    /* content-visibility: hidden;
    opacity: 0; */
  }
  
  /* .cover-item-gallery__items:hover,
  .EGj-R:hover {
      content-visibility: visible;
      opacity: 1;
  } */
  
  .cover-item-gallery__author {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
    align-items: flex-start;
    position: relative;
  }
  
  .gallery__author {
    margin-top: 14px;
    color: white;
    position: relative;
    max-width: 100%;
    font-family: 'Helvetica';
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: .3px;
    font-size: 18px;
  
    /* box-sizing: border-box; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
  
  .gallery__author-avatar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    pointer-events: fill;
    margin-right: 16px;
    overflow: visible;
    flex-shrink: 0;
  }
  
  .gallery__author-name {
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: .3px;
    white-space: nowrap;
    text-overflow: ellipsis;
  
    /* box-sizing: border-box; */
    overflow: hidden;
    pointer-events: fill;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  
    a {
      text-decoration: none;
      color: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  
  .cover-item-gallery__LC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // justify-content: flex-end;
    justify-content: space-around;
    // flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    // margin-left: 24px;
    flex-grow: 1;
  }
  
  .cover-item-gallery__com {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: painted;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  
  .cover-item-gallery__likes:hover, .cover-item-gallery__com:hover {
    color: rgb(255, 153, 247);
  }
  
  ._39asK {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    font-style: bold;
    line-height: 20px;
    letter-spacing: .3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 16px;
      }
    }
  }
  
  .gallery__numcom {
    text-align: right;
    line-height: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .cover-item-gallery__likes {
    margin-top: 13px;
  
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: painted;
    width: auto;
    height: auto;
    cursor: pointer;
  }