@media (max-width: 320px) {
    #nav-menu-mobile {
      width: 100%;
    }
  }
  
  @media (min-width: 320px) {
    #nav-menu-mobile {
      width: 80%;
  
      /* max-width: 300px; */
    }
  }
  
  body {
    &._pc {
      #nav-menu-mobile {
        display: none;
  
        /* visibility: hidden;
        pointer-events: none; */
      }
  
      #profile-menu-mobile {
        display: none;
      }
    }
  
    &._touch {
      #header-menu {
        &::before {
          display: table;
        }
  
        &::after {
          clear: both;
        }
      }
  
      .menu-section::before {
        content: "";
        display: table;
      }
  
      .close-ham-menu {
        position: absolute;
        top: 16px;
        right: 25px;
        bottom: inherit;
        left: inherit;
        z-index: 1;
        font-size: 34px;
        color: #fd96cf;
      }
  
      .phLogoWrap, .close-icon {
        vertical-align: middle;
      }
    }
  }
  
  /* nav-menu-mobile */
  
  #nav-menu-mobile {
    /* width: 85%; */
    height: 100%;
    min-width: 271px;
    background: #0A0C12;
    position: fixed;
    top: 0;
    left: -200%;
    -webkit-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
    z-index: 12;
    overflow: auto;
    padding-bottom: 90px;
  }
  
  #header-menu {
    width: 90%;
    margin: auto;
    padding: 15px 0 5px;
    background: #0A0C12;
    zoom: 1;
    height: auto;
  }
  
  .header-menu__title {
    font-family: 'Helvetica';
    text-align: center;
    max-height: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    opacity: .5;
  }
  
  #topmenu-section a.phLogoWrap {
    float: left;
    width: auto;
    padding-top: 0;
  }
  
  #nav-menu-mobile .close-ham-menu {
    position: absolute;
    top: 16px;
    right: 25px;
    bottom: inherit;
    left: inherit;
    font-weight: 700;
  }
  
  .menu-wrapper {
    width: 90%;
    margin: auto;
    zoom: 1;
    padding: 15px 0 40px 0;
  }
  
  #nav-menu-mobile._active {
    left: 0;
    -webkit-transition: left 0.4s ease;
    -o-transition: left 0.4s ease;
    transition: left 0.4s ease;
  }
  
  .phLogoWrap {
    float: left;
    width: auto;
    padding-top: 0;
    font-size: 10px;
    padding: 0;
    border: 0;
    margin: 0;
    background: 0 0;
    text-align: center;
    position: relative;
  }
  
  /* end-nav-menu-mobile */
  
  /* profile-menu-mobile */
  
  #profile-menu-mobile {
    height: 100%;
    min-width: 271px;
    background: #0A0C12;
    position: fixed;
    top: 0;
    right: 0%;
    -webkit-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
    z-index: 12;
    overflow: auto;
    padding-bottom: 90px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translate(110%, 0);
    -ms-transform: translate(110%, 0);
    transform: translate(110%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  
    &._active {
      -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
      transform: translate(0%, 0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .close-ham-menu-2 {
      position: absolute;
      top: 16px;
      left: 25px;
      bottom: inherit;
      left: inherit;
      background-color: #000;
      font-weight: 700;
    }
  }
  
  @media (max-width: 320px) {
    #profile-menu-mobile {
      width: 100%;
    }
  }
  
  @media (min-width: 320px) {
    #profile-menu-mobile {
      width: 80%;
    }
  }
  
  body._touch .close-ham-menu-2 {
    position: absolute;
    top: 16px;
    left: 25px;
    bottom: inherit;
    left: inherit;
    z-index: 1;
    font-size: 34px;
    color: #fd96cf;
  }
  
  .header-menu__title {
    font-family: 'Helvetica';
    text-align: center;
    max-height: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    opacity: .5;
  }
  
  .nav-menu__link {
    font-family: 'Helvetica';
    padding: 12px 16px;
    position: relative;
    display: block;
    color: #ddd;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #38383a;
    -webkit-tap-highlight-color: transparent;
  
    i {
      width: 30px;
    }
  }
  
  /* end-profile-menu-mobile */