// $color-item-gallery-mobile: #111214;

$font-family-helvetica: 'Helvetica';

$padding-wrapper: 8;
$min-width: 280-$padding-wrapper*2;

$max-width: 1920px;
$max-width-gallery__author: 100%;

$dots-image-size: 9px;
// $dots-color: #dbdada;
$dots-color: #fff;

$svg-like-size: 18px;
$text-like-size: 14px;
$svg-like-color: rgb(255, 255, 255);
$svg-like-color-active: rgb(247, 164, 222);

@mixin font-settings($font-weight, $font-size, $letter-spacing) {
  font-weight: $font-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

.container-gallery {
  // min-width: $min-width;
  // max-width: $max-width;
  // width: 96%;
  // margin: 0 auto;
}

// .sizer4 {
//   @media (min-width: 1281px) {
//     & {
//       width: 20%;
//     }
//   }
//   @media (max-width: 1280px) {
//     & {
//       width: 25%;
//     }
//   }
//   @media (max-width: 991px) {
//     & {
//       width: 33.333%;
//       padding-bottom: 40px;
//     }
//   }
//   @media (max-width: 700px) {
//     & {
//       width: 50%;
//     }
//   }
//   @media (max-width: 480px) {
//     & {
//       width: 100%;
//     }
//   }
// }

.gallery {
  margin: 0 -8px;
  /* margin-left: 100px; */
  // margin: -2px;
  
  // &__author-name {
  //   color: var(--white);
  //   font-family: $font-family-helvetica;
  //   // font-weight: 400;
  //   // font-size: 14px;
  //   // letter-spacing: .3px;
  //   @include font-settings(400, 14px, 0.3px);
  
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  
  //   /* box-sizing: border-box; */
  //   overflow: hidden;
  //   pointer-events: fill;
  //   // display: inline-flex;
  
  //   a {
  //     text-decoration: none;
  //     color: inherit;
  //     white-space: nowrap;
  //     text-overflow: ellipsis;
  //     overflow: hidden;
  //   }
  // }

  &__item {
    float: left;
    margin-bottom: 20px;

    @media (min-width: 1281px) {
      & {
        width: 20%;
      }
    }
    @media (max-width: 1280px) {
      & {
        width: 25%;
      }
    }
    @media (max-width: 991px) {
      & {
        width: 33.333%;
        // padding-bottom: 40px;
      }
  
      // &__inner {
      //   padding-bottom: 40px;
      //   // background-color: var(--bg-secondary-default);
      //   border-radius: 16px;
      // }
    }
    @media (max-width: 700px) {
      & {
        width: 50%;
      }
    }
    @media (max-width: 480px) {
      & {
        width: 100%;
      }
    }
  }

  &__content {
    position: relative;
    margin: 8px;
    padding-bottom: 35px;
    border-radius: 16px;
  }

  &__box-media {

  }

  &__link {

  }

  &__thumbnail {
    position: relative;
  }

  &__media {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &:hover {
      background: linear-gradient(0deg, rgba(6,7,13,0.4), rgba(255, 255, 255, 0));
    }
  }

  &__status {
    position: absolute;
    top: 0;
    right: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 5px;
    margin: -8px -5px 0 0;
    background-color: var(--light-violet);
  }

  &__numcom {
    font-size: $text-like-size;
    text-align: right;
    line-height: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.infinite-container {
  padding-bottom: 100px;

  &.infinite-loading {
    .loading-box {
      display: flex;
    }
  
    // &:after {
    //   content: "";
    //   background: url("https://i.ibb.co/X44BFbV/oie-1404021-L5s-X50-Pf.gif") 50% no-repeat;
    //   background-size: 100px 100px;
    //   display: block;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   height: 100px;
    // }
  }
}


// анимация загрузки
.loading-box {
  // display: flex;
  display: none;
  // width: 300px;
  // height: 300px;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  // background-color: var(--primary-purple);
  background-color: var(--primary-color);
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

// .gutter {
//   width: 20%;
// }

.item-masonry {
  // padding: 8px;
  // position: relative;
  
  // &__image {
  //   border-radius: 16px;
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   // border-radius: 8px;

  //   // @media (max-width: 991px) {
  //   //   border-radius: 8px 8px 0 0;
  //   // }
  // }


  // &:hover {
  //   .cover-item-gallery-container {
  //     background: linear-gradient(0deg, rgba(6,7,13,0.4), rgba(255, 255, 255, 0));
  //   }
  // }


  // @media (min-width: 992px) {
  //   &:hover {
  //     .cover-item-gallery-container {
  //       opacity: 1;
  //       visibility: visible;
  //       pointer-events: all;
  //       background: linear-gradient(0deg, rgba(6,7,13,0.4), rgba(255, 255, 255, 0));
  //     }
  //   }
  // }
}

.cover-item-gallery-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  // background: linear-gradient(0deg, rgba(6,7,13,0.4), rgba(255, 255, 255, 0));

  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* height: 70px; */

  // transition: opacity 0.3s ease-in-out;
  // opacity: 0;
  // visibility: hidden;
  pointer-events: none;



  // -test-
  opacity: 1;
  visibility: visible;
  // pointer-events: all;

  a {
    display: block;
    height: 100%;

    // i.fa {
    //   color: white;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   margin-left: -11px;
    //   margin-top: -11px;
    // }
  }

  // @media (max-width: 991px) {
  //   & {
  //     opacity: 1;
  //     visibility: visible;
  //     pointer-events: all;
  //     background: transparent;
  //   }
  // }
}

.cover-item-gallery {
  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // display: flex;
  // justify-content: flex-end;
  // z-index: 1;
  // padding: 0 24px 24px;
  color: var(--white);

  &__items {
    display: flex;
    position: absolute;
    // left: 13px;
    // right: 13px;
    // bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    transition: opacity .2s ease-in-out;
    pointer-events: all;
    padding: 0 5px;
  }

  &__author {
    display: flex;
    // justify-content: flex-end;
    flex-direction: column;
    // flex-grow: 2;
    overflow: hidden;
    // align-items: flex-start;
    flex: 2 1 auto;
    position: relative;
  }

  &__LC {
    display: flex;
    // justify-content: space-around;
    // align-items: flex-end;
    // flex-shrink: 0;
    // margin-left: 24px;
    // flex-grow: 1;
    // gap: 5px;
    flex: 1 1 auto;
  }

  &__like {
    margin-left: auto;
  }
  
  // &__com {
  //   /* box-sizing: border-box; */
  //   margin: 0;
  //   padding: 0;
  //   background: none;
  //   border: none;
  //   box-shadow: none;
  //   font: inherit;
  //   color: inherit;
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   pointer-events: painted;
  //   width: auto;
  //   height: auto;
  //   cursor: pointer;
  // } 
}

.post-gallery {
  // margin-top: 14px;
  color: var(--white);
  position: relative;
  max-width: $max-width-gallery__author;
  font-family: $font-family-helvetica;
  // font-weight: 400;
  // font-size: 18px;
  @include font-settings(400, 18px, normal);

  /* box-sizing: border-box; */
  display: flex;
  align-items: center;

  &__author {
    display: inline-flex;
    pointer-events: fill;
    margin-right: 16px;
    overflow: visible;
    flex-shrink: 0;
  }

  &__link {}

  &__avatar {
    width: 25px;
    height: 25px;
  }
}

.post-views {
  span i {
    font-size: calc($svg-like-size - 4px);
  }
}

.dots-container {
  position: absolute;
  top: 7px;
  left: 0;
  // left: calc(50% - ($dots-image-size * 1 + 2px * 3 + 4px));
  width: 100%;
}


.dots-items {
  display:flex;
  justify-content: center;
  color: var(--white);
  list-style: disc;

  &__item {
    font-size: 0;
    padding: 2px;

    &::before {
      content: '';
      display: inline-block;
      width: $dots-image-size;
      height: $dots-image-size;
      border-radius: 50%;
      background-color: $dots-color;
      border: 1px solid black;
      opacity: 0.5;
    }
  }
}

/* .cover-item-gallery span {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
} */

._2fvOL {
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
}

.EGj-R {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: opacity .2s ease-in-out;
  content-visibility: hidden;
  opacity: 0;
}

/* .cover-item-gallery__items:hover,
.EGj-R:hover {
    content-visibility: visible;
    opacity: 1;
} */

._39asK {
  font-family: $font-family-helvetica;
  // font-weight: 400;
  // font-size: 14px;
  // letter-spacing: .3px;
  @include font-settings(400, 14px, 0.3px);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.like-cont-info {
  text-align: right;
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
}
