@import "./pages/_header";
@import "./pages/_main";
@import "./pages/_gallery_masonry";
@import "./pages/_search-filter";
@import "./pages/_mobile-menu";
@import "./pages/_footer";

.page__wrapper {
    margin: 0 20px 0 20px;

    @media (max-width: 991px) {
        & {
            // padding: 54px 0;
            margin: 0;
            // width: 100%;
        }
    }
}

