// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';
$font-family-circeregular: 'CirceRegular';

$size-image-avatar-sm: 40px;
$size-image-avatar-md: 60px;

$like-cont-size: 22px;
// $svg-like-size: 20px;

@mixin font-settings($font-weight, $font-size, $letter-spacing) {
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
}

$max-width: 1920;
$min-width: 280;
$max-width-сontainer: 1920;
@mixin adaptive-value($property, $start-size, $end-size, $type) {
    $add-size: $start-size - $end-size;
    // только если экран меньше контейнера
    @if $type == 1 {
        #{$property}: $start-size + px;
        @media (max-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width-сontainer - $min-width}));
        }
    } @else if $type == 2 {
        // только если экран больше контейнера
        #{$property}: $start-size + px;
        @media (min-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
    }
}


// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

// .page__wrapper {
//     width: 100%;
//     // margin: 0 15px;
//     @media (max-width: 991px) {
//         & {
//           padding: 54px 0;
//           margin: 0;
//           width: 100%;
//         }
//     }
// }

.post-container {
}

.post-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    position: relative;
    border-radius: 15px;
    background-color: var(--bg-secondary-default);
    padding: 10px 100px;
    min-height: 550px;
    // max-height: 850px;
    height: 90vh;
    // width: 100%;
    // height: calc( 100vh - 100px );

    // &__image {
    //     display: flex;
    //     // height: 100%;
    //     // width: 100%;
    //     align-items: center;
    //     justify-content: center;

    //     img {
    //         max-height: calc( 100vh - 156px );
    //         max-width: 100%;
    //         // max-height: 100%;
    //     }
    // }

    @media (max-width: 700px) {
        & {
            // height: calc( 100vh - 130px );
            height: 85vh;
        }
    }
    @media (max-width: 991px) {
        & {
            padding: 0;
        }
    }
}

.post-info {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    // margin: 0 15px;
    // padding: 0 15px;

    @media (max-width: 1280px) {
        & {
            padding: 0 7px;
        }
    }
}

.like-wrap {
    display: grid;
    // grid-template-columns: 2fr 1fr;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // justify-items: center;
    gap: 15px;
}

.like-cont {
    display: flex;
    flex-direction: row;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 15px;
    @include adaptive-value('gap', 40, 15, 1);
    // justify-content: space-around;
    // width: 100%;
    color: var(--white);
    
    i {
        font-size: $like-cont-size;
        // color: white;
    }

    button {
        color: inherit;
        display: flex;
        align-items: center;
        padding: 0;
        background: transparent;
        border: none;
        font: inherit;
    }

    @media (max-width: 991px) {
        & {
            justify-content: space-around;
            width: 100%;
        }
    }
}

.post-cont-likes {
}

.like-cont-info span {
    margin-left: 5px;
    // font-family: $font-family-inter;
    // @include adaptiv-font(16,  14);
    @include adaptive-value('font-size', 16, 14, 1)
}

// &__likes-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-likes-number {
}

.post-cont-com {
    // button {
    //     display: flex;
    //     align-items: center;
    //     padding: 0;
    //     background: transparent;
    //     border: none;
    //     font: inherit;
    // }
}

// &__com-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-com-number {
}



.post-cont-views {
}

.post-views {
    display: flex;
    align-items: center;
    cursor: default;
}

// &__views-info {
//     span {
//         margin-left: 0;
//         @include adaptiv-font(16, 14);
//     }
// }

.like-cont-views-number {
}

.post-data-published {
    color: var(--white);
    // font-family: $font-family-inter;
    // font-size: 16px;
    @include adaptive-value('font-size', 16, 12, 1);
    margin-left: auto;
}

.post-info-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &__author {
        display: inherit;
        grid-template-columns: 0.1fr 3fr;
    }

    &__link {}
    
    &__avatar  {
        width: 45px;
        height: 45px;
    }
}

.subscribe-btn {
    position: relative;
	overflow: hidden;
	
	&::before,
	&::after {
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		background: var(--primary-purple);
		transition: all 0.3s ease;
	}
	
	&::before {
		width: 1px;
		height: 0;
	}
	
	&::after {
		width: 0%;
		height: 1px;
	}
	
	&:hover {
		&::before {
			height: 100%;
		}
		
		&::after {
			width: 100%;
		}
	}

    &__btn {
        align-items: center;
        display: flex;
        padding: 0;
        background: transparent;
        border: none;
        // border-radius: 10px;
        @include adaptive-value('font-size', 16, 14, 1);
        color: var(--primary-pink);
        gap: 10px;

        // font-size: 16px;
        padding: 14px;
        color: #f4f4f4;
        text-transform: uppercase;
        text-decoration: none;
        // border: 1px solid rgb(146, 148, 248);
        position: relative;
        overflow: hidden;
        
        // &:hover {
        //     box-shadow: 1px 1px 15px 5px rgba(229, 172, 255, 0.4);
        // }

        &::before,
        &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: var(--primary-purple);
            transition: all 0.3s ease;
        }
        
        &:before {
            height: 0%;
            width: 1px;
        }
        
        &:after {
            width: 0%;
            height: 1px;
        }
        
        &:hover {
          background: transparent;
            box-shadow: none;
            
            &::before {
                height: 100%;
            }
            
            &::after {
                width: 100%;
            }
        }
    }

    &._active {
        .subscribe-btn__icon {
            transform: rotate(135deg);
            box-shadow: 0 0 0 0 transparent;
            border-radius: 100%;
        }
    }

    &__icon {
        $icon-size: 20px;

        width: $icon-size;
        height: $icon-size;
        position: relative;
        transition: all 0.3s ease-in-out;
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc($icon-size / 2 - 1px);
            left: 0;
            width: 100%;
            height: 2px;
            background: var(--primary-pink);
            border-radius: 10px;
        }

        &:before {
            transform: rotate(90deg);
        }
        &:after {
        }
    }
}

.author-name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    color: var(--white);
    justify-content: space-around;

    // font-family: $font-family-inter;
    font-size: 20px;
    font-weight: 500;

    &__name {
        // @include adaptive-value('font-size', 18, 16, 1);
    }

    &__subscribers {
        font-size: 14px;
        // @include adaptive-value('font-size', 14, 12, 1);
    }
}

.post-info-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;

    &__body {}

    &__title {
        font-weight: 700;
        color: var(--light-gray);
    }

    &__content {
        margin-top: 10px;
    }
}

.post-info-comments {
    // margin-top: 80px;
    padding-top: 94px;
    
    &__container {
        padding: 20px;
        border-radius: 15px;
        // background-color: #0e1016;
        // background-color: var(--bg-secondary-default);
        @media (max-width: 991px) {
            & {
                padding: 0;
            }
        }
    }

}

.post-info-tags {

    &__title {}
}

.post-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    &__tag {
        border: 1px solid var(--border-secondary-light);
        padding: em(12) em(15);
        border-radius: 8px;
        background-color: var(--bg-tag-color);
        // color: #FCF7F1;
        color: var(--secondary-white);

        font-family: $font-family-rubik;
        // @include font-settings(600, 14px, inherit);
        font-weight: 600;
        font-size: 14px;

        &:hover {
            background-color: var(--bg-tag-color-hover);
            border: 1px solid var(--border-secondary-light-hover);
        }
    }
}

.post-info-description {

    &__title {}
}

.post-description {
    color: var(--primary-white);
    font-family: $font-family-inter;
    font-size: 16px;
}

.comments-form {
    display: grid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // display: grid;
    // grid-template-columns: 3fr 0.3fr;
    align-items: start;
    // border-bottom: 1px solid #1c1e2c;
    // background-color: var(--bg-secondary-default);
    // border-bottom: 1px solid var(--dark-line);

    &__pseudo-form {
        // padding: 12px;
        width: 100%;
        padding: 22px;
        font-family: $font-family-circeregular;
        background-color: var(--bg-light-secondary-default);
        border-radius: 3px;
        border: 1px solid var(--border-secondary-light);
        color: var(--dark-gray);
        cursor: pointer;
    }

    &__title {
        font-family: $font-family-inter;
        @include adaptive-value('font-size', 16, 14, 1);
        // font-size: 16px;
    }

    &__input {
        border: none;
    }

    // &__author {
    //     display: flex;

    //     img {
    //         margin-right: 5px;
    //         color: #000;
    //         @include adaptive-value('width', 40, 35, 1);
    //         @include adaptive-value('height', 40, 35, 1);
    //         // width: $size-image-avatar-sm;
    //         // height: $size-image-avatar-sm;
    //     }
    // }

    &__sort {
        display: flex;
        // float: right;
        justify-content: space-between;
        z-index: 1;
        justify-items: end;
        align-items: center;
        // height:100%;
        // align-items: center;
        padding: 0 0 20px;
        
        color: var(--white);
        @include font-settings(600, inherit, inherit);
    }

    &__input-comment {
        // display: grid;
        // justify-items: start;
        // height: auto;
        width: 100%;
        // height: calc(100% - 10px);

        word-break: break-word;
        resize: none;
        border: none;
        color:var(--primary-white);
        background: transparent;

        @include adaptive-value('font-size', 16, 14, 1);
    }
}

.comments-form-sorting {
    position: relative;

    &__sort-btn {
        cursor: pointer;
        font-family: $font-family-inter;
        @include adaptive-value('font-size', 16, 14, 1);
        
        i {
            margin-right: 5px;
        }
    }

    &__sortlist {
        position: absolute;
        top: 30px;
        right: 0;
        display: none;

        padding: 10px;
        // background-color: #252630;
        background-color: var(--bg-dropdown);
        border-radius: 4px;
    }
}

.button-send {
    float: right;
    padding: 5px 10px;
    // background: #0e1016;
    // background: rgb(199, 138, 162);
    // background-color: var(--pink);
    background-color: var(--primary-pink);
    color: var(--white);
    // color: #06070d;
    // border: 1px solid pink;
    border-radius: 5px;
    border: none;

    // @include adaptive-value('font-size', 16, 12, 1);
    font-size: 14px;

    &:hover {
        // box-shadow: 0px 0px 5px pink;
        // background: rgb(197, 127, 155);
        background-color: var(--bg-button-hover);
    }

    &:active {
        // background: rgb(216, 162, 162);
        // color: rgb(27, 27, 27);
        // color: pink;
        // background: rgb(190, 118, 147);
        background-color: var(--bg-button-active);
    }
}

.comments-are-forbidden {
    text-align: center;
    height: 60px;
    background-color: var(--bg-secondary-default);
    font-weight: 600;
    letter-spacing: 1.3px;
    @include adaptive-value('font-size', 20, 16, 1);
    color: var(--border-secondary-light);

    > span {
        line-height: 60px;
    }
}

.comments-list {
    margin: 0 -8px;
}

.comment {
    position: relative;

    &__inner {
        background-color: var(--bg-secondary-default);
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 3px;
    }

    &__body {
        padding: 12px 8px;
        // background-color: #13151b;
        border-radius: 10px;
    }

    &__head {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 32px;
        padding-left: 0;
    }

    &__user {
        display: inline-flex;
        align-items: center;
    }

    &__avatar {
        width: 24px;
        height: 24px;
        margin-right: 8px;
        display: block;
        // border-radius: 3px;
        border: 0;
        overflow: hidden;
        font-size: 0;
    }

    &__username {
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: 4px;
        color: var(--white);
        font-weight: 700;
        font-family: $font-family-inter;
        max-width: 220px;
        font-size: 16px;
    }

    &__date-time {
        font-size: 13px;
        font-family: $font-family-helvetica;
        color: var(--light-gray);
    }

    &__content {
        margin: 12px 0 8px;
        font-size: 16px;
        word-wrap: break-word;
        word-break: break-word;

        color: var(--primary-white);
        font-family: $font-family-inter;
    }

    &__children {
        position: relative;
        margin-left: 8px;
        padding-left: 17px;
        border-left: 1px solid #1c1e2c;
    }

    &__controls {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    // всплывающее меню с тремя точками
    // &__control-dropdown {
    //     display: inline-block;
    //     vertical-align: middle;

    //     > i {
    //         color: $color-gray;
    //     }
    // }
}

.answer-button {
    margin-right:10px;
    font-family: $font-family-helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    // color: rgb(255, 158, 190);
    color: var(--primary-pink);
    height: auto;
    cursor: pointer;

    background: transparent;
    border: none;
    padding: 0;
}

.comments-form__reply,
.comment-reply {
    width: 100%;

    .comments-form__controls,
    &__controls {
        padding: 8px 0 0 0;

        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .comments-form__input,
    &__input {
        padding: 17px;
        min-height: 80px;
        line-height: 20px;
        word-break: break-word;

        // caret-color: pink;
        background-color: var(--bg-light-secondary-default);
        border: 1px solid #5D5D6C;
        border-radius: 3px;
        color: var(--white);
        font-family: $font-family-helvetica;
    }
}

#reply-reply {
    margin-left: 10px;
}

.custom-radio {
    display: flex;
    gap: 5px;
    cursor: pointer;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    span.custom-radio__radio-btn {
        display: inline-flex;
        align-items: center;
        user-select: none;
        vertical-align: bottom;

        &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid var(--border-secondary-light);
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            background-color: var(--black);
            vertical-align: bottom;
        }
    }
  
    padding: 7px;
    border-radius: 5px;
  
    &:hover {
    //   background-color: #1f2535;
      background-color: var(--bg-dropdown-hover);
    }
  
    > input {
      &:focus:not(:checked) + span.custom-radio__radio-btn::before {
        border-color: #80bdff;
      }
  
      &:checked + span.custom-radio__radio-btn::before {
        border-color: var(--pink);
        background-color: var(--pink);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }

    &__radio-text {
        font-size: 16px;
        font-family: $font-family-helvetica;
    }
}




// ---------- slider ----------

// html,
// body {
//     position: relative;
// }

.dynamic-gallery-button {
    display: flex;
    position: absolute;
    top: 7%;
    right: 5px;
    width: 20px;
    height: 30px;
    padding: 0;
    z-index: 10;
    opacity: 0.9;
    background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='22px' height='22px'><path style='fill:rgb(255, 255, 255)' d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/></svg>") 100% no-repeat;
    background-color: transparent;
}

.image-slider__slide,
.image-slider-2__slide {
    text-align: center;
    font-size: 18px;
    background-size: cover;
    background-position: center;

    img {
        display: block;
        // width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-slider {
    height: 92%;
    width: 100%;

    &__image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.image-slider-2 {
    height: 8%;
    box-sizing: border-box;
    width: 100%;
    // align-items: center;
    max-width: 800px;
    text-align: center;

    &__wrapper {
        // justify-content: center;
        display: inline-flex !important;
        width: auto !important;
    }

    &__slide {
        // width: 25% !important;
        // width: auto;
        height: 100%;
        opacity: 0.4;

        &.swiper-slide {
            width: auto;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }
}

.slider-buttons {

    &__button {
        // color: var(--white) !important;

        &.swiper-button-next,
        &.swiper-button-prev {
            top: calc(50% - 100px);
            color: var(--white);
        }

        &.swiper-button-next {
            margin-right: 50px;
        }
        &.swiper-button-prev {
            margin-left: 50px;
        }
    }

    @media (max-width: 991px) {
        display: none;
        visibility: hidden;
    }
}

// .swiper-button-next {
//     margin-right: 50px !important;
// }
// .swiper-button-prev {
//     margin-left: 50px !important;
// }

// -------- end-slider --------
