@use "../modules/mixins";

$font-family-rubik: 'Rubik';

$width-mobile: 991px;

$max-width: 1920px;

$padding-wrapper: 8;
$min-width: 280-$padding-wrapper*2;

.footer {
  background-image: linear-gradient(to bottom, #16171e 100%, var(--bg-default) -13%);
  // grid-template-columns: 1fr;
  // grid-template-rows: 3fr 1fr;
  padding: 20px 40px 10px;
  // display: grid;
  // grid-row-gap: 15px;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  // min-height: 280px;
  // justify-content: center;
  align-items: center;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  // display: inherit;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;
  margin: 0 auto 20px;
  // min-width: $min-width;
  // max-width: $max-width;
  max-width: 1200px;
  padding: 0 10px;
  text-align: center;

  @media (min-width: $width-mobile) {
    & {
      // text-align: center;
      flex-direction: row;
    }
  }

  &__title {
    > ul {
      display: grid;
      grid-auto-rows: 28px;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__title-text {
    // font-family: $font-family-rubik;
    @include mixins.adaptive-value('font-size', 18, 14, 0);
    // font-size: 1.3rem;
    // font-weight: 600;
    // font-style: italic;
    // text-align: left;
    color: var(--white);

    > a {
      outline-style: none;
      // color: var(--primary-pink);
      color: var(--primary-color);
    }
  }
}

.footer-link {
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  margin: 0 auto;
  // min-width: $min-width;
  max-width: #{$min-width + px};

  /* width: 96%; */
  justify-items: center;

  &__social-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // color: var(--primary-pink);
    color: var(--primary-color);
    font-size: em(25);
  }

  &__social-link {
    // color: var(--primary-pink);
    color: var(--primary-color);
  }

  &__link {
    // margin-right: 30px;
  }
}
