@use "../modules/mixins";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:wght@100;300;400&display=swap");

$font-family-inter: "inter", sans-serif;
$font-family-rubik: "Rubik";
$font-family-helvetica: "Helvetica";
$font-family-natasans: "Noto Sans TC", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-circeregular: "CirceRegular";

$max-width-nav-menu: 764px;
$max-display-width: 1920px;

$padding-wrapper: 8;
$max-width: 1920;
$min-width: 280-$padding-wrapper * 2;

$width-mobile: 991px;

// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
	@return #{calc($pixels / $context)}em;
}

$max-width-container: 1920;
@mixin adaptive-value($property, $start-size, $end-size, $type) {
	$add-size: $start-size - $end-size;
	// только если экран меньше контейнера
	@if $type == 1 {
		#{$property}: $start-size + px;
		@media (max-width: #{$max-width-container + px}) {
			#{$property}: calc(
				#{$end-size + px} + #{$add-size} *
					(
						(100vw - #{$min-width - $padding-wrapper * 2 + px}) / #{$max-width-container - $min-width -
							$padding-wrapper * 2}
					)
			);
		}
	} @else if $type == 2 {
		// только если экран больше контейнера
		#{$property}: $start-size + px;
		@media (min-width: #{$max-width-container + px}) {
			#{$property}: calc(
				#{$end-size + px} + #{$add-size} *
					(
						(100vw - #{$min-width - $padding-wrapper * 2 + px}) / #{$max-width - $min-width -
							$padding-wrapper * 2}
					)
			);
		}
	} @else {
		// всегда
		#{$property}: calc(
			#{$end-size +
				px} +
				#{$add-size} *
				(
					(100vw - #{$min-width - $padding-wrapper * 2 + px}) /
						#{$max-width -
						$min-width -
						$padding-wrapper *
						2}
				)
		);
	}
}

$header-gap: 10;
.header {
	// display: grid;
	// position: fixed;
	position: sticky;
	// max-width: $max-display-width;
	margin: 0 auto;
	// top: 0;
	// left: 0;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	transition: transform 0.1s linear;

	&._hide-header {
		transform: translateY(-100%);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: inherit;
		padding: 0 #{$padding-wrapper + px};
		margin: 0 auto;
		background-color: var(--bg-default);

		@media (min-width: $width-mobile) {
			& {
				padding: 0 20px;
			}
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: #{$header-gap + px};
	height: 44px;
	min-width: #{$min-width + px};
	width: inherit;

	@media (min-width: $width-mobile) {
		& {
			height: 84px;
		}
	}

	&__text-logo {
		justify-self: start;
		display: none;

		font-size: 32px;
		font-style: italic;
		text-align: left;
		color: var(--white);

		@media (min-width: $width-mobile) {
			& {
				display: block;
			}
		}
	}

	&__control-nav {
		width: 100%;
		// height: 60%;
	}

	&__nav-list {
	}

	&__account-menu {
		display: flex;
		gap: #{$header-gap + px};
		height: 100%;
	}

	&__mobile-navigation {
		display: block;
		// padding: 0;
		// border: 0;

		// background-color: transparent;

		@media (min-width: $width-mobile) {
			& {
				display: none;
			}
		}
	}

	&__notification-icons {
		padding: 10px 0;
		display: none;
		visibility: hidden;
		pointer-events: none;
		// width: 100%;
		// height: 100%;
		// // justify-items: center;
		// align-items: center;
		// margin: 0;
		// padding: 0;

		@media (min-width: $width-mobile) {
			& {
				display: block;
				visibility: visible;
				pointer-events: all;
			}
		}
	}

	&__profile {
		display: flex;
		// grid-template-columns: repeat(2, minmax(70px, 117px));
		// grid-template-columns: 1fr;
		// grid-template-rows: 1fr;
		position: relative;
		align-items: center;
		cursor: pointer;
		gap: #{$header-gap + px};

		// font-family: $font-family-roboto;

		&._active .profile-dropdown {
			display: block;
		}
	}

	&__link {
		display: none;

		@media (min-width: $width-mobile) {
			display: block;
		}
	}
}

.login-link {
}

.signin-link {
	// display: flex;
	align-items: center;
	@include mixins.adaptive-value("font-size", 14, 10, 0);
	padding: 0 em(16);
	// border: 1px solid var(--pink);
	border: 1px solid var(--primary-color);
}

// .nav {
//   // padding: 0 30px;
//   display: none;
//   visibility: hidden;
//   pointer-events: none;

//   height: 40px;
//   border-top: solid 1px #1c1e2c;
//   z-index: 3;

//   @media (min-width: $width-mobile) {
//     & {
//       display: block;
//       visibility: visible;
//       pointer-events: all;
//     }
//   }
// }

// ---------new header-----------

// .nav {
// 	display: none;
// 	visibility: hidden;
// 	pointer-events: none;

// 	@media (min-width: $width-mobile) {
// 		& {
// 			display: block;
// 			visibility: visible;
// 			pointer-events: all;
// 		}
// 	}
// }

.nav-list {
	display: none;
	visibility: hidden;
	pointer-events: none;

	justify-content: space-around;
	align-items: center;
	// gap: 5px;
	gap: #{calc($header-gap / 2) + px};
	height: 100%;
	width: 100%;
	margin: 0 auto;
	min-width: #{$min-width + px};

	@media (min-width: $width-mobile) {
		& {
			display: flex;
			visibility: visible;
			pointer-events: all;
		}
	}

	// max-width: $max-width-nav-menu;

	// &__item {
	// 	min-width: 150px;
	// 	height: 100%;
	// 	align-items: center;
	// 	position: relative;
	// 	transition: all 0.3s ease;

	// 	background-color: var(--bg-btn-default);

	// 	&::before,
	// 	&::after {
	// 		position: absolute;
	// 		left: 0px;
	// 		width: 100%;
	// 		height: 2px;
	// 		border-radius: 10px;
	// 		pointer-events: none;
	// 		// background-color: rgb(247, 190, 237);
	// 		// background-color: var(--light-pink);
	// 		background-color: var(--primary-color);
	// 		content: "";
	// 		opacity: 0;
	// 		transition: all 0.3s;
	// 	}

	// 	&::after {
	// 		bottom: 0px;
	// 		transform: translateY(10px);
	// 	}

	// 	&._current,
	// 	&:hover {
	// 		&::after {
	// 			opacity: 1;
	// 			transform: translateY(0px);
	// 		}
	// 	}
	// }

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		// min-width: 170px;
		@include adaptive-value("width", 170, 80, 1);
		@include adaptive-value("height", 40, 42, 1);

		background-color: var(--bg-btn-default);
		border: 1px solid var(--bg-light-default);
		border-radius: 8px;
		// transition: all 0.3s ease;

		&._current,
		&:hover {
			border: 2px solid var(--primary-color);
		}
	}

	&__btn,
	&__link {
		display: flex;
		font-family: $font-family-circeregular;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		// text-transform: uppercase;
		// font-family: $font-family-inter;
		@include adaptive-value("font-size", 20, 16, 1);
		color: var(--white);
	}

	&__btn {
		border: none;
	}

	// &__text {
	// 	display: flex;
	// 	font-family: $font-family-circeregular;
	// 	justify-content: center;
	// 	align-items: center;
	// 	height: 100%;
	// 	// text-transform: uppercase;
	// 	// font-family: $font-family-inter;
	// 	@include adaptive-value("font-size", 20, 16, 1);
	// 	color: var(--white);
	// }
}

.hamburgerIcon {
	font-size: 20px;
	line-height: 44px;
	// color: var(--light-pink);
	color: var(--primary-color);

	@media (min-width: $width-mobile) {
		display: none;
	}
}

.notification-items {
	display: flex;
	// visibility: hidden;
	// pointer-events: none;
	// display: grid;
	// grid-template-columns: 1fr 1fr;
	// justify-items: center;
	gap: #{$header-gap + px};
	align-items: center;
	width: 100%;
	height: 100%;

	&__item {
		width: 40px;
		text-align: center;
		position: relative;
		cursor: pointer;

		i {
			font-size: 24px;
			color: var(--white);

			// &:hover {
			//   color: rgb(255, 195, 232);
			// }
		}

		// &:last-child {
		//   margin-right: 0;
		// }
	}

	&__icon {
		padding: 10px;
		line-height: 44px;
		border-radius: 4px;

		&:hover {
			// background-color: var(--hover-btn-default);
			// background-color: var(--bg-secondary-default);
			background-color: var(--bg-light-secondary-default);
		}
	}

	&__link {
		// display: block;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&__number-of-notifications {
		position: absolute;
		right: 0;
		top: 2px;
	}

	// @media (min-width: $width-mobile) {
	//   & {
	//     display: flex;
	//     // visibility: visible;
	//     // pointer-events: all;
	//   }
	// }
}

.number-of-notifications {
	/* если нет уведомлений */
	/* background: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0); */

	/* если есть */
	// background-color: rgb(255, 68, 68);
	// background-color: var(--red);
	color: var(--white);
	// border-radius: 8px;
	height: 15px;
	line-height: 17px;
	padding: 0 3px;

	background-color: var(--bg-notifications);
	min-width: 16px;
	border-radius: 16px;
	font-size: 10px;
	// line-height: 16px;
}

.lock-link {
	display: block;

	@media (min-width: $width-mobile) {
		display: none;
	}
}

.lock {
	// position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	// width: 50px;
	// height: 50px;
	// background-color: green;

	&__icon {
		position: relative;
		width: 20px;
		height: 14px;
		margin: auto;

		// border: 3px solid white;
		background-color: var(--primary-color);
		border-radius: 3px;
		transform: translate(0px, 5px);

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 3px;
			transition: all 0.2s ease;
		}

		&::before {
			top: -11px;
			display: block;
			width: 14px;
			height: 12px;

			border-top: 2px solid var(--primary-color);
			border-left: 2px solid var(--primary-color);
			border-right: 2px solid var(--primary-color);
			border-radius: 10px 10px 0 0;
			// transform: rotateY(0);
			// transform-origin: left;
		}

		&::after {
			top: -4px;
			display: block;
			width: 2px;
			height: 10px;
			background-color: var(--primary-color);
		}

		&:hover {
			&::before {
				top: -15px;
				// left: 6px;
				// transform: rotateY(180deg);
			}
		}
	}
}

.profile-dropdown {
	display: none;
	position: absolute;
	top: 100%;
	// left: -200%;
	right: -200%;

	background-color: var(--white);
	padding: 10px;
	min-width: 255px;
	transform: translate(0px, 5%);
	z-index: 10;
	border-radius: 4px;

	/* margin: 0 -125px; */
	overflow: auto;

	li {
		margin: 0 8px 1px;
		padding: 10px 14px;
		white-space: nowrap;

		&:hover {
			background-color: var(--secondary-white);
		}
	}

	&__Link {
		font-size: 18px;
		// font-family: $font-family-inter;
		color: var(--black);

		i {
			margin-right: 10px;
			width: 30px;
		}

		// @media (max-width: 991px) {
		//   & {
		//     font-size: 24px;
		//   }
		// }
	}

	// @media (max-width: 1000px) {
	//   & {
	//     left: initial;
	//     right: -10%;
	//   }
	// }
}

.header-profile-avatar {
	display: block;
	width: 30px;
	height: 30px;

	@media (min-width: $width-mobile) {
		width: 50px;
		height: 50px;
	}
}
