@use "../modules/mixins";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:wght@100;300;400&display=swap');


$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';
$font-family-natasans: 'Noto Sans TC', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-circeregular: 'CirceRegular';

$max-width-nav-menu: 764px;
$max-display-width: 1920px;

$width-mobile: 991px;

// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

.header {
  // display: grid;
  // position: fixed;
  position: sticky;
  max-width: $max-display-width;
  // margin: 0 auto;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: transform 0.1s linear;

  &._hide-header {
    transform: translateY(-100%);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    // padding: 0 110px;
    margin: 0 auto;
    background-color: var(--bg-default);
  }

  &__container {
    // display: grid;
    // // max-width: 1200px;
    // grid-template-columns: 0.1fr 3fr 100px 0.1fr;
    // grid-template-rows: 1fr;
    // grid-gap: 10px;
    // justify-items: center;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 10px;
    height: 44px;
    // padding: 0 20px;
    // margin: 0 auto;
    min-width: 280px;
    // max-width: 1341px;
    width: inherit;
    // width: 96%;

    @media (min-width: $width-mobile) {
      & {
        // padding: 0 10px;
        height: 54px;
        // grid-template-columns: 0.1fr 1fr 0.1fr;
      }
    }
  }

  &__logo {
    justify-self: start;
    display: none;

    @media (min-width: $width-mobile) {
      & {
        display: block;
      }
    }
  }

  &__search {
    width: inherit;
    margin: 0;
    // margin-left: 10px;

    // @media (max-width: 991px) {
    //   display: none;
    // }
  }

  &__account-menu {
    display: flex;
    gap: 20px;
    height: 100%;
  }

  &__mobile-navigation {
    display: block;
    // width: 47px;
    background-color: transparent;
    // position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;

    &::before, &::after {
      content: "";
    }
    
    @media (min-width: $width-mobile) {
      & {
        display: none;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  &__notification-icons {
    padding: 10px 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
    // width: 100%;
    // height: 100%;
    // // justify-items: center;
    // align-items: center;
    // margin: 0;
    // padding: 0;

    @media (min-width: $width-mobile) {
      & {
        display: block;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__profile {
    display: flex;
    // grid-template-columns: repeat(2, minmax(70px, 117px));
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    position: relative;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    // font-family: $font-family-roboto;

    &._active .profile-dropdown {
      display: block;
    }


  }

  &__signin-link {
    display: flex;
    align-items: center;
    @include mixins.adaptive-value('font-size', 14, 10, 0);
    // @include adaptive-value(padding-left, 16, 10, 0);
    // @include adaptive-value(padding-right, 16, 10, 0);
    padding: 0 em(16);
    // font-size: em(8);
    border: 1px solid var(--pink);
  }
}

.nav {
  // padding: 0 30px;
  display: none;
  visibility: hidden;
  pointer-events: none;

  height: 40px;
  border-top: solid 1px #1c1e2c;
  z-index: 3;
  
  @media (min-width: $width-mobile) {
    & {
      display: block;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.nav-list {

  display: flex;
  justify-content:center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 280px;
  max-width: $max-width-nav-menu;

		&__item {
      width: 150px;
      height: 100%;
      // padding: 10px 0;
      align-items: center;
      position: relative;
      transition: all 0.3s ease;
      &::before, &::after {
        position: absolute;
        left: 0px;
        width: inherit;
        height: 2px;
        pointer-events: none;
        // background-color: rgb(247, 190, 237);
        background-color: var(--light-pink);
        content: "";
        opacity: 0;
        transition: all 0.3s;
      }
      &::after {
        bottom: 0px;
        transform: translateY(10px);
      }
      &:hover::after {
        opacity: 1;
        transform: translateY(0px);
      }
		}

		&__link {
      text-transform: uppercase;
      outline-style: none;
      text-align: center;
		}

		&__text {
      display: flex;
      font-family: $font-family-circeregular;
      justify-content:center;
      align-items: center;
      height: 100%;
      text-transform: uppercase;
      // font-family: $font-family-inter;
      color: var(--white);
		}
}

.hamburgerIcon {
  font-size: 20px;
  line-height: 44px;
  // color: #fd96cf;
  color: var(--light-pink);

  @media (min-width: $width-mobile) {
    display: none;
  }
}
  
.logo {
  // font-family: $font-family-inter;
  font-size: 32px;
  font-style: italic;
  text-align: left;
  color: var(--white);
}

.notification-items {
  display: flex;
  // visibility: hidden;
  // pointer-events: none;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__item {
    width: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;

    i {
      font-size: 22px;
      color: var(--white);

      // &:hover {
      //   color: rgb(255, 195, 232);
      // }
    }

    // &:last-child {
    //   margin-right: 0;
    // }
  }

  &__icon {
    line-height: 44px;
    border-radius: 4px;

    &:hover {
      // background-color: var(--hover-btn-default);
      // background-color: var(--bg-secondary-default);
      background-color: var(--bg-light-secondary-default);
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__number-of-notifications {
    position: absolute;
    right: 0;
    top: 2px;
  }

  // @media (min-width: $width-mobile) {
  //   & {
  //     display: flex;
  //     // visibility: visible;
  //     // pointer-events: all;
  //   }
  // }
}

.number-of-notifications {
  /* если нет уведомлений */
  /* background: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0); */

  /* если есть */
  // background-color: rgb(255, 68, 68);
  // background-color: var(--red);
  color: var(--white);
  // border-radius: 8px;
  height: 15px;
  line-height: 17px;
  padding: 0 3px;

  background-color: var(--bg-notifications);
  min-width: 16px;
  border-radius: 16px;
  font-size: 10px;
  // line-height: 16px;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  // left: -200%;
  right: -200%;

  background-color: var(--white);
  padding: 10px;
  min-width: 255px;
  transform: translate(0px, 5%);
  z-index: 10;
  border-radius: 4px;

  /* margin: 0 -125px; */
  overflow: auto;

  li {
    margin: 0 8px 1px;
    padding: 10px 14px;
    white-space: nowrap;

    &:hover {
      background-color: var(--secondary-white);
    }
  }

  &__Link {
    font-size: 18px;
    // font-family: $font-family-inter;
    color: var(--black);

    i {
      margin-right: 10px;
      width: 30px;
    }

    // @media (max-width: 991px) {
    //   & {
    //     font-size: 24px;
    //   }
    // }
  }

  // @media (max-width: 1000px) {
  //   & {
  //     left: initial;
  //     right: -10%;
  //   }
  // }
}

.header-profile-avatar {
  display: block;
  width: 32px;
  height: 32px;

  @media (min-width: $width-mobile) {
    width: 40px;
    height: 40px;
  }
}
