$width-mobile: 991px;

$max-width: 1920;
$padding-wrapper: 8;

.page {
  // padding-top: 56px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // width: 100vw;

  &__wrapper {
    // max-width: 1920px;
    // position: relative;
    // border-radius: 4px;
    // padding: 94px 30px;
    // width: calc(100vw - 300px);
    // width: 80%;
    // margin-left: auto;

    // float: right;
    // width: 100%;

    /* box-sizing: border-box; */

    // padding: 100px 0;

    position: relative;
    // float: right;
    // width: calc(100% - 350px);
    width: 100%;
  }
}

.container {
  display: flex;
  // max-width: 1920px;
  margin: 15px auto;
  // margin-top: 17px;
  width: 100%;
  padding: 0 #{$padding-wrapper + px};
  // min-width: 0;
  justify-content: center;

  @media (min-width: $width-mobile) {
    & {
      padding: 0 20px;
    }
  }

  // &::after {
  //     content: "";
  //     display: block;
  //     clear: both;
  // }
}

// .page__inner {
//   flex-grow: 1;
//   max-width: 1920px;
//   // margin-top: 17px;
//   // margin: 0 auto;

//   /* padding: 0 15px 0 0; */
//   width: 100%;

//   /* box-sizing: border-box; */

//   &::after {
//     content: "";
//     display: block;
//     clear: both;

//     /* box-sizing: border-box; */
//   }
// }
