$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';

// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}



/* gallery-filter */
/* .paper { */
/* width: $min-width;
height: calc(100vh - 87px); */

/* margin-top: 110px; */
/* position: -webkit-sticky; */
/* position: sticky; */
/* float: right; */
/* top: 73px; */
/* bottom: 14px; */
/* overflow: hidden; */
/* background: black;
border-radius: 4px; */
/* box-sizing: border-box; */
/* z-index: 4; */
/* } */

/* body._touch .paper {
    display: none;
  } */

.search-container {
  // display: none;
  visibility: hidden;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%; 
  width: 100%;
  background-color: rgba(0,0,0,1);
  transition: all .2s cubic-bezier(.55,.08,.06,.97);
  transform: translate3d(0,100%,0);

  &__wrapper {
    height: 100%;
    margin: 0 10% 0 10% ;
    padding-top: 10%;
    // padding: calc(10% + 20px) 0 10px 0;
    // max-width: 700px;
    // margin: 0 auto;
    font-family: $font-family-helvetica;

    @media (max-width: 991px) {
        margin: 0;
        // padding-top: 0;
        // padding: 10px 0 calc(10% + 20px) 0;
    }
  }

  &._active {
      // display: block;
      visibility: visible;
      transform: translate3d(0,0,0);

    .search-input {
        animation: extension .3s ease;
        // transform: scaleX(1);

        @keyframes extension {
            0% {
                transform: scaleX(0);
            }
            100% {
                transform: scaleX(1);
            }
        }
    }
    .search-content {
      transform: translate3d(0,0,0) scale(1);
    }
  }  
}

#search-tags-form {
  height: 100%;
}

.search-button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: auto;
  font-size: 20px;
  // border: 1px solid #5D5D6C;
  background: transparent;
  justify-content: center;

  >i {
    color: var(--light-pink);
  }

  &:hover {
    // background-color: var(--hover-btn-default);
    // background-color: var(--bg-secondary-default);
    background-color: var(--bg-light-secondary-default);
    // border-color: $color-pink;
  }
}

.search-input {
  // display: flex;
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  max-width: 800px;
  // position: fixed;
  // z-index: 1;
  // padding: 5px 0 20px 0;
  // background-color: black;

  transition: transform 0.4s ease;
  transform: scaleX(1);

  @media (max-width: 991px) {
      max-width: 100%;
      margin: 0 15px;
  }

  &__input {
      width: 100%;
      height: 45px;
      padding: 3px 45px;
      color: var(--black);
      background-color: var(--white);
      // color: var(--secondary-white);
      // background-color: var(--bg-default);
      border: none;
      border-radius: 6px;
      font-size: 1.13em;
      // border: 2px solid var(--dark-gray);

      // &:focus {
      //   border: 2px solid var(--light-pink);
      // }
  }

  &__btn {
      top: 0;
      left: 0;
      font-size: 20px;
      color: var(--black);
      // color: var(--secondary-white);
      background-color: transparent;
  }

  &__close {
      top: 0;
      right: 0;
      font-size: 26px;
      color: var(--black);
      // color: var(--secondary-white);
  }
}

.search-input-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.search-content {
  // padding: 0 10% 0 10% ;
  // width: 80%;
  // margin: 20px auto;
  // overflow: auto;
  height: 100%;
  // height: calc(90vh);
  margin-top: 15px;
  line-height: 1.3;
  transition: transform .3s cubic-bezier(.55,.08,.06,.97);
  transform: translate3d(0,20em,0) scale(0);
}

.tags-list {
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  // height: 100%;
  height: calc(100% - 60px);

  &__tag {
      display: inline-block;
      // display: none;
      user-select: none;
      font-size: 20px;
      margin: 0.5em;
      padding: 0.5em 1em;
      // background: #1A1A1A;
      background-color: var(--bg-tag-color);
      // border: 2px solid #1A1A1A;
      border: 1px solid var(--border-secondary-light);
      color: var(--white);
      border-radius: 2em;
      cursor: pointer;
      
      transform: scale(0);
      transition: transform 0.4s;

      &:hover {
          // background: rgb(39, 39, 39);
          background-color: var(--bg-tag-color-hover);
      }

      @media (max-width: 991px) {
          font-size: 16px;
      }
      // @media (max-width: 700px) {
      //     font-size: 14px;
      // }
  }

  &::-webkit-scrollbar {
    width:4px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    // background-color: #5a4054;
    background-color: rgb(160, 160, 160);
    border: 1px solid rgb(71, 71, 71);
  }
}

._enabled {
  background-color: var(--enable);
  border:2px solid var(--enable);
  &:hover {
      background-color: var(--hover-enable);
  }    
}

._disabled {
  background-color: var(--disable);
  border:2px solid var(--disable);
  &:hover {
      background-color: var(--hover-disable);
  }
}

._show {
  transform: scale(1);
  // animation: showtag 0.2s ease;
  // @keyframes showtag {
  //   0% {
  //     transform: scale(0);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
}

