.account-container {
  border-radius: 20px;
}

.account-header {
  overflow: hidden;
  border-radius: 5px;
}
.account-header__hat {
  overflow: hidden;
  height: 160px;
}
@media (min-width: 991px) {
  .account-header__hat {
    height: 200px;
  }
}
.account-header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background-color: var(--bg-secondary-default);
}
@media (min-width: 991px) {
  .account-header__user {
    padding: 10px 20px;
  }
}
.account-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-secondary-default);
}

.account-hat-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account-user__avatar {
  width: 45px;
  height: 45px;
}
@media (min-width: 991px) {
  .account-user__avatar {
    width: 80px;
    height: 80px;
  }
}
.account-user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-family: "CirceRegular";
}
.account-user__username {
  letter-spacing: 1.2px;
  font-size: 30px;
  color: var(--white);
}
@media (max-width: 1920px) {
  .account-user__username {
    font-size: calc(20px + 10 * ((100vw - 264px) / 1656));
  }
}
.account-user__status {
  font-size: 18px;
  color: var(--dark-gray);
}
@media (max-width: 1920px) {
  .account-user__status {
    font-size: calc(14px + 4 * ((100vw - 264px) / 1656));
  }
}

.dark-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 10px 12px;
  font-size: 14px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--bg-light-primary-default);
  background-color: transparent;
}
.dark-btn:hover {
  background-color: var(--bg-btn-default);
}
.dark-btn__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-btn__text {
  color: var(--white);
}
.dark-btn__icon {
  font-size: 14px;
  color: var(--error-light);
}
@media (min-width: 991px) {
  .dark-btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .dark-btn__icon {
    font-size: 16px;
  }
}

.logout-btn {
  padding: 0px 12px;
}
@media (min-width: 991px) {
  .logout-btn {
    padding: 10px 12px;
  }
}

.account-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  font-family: "CirceRegular";
}
.account-nav__item {
  display: inherit;
}
.account-nav__item._active .account-nav__link {
  color: var(--secondary-white);
}
.account-nav__link, .account-nav__link:active {
  display: block;
  padding: 13px 15px;
  color: var(--light-gray);
  font-size: 18px;
}
@media (max-width: 1920px) {
  .account-nav__link, .account-nav__link:active {
    font-size: calc(14px + 4 * ((100vw - 264px) / 1656));
  }
}
.account-nav__link:hover, .account-nav__link:active:hover {
  color: var(--secondary-white);
}
@media (min-width: 991px) {
  .account-nav__link, .account-nav__link:active {
    padding: 15px 20px;
  }
}

.account-body {
  padding-top: 10px;
}