.notification-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 15px 0;
}
.notification-menu__title {
  font-family: "CirceRegular";
  font-size: 24px;
  color: var(--white);
}
.notification-menu__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.notification-menu__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 15px 30px;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}
.notification-list__item {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}
.notification-list__content {
  position: relative;
  height: 100%;
}
.notification-list__inner {
  background-color: var(--bg-secondary-default);
  padding: 15px;
  border-radius: 5px;
}
@media (min-width: 991px) {
  .notification-list__inner {
    padding: 20px;
  }
}
.notification-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
@media (min-width: 991px) {
  .notification-list__header {
    gap: 10px;
  }
}
.notification-list__title {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
}
@media (min-width: 991px) {
  .notification-list__title {
    font-size: 20px;
  }
}
.notification-list__time {
  margin-left: auto;
  font-size: 14px;
  color: var(--light-gray);
}
@media (min-width: 991px) {
  .notification-list__time {
    font-size: 16px;
  }
}
.notification-list__text {
  padding: 5px 0 5px 0;
  font-size: 14px;
  color: var(--secondary-white);
}
@media (min-width: 991px) {
  .notification-list__text {
    font-size: 18px;
    padding: 20px 0 10px 0;
  }
}
.notification-list__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(5px, -10px);
      -ms-transform: translate(5px, -10px);
          transform: translate(5px, -10px);
}
.notification-list__btn {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 5px;
  font-size: 16px;
  height: 100%;
  line-height: normal;
  background: transparent;
}
.notification-list__btn::after {
  content: attr(aria-label);
  position: absolute;
  top: -100%;
  right: 0;
  display: none;
  padding: 0 10px;
  line-height: 28px;
  font-size: 14px;
  background-color: var(--secondary-dark-gray);
  color: var(--secondary-white);
  border-radius: 5px;
}
.notification-list__btn::after:hover {
  display: none;
}
.notification-list__btn:hover {
  background-color: var(--bg-light-secondary-default);
}
.notification-list__btn:hover::after {
  display: block;
}

.button-red {
  color: var(--error-light);
}

.button-green {
  color: var(--enable);
}

.blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* basic masonry styles - same as for the image grid */
.grid--masonry {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: masonry;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5em;
  padding: 0.5em;
}
.grid--masonry > * {
  -ms-flex-item-align: start;
      align-self: start;
}
@media (min-width: 991px) {
  .grid--masonry {
    grid-template-columns: repeat(2, 1fr);
  }
}