body.document-loaded .loading-box {
  display: none;
}
body.document-loaded .reg-menu__container {
  opacity: 1;
}

.reg-container {
  background-size: cover !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  background: var(--bg-secondary-default);
  -webkit-box-shadow: 0 40pt 50pt 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 40pt 50pt 0 rgba(0, 0, 0, 0.35);
  color: var(--white);
  z-index: -1;
}
@media (max-width: 991px) {
  .reg-menu {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}
.reg-menu__title {
  font-weight: bold;
  letter-spacing: 0;
  /* font-size: 40px; */
  font-size: calc(30px + 0.75vw);
  line-height: 42px;
  color: var(--primary-pink);
  font-size: 42px;
  margin-bottom: 1em;
}
@media (max-width: 991px) {
  .reg-menu__title {
    margin-bottom: 2em;
  }
}
.reg-menu__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  font-family: "CirceRegular";
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0;
}
@media (max-width: 991px) {
  .reg-menu__container {
    min-width: 276px;
    max-width: none;
  }
}
.reg-menu__inner {
  height: 100%;
  padding: 70px 50px;
}
@media (max-width: 991px) {
  .reg-menu__inner {
    padding: 32px 30px;
  }
}
.reg-menu__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 800px;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 700px) {
  .reg-menu__form {
    width: 344px;
  }
}
.reg-menu__input-item {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid var(--bg-light-primary-default);
  border-radius: 5px;
}
.reg-menu__input-item.filled {
  border-color: var(--light-secondary-violet);
}
.reg-menu__input {
  width: 100%;
  padding: 15px;
  background: none;
  border: none;
  border-radius: 4px;
  color: var(--white);
}
.reg-menu__placeholder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  padding-left: 20px;
  color: var(--bg-button);
}
.reg-menu__placeholder-text {
  -webkit-perspective: 500px;
          perspective: 500px;
  display: inline-block;
}
.reg-menu__placeholder-text .letter {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-animation: letterAnimOut 0.25s ease forwards;
          animation: letterAnimOut 0.25s ease forwards;
  background-color: var(--bg-secondary-default);
}
.reg-menu__placeholder-text .letter._active {
  -webkit-animation: letterAnimIn 0.25s ease forwards;
          animation: letterAnimIn 0.25s ease forwards;
}
@-webkit-keyframes letterAnimIn {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  56% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 0;
    color: #00ff6b;
  }
  76% {
    color: #00ff6b;
    opacity: 1;
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
  }
  100% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 1;
  }
}
@keyframes letterAnimIn {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  56% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 0;
    color: #00ff6b;
  }
  76% {
    color: #00ff6b;
    opacity: 1;
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
  }
  100% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 1;
  }
}
@-webkit-keyframes letterAnimOut {
  0% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-10px, -40px);
            transform: translate(-10px, -40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  56% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes letterAnimOut {
  0% {
    -webkit-transform: translate(-10px, -27px);
            transform: translate(-10px, -27px);
    opacity: 1;
  }
  25% {
    -webkit-transform: translate(-10px, -40px);
            transform: translate(-10px, -40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
  }
  55% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 0;
    color: red;
  }
  56% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    color: red;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.reg-menu__description {
  margin: -2em 0 3em 0;
}
.reg-menu__description > p {
  font-size: 20px;
}
.reg-menu__or-entrance-item {
  margin-bottom: 8px;
  /* border-color: #5D5D6C; */
  width: 100%;
  height: 40px;
  background-color: var(--bg-light-secondary-default);
  color: var(--secondary-white);
  border: none;
  border: 1px solid var(--bg-light-primary-default);
  /* border: 1px solid #b1b1b9; */
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.reg-menu__or-entrance-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.reg-menu__or-entrance-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.reg-menu__sign-icon {
  padding-left: 15px;
  color: var(--secondary-white);
  position: absolute;
  left: 0;
  margin-top: 5px;
}
.reg-menu__sign-icon-svg {
  fill: var(--secondary-pink);
}

.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: none;
  font-size: 30px;
  margin: 15px 17px;
  color: var(--white);
}

.btn-reg {
  position: relative;
  -webkit-transform: translateX(0%) translateY(0%);
      -ms-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
  margin-top: 20px;
  background-color: var(--bg-button);
  color: var(--black);
  width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
.btn-reg:focus {
  outline: 0;
}
.btn-reg::before, .btn-reg::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--white);
  -webkit-transform: translateX(-100px) skewX(-15deg);
      -ms-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.btn-reg:before {
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
.btn-reg:after {
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
@media (max-width: 991px) {
  .btn-reg::before, .btn-reg::after {
    display: none;
  }
}

.btn-reg:hover {
  background-color: var(--bg-button-active);
  cursor: pointer;
}
.btn-reg:hover:before {
  -webkit-transform: translateX(540px) skewX(-15deg);
      -ms-transform: translateX(540px) skewX(-15deg);
          transform: translateX(540px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.btn-reg:hover:after {
  -webkit-transform: translateX(540px) skewX(-15deg);
      -ms-transform: translateX(540px) skewX(-15deg);
          transform: translateX(540px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.errorlist {
  word-wrap: break-word;
  font-style: normal;
  font-weight: 100;
  color: var(--error-light);
}

.fData {
  padding-top: 12px;
  font-size: 16px;
  text-align: right;
}
.fData__link {
  color: var(--secondary-white);
}
.fData__link:hover {
  text-decoration: underline;
}

._1AOkp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 15px 0;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 100%;
  background-color: var(--dark-gray);
}

.or {
  color: var(--dark-gray);
  font-size: 18px;
  margin: 0 8px 1px;
}

.reset-comfirm {
  width: 600px;
}

.reset-complete {
  padding: 70px;
  width: 100%;
}

.loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pulse-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pulse-bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-purple);
}

.pulse-bubble-1 {
  -webkit-animation: pulse 0.4s ease 0s infinite alternate;
          animation: pulse 0.4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  -webkit-animation: pulse 0.4s ease 0.2s infinite alternate;
          animation: pulse 0.4s ease 0.2s infinite alternate;
}

.pulse-bubble-3 {
  -webkit-animation: pulse 0.4s ease 0.4s infinite alternate;
          animation: pulse 0.4s ease 0.4s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
.spinner {
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.spinner__circular {
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: auto;
}
.spinner__path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.3s ease forwards 0.5s;
          animation: dash 1.3s ease forwards 0.5s;
  opacity: 0;
  stroke-linecap: round;
  stroke: #7b23ff;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  50% {
    stroke-dasharray: 40, 200;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 125, 200;
    opacity: 1;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    opacity: 0;
  }
  50% {
    stroke-dasharray: 40, 200;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 125, 200;
    opacity: 1;
  }
}