.profile-container {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-secondary-default);
}

.input-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.input-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-list__text {
  color: var(--white);
  width: 200px;
}
.input-list__input {
  padding: 15px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid var(--bg-light-primary-default);
}
.input-list__input:hover, .input-list__input:focus {
  border-color: var(--light-secondary-violet);
}
.input-list__input > input {
  color: var(--secondary-white);
  border: none;
  background: transparent;
}

.input-file {
  position: relative;
  color: var(--secondary-white);
}
.input-file__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.input-file__icon {
  position: relative;
  font-size: 18px;
  width: 1em;
  height: 1em;
}
.input-file__not-selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  fill: var(--white);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.input-file__selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  fill: var(--white);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.input-file._active .input-file__not-selected {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.input-file._active .input-file__selected {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}