input[type=date]::-webkit-datetime-edit-text {
  padding: 0 3px;
}
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.date-inp-icon {
  margin-left: -15px;
  color: var(--primary-color);
}