input[type=date]::-webkit-datetime-edit-text {
  padding: 0 3px;
}
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

.date-inp-icon {
  height: 22px;
  position: absolute;
  top: calc((100% - 22px) / 2);
  right: 10px;
  color: var(--primary-color);
  pointer-events: none;
}