{% extends 'accounts/base_auth.html' %}

{% block content %}

<div class="reg-menu">
    <div class="form-container" style="width: 600px">
        <a class="close-btn" href="">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <div class="reg-menu__form pd10070">
            <h2 class="reg-menu__title">Сброс пароля</h2>
            <div class="reg-menu__description">
                <p>Введите свою почту, и мы вышлем ссылку для сброса вашего
                    пароля</p>
            </div>

            <form class="reg-form" method="post">
                {% csrf_token %}
                <div class="reg-form__inputs">
                    {% for f in form %}
                    <p>{{f}}</p>
                    {% endfor %}
                </div>
                <div class="reg-form__controls">
                    <button class="btn-reg button fs20" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}