{% extends 'accounts/base_auth.html' %}

{% block content %}

<div class="reg-menu wd70">
    <div class="form-container">
        <a class="close-btn" href="">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <div class="reg-menu__form reset-complete">
            <h2 class="reg-menu__title fs42" style="text-align: center;">Ваш пароль успешно изменен на новый!</h2>
            <p class="fs20" style="color: white; text-align: center;">
                Теперь вы можете <a href="{% url 'login' %}"
                    style="font-style: regular; color: rgb(233, 233, 233);">авторизироваться</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}