{% extends 'accounts/base_auth.html' %}

{% block content %}

<h2 class="reg-menu__title fs42">Сброс пароля</h2>
<form class="reg-menu__form" method="post">
    {% csrf_token %}

    <div class="reg-menu__description">
        <p>Введите новый пароль</p>
    </div>

    <div class="reg-menu__input-list">
        <div class="form-error">{{form.non_field_errors}}</div>

        <div class="reg-menu__input-item">
            <div class="form-error">{{form.new_password1.errors}}</div>
            {{form.new_password1}}
            <div class="reg-menu__placeholder">
                <div class="reg-menu__placeholder-text">Новый пароль</div>
            </div>
        </div>
        <div class="reg-menu__input-item">
            <div class="form-error">{{form.new_password2.errors}}</div>
            {{form.new_password2}}
            <div class="reg-menu__placeholder">
                <div class="reg-menu__placeholder-text">Подтверждение пароля</div>
            </div>
        </div>
    </div>

    <div class="reg-form__controls">
        <button class="btn-reg button" type="submit">Сохранить</button>
    </div>
</form>

{% endblock %}