{% extends 'accounts/base_auth.html' %}

{% block content %}

    <div class="regMenu wd70">
        <div class="formContainer">
            <a class="closeBtn" href="">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <div class="form" style="padding: 100px 70px; justify-content: space-around;">
                <h2 class="fs42">Письмо с инструкциями по восстановлению пароля отправлено!</h2>
                <p class="fs20" style="color: white;">
                    Мы отправили вам инструкцию по установке нового пароля
                    на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны
                    получить ее в ближайшее время.
                    <br>
                    Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы
                    зарегистрировались, и проверьте папку со спамом.
                </p>
            </div>
        </div>
    </div>

{% endblock %}