{% extends 'accounts/base_auth.html' %}

{% block content %}
<div class="reg-menu">
    <div class="form-container reset-comfirm">
        <a class="close-btn" href="">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <div class="reg-menu__form pd10070">
            <h2 class="reg-menu__title fs42">Сброс пароля</h2>
            <div class="reg-menu__description">
                <p>Введите новый пароль</p>
            </div>

            <form class="reg-form" method="post">
                {% csrf_token %}

                <div class="reg-form__inputs">
                    <div class="form-error">{{form.non_field_errors}}</div>
                    {% for f in form %}
                    <div class="form-error">{{f.errors}}</div>
                    <p>{{f}}</p>
                    {% endfor %}
                </div>

                <div class="reg-form__controls">
                    <button class="btn-reg button" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}