{% extends 'accounts/base_auth.html' %}

{% block content %}

<div class="reg-menu__form" style="width: 100%;">
    <h2 class="reg-menu__title fs42">Письмо с инструкциями по восстановлению пароля отправлено!</h2>
    <div class="reg-menu__description" style="margin: 0;">
        <p>
            Мы отправили вам инструкцию по установке нового пароля
            на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны
            получить ее в ближайшее время.
            <br>
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы
            зарегистрировались, и проверьте папку со спамом.
        </p>
    </div>
</div>

{% endblock %}