{% extends 'accounts/base_auth.html' %}

{% block content %}


<h2 class="reg-menu__title">Сброс пароля</h2>
<form class="reg-menu__form" method="post">
    {% csrf_token %}

    <div class="reg-menu__description">
        <p>Введите свою почту, и мы вышлем ссылку для сброса вашего
            пароля</p>
    </div>

    <div class="reg-menu__input-list">
        <div class="form-error">{{form.non_field_errors}}</div>

        <div class="form-error">{{form.email.errors}}</div>
        <div class="reg-menu__input-item">
            {{form.email}}
            <div class="reg-menu__placeholder">
                <div class="reg-menu__placeholder-text">Email</div>
            </div>
        </div>
    </div>

    <div class="reg-form__controls">
        <button class="btn-reg button fs20" type="submit">Отправить</button>
    </div>
</form>


{% endblock %}