$font-family-circeregular: 'CirceRegular';
$min-width-mobile: 700px;

  // @media (max-width: 991px) {
  //   & {
  //     width: 33.333%;
  //     padding-bottom: 40px;
  //   }
  // }
  // @media (min-width: 992px) {
  //   &:hover {
  //     .cover-item-gallery-container {
  //       opacity: 1;
  //       visibility: visible;
  //       pointer-events: all;
  //     }
  //   }
  // }

body.document-loaded {
  .loading-box {
    display: none;
  }

  .reg-menu__container {
    opacity: 1;
  }
}

.reg-container {
  background-size: cover !important;
  // background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-menu {
  display: flex;
  border-radius: 20px;
  background: var(--bg-secondary-default);
  box-shadow: 0 40pt 50pt 0 rgb(0 0 0 / 35%);
  color: var(--white);
  z-index: -1;

  @media (max-width: 991px) {
    & {
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }

  &__title {
    font-weight: bold;
    letter-spacing: 0;
  
    /* font-size: 40px; */
    font-size: calc(30px + 12 * (100vw / 1600));
    line-height: 42px;
    // color: var(--primary-pink);
    color: var(--white);
    font-size: 42px;
    // margin-bottom: 40px;
    margin-bottom: 1em;

    @media (max-width: 991px) {
      margin-bottom: 1.5em;
    }
  }

  &__container {
    flex-grow: 1;
    position: relative;
    // width: 440px;
    font-family: $font-family-circeregular;
    transition: all 0.1s ease;
    opacity: 0;
  
    @media (max-width: 991px) {
      & {
        min-width: 276px;
        max-width: none;
      }
    }
  }

  &__inner {
    // width: 100%;
    height: 100%;
    // width: 440px;
    padding: 70px 50px;
  
    @media (max-width: 991px) {
      & {
        padding: 32px 30px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 800px;
    // margin: 40px 0 53px;
    // margin: 40px 0 0;
    // width: 100%;
    width: 100%;
    max-width: 1200px;
    // margin: auto 0;

    @media (min-width: $min-width-mobile) {
      width: 344px;
    }
  }

  &__input-item {
    position: relative;
    margin: 10px 0 20px;
    z-index: 1;
    transition: all 0.3s ease;
    border: 1px solid var(--bg-light-primary-default);
    border-radius: 5px;

    &.filled{
      border-color: var(--light-secondary-violet);
    }
  }

  &__input-list {}

  &__input {
    width: 100%;
    padding: 15px;
    // background-color: var(--bg-secondary-default);
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--white);

    // &::placeholder {
    //   color: var(--light-pink);
    // }

    // &:focus {
    //   &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
    //     opacity: 0.7;

    //     /* border: 2px solid #f588d1; */
    //   }

    //   border: 1px solid var(--light-secondary-violet);
    // }
  }

  &__placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    // z-index: -1;
    pointer-events: none;
    padding-left: 20px;
    color: var(--primary-color);
  }

  &__placeholder-text {
    perspective: 500px;
    display: inline-block;
    .letter{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      animation: letterAnimOut 0.25s ease forwards;
      // text-shadow: 0 0 5px;
      background-color: var(--bg-secondary-default);
      
      &._active{
        animation: letterAnimIn 0.25s ease forwards;
        // left: 30px;
      }
    }

    @keyframes letterAnimIn{
      0%{
        transform: translate(0, 0);
      }
      25%{
        transform: translate(0,10px);
        // color: red;
      }
      45%{
        transform: translate(0,10px);
        opacity: 0;
        // color: red;
      }
      55%{
        transform: translate(0,10px);
        opacity: 0;
      }
      56%{
        transform: translate(-10px,-27px);
        opacity: 0;
        // color: #00ff6b;
      }
      76%{
        // color: #00ff6b;
        opacity: 1;
        transform: translate(-10px, -27px);
      }
      100%{
        transform: translate(-10px, -27px);
        opacity: 1;
      }
    }
    
    @keyframes letterAnimOut{
      0%{
        transform: translate(-10px, -27px);
        opacity: 1;
      }
      25%{
        transform: translate(-10px,-40px);
        opacity: 0;
      }
      45%{
        transform: translate(0,10px);
        opacity: 0;
      }
      55%{
        transform: translate(0,10px);
        opacity: 0;
        // color: red;
      }
      56%{
        transform: translate(0,10px);
        // color: red;
      }
      100%{
        transform: translate(0, 0);
      }
    }
  }

  &__controls {}

  &__description {
    margin: -2em 0 3em 0;

    >p {
      font-size: 20px;
    }
  }

  &__or-entrance-item {
    margin-bottom: 8px;
    /* border-color: #5D5D6C; */
    width: 100%;
    height: 40px;
    // background-color: #27303b;
    background-color: var(--bg-light-secondary-default);
    color: var(--secondary-white);
    border: none;
    border: 1px solid var(--bg-light-primary-default);
    
  
    /* border: 1px solid #b1b1b9; */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }

  &__or-entrance-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  &__or-entrance-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__sign-icon {
    padding-left: 15px;
    // color: rgb(212, 212, 212);
    color: var(--secondary-white);
    position: absolute;
    left: 0;
    margin-top: 5px;  
  }

  &__sign-icon-svg {
    // fill: var(--secondary-pink);
    fill: var(--primary-color);
  }
}

.form-error {}

.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: none;
  font-size: 30px;
  margin: 15px 17px;
  color: var(--white);
}

.btn-reg {
  // position: absolute;
  position: relative;
  // left: 0%;
  // top: 0%;
  transform: translateX(0%) translateY(0%);
  // border: none;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: var(--black);
  width: 100%;
  height: auto;
  min-height: 50px;
  // border-radius: 5px;
  font-size: 18px;
  // font-family: "Helvetica", sans-serif;
  font-weight: 500;
  transition: 0.6s;
  overflow: hidden;

  &:hover {
    background-color: var(--secondary-pink);
    cursor: pointer;
  
    &:before {
      transform: translateX(540px) skewX(-15deg);
      opacity: 0.6;
      transition: 0.7s;
    }
  
    &:after {
      transform: translateX(540px) skewX(-15deg);
      opacity: 1;
      transition: 0.7s;
    }
  }

  &:focus {
    outline: 0;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--white);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:before {
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
  }

  &:after {
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
  }

  @media (max-width: 991px) {
    & {
      &::before, &::after {
        display: none;
      }
    }
  }
}

.errorlist {
  word-wrap: break-word;
  font-style: normal;
  font-weight: 100;
  color: var(--error-light);
  padding-bottom: 10px;

}

.fData {
  // margin-top: 32px;
  padding-top: 12px;
  font-size: 16px;
  text-align: right;
  
  &__link {
    color: var(--secondary-white);
    
    // text-shadow: 0 0 5px;
    
    &:hover {
      & {
        text-decoration: underline;
      }
    }
  }
}

._1AOkp {
  display: flex;
  margin: 15px 0 15px 0;
  height: 32px;
  align-items: center;
}

.line {
  width: 100%;
  // display: flex;
  // margin: 20px 0 20px 0;
  // background-color: rgb(170, 170, 170);
  background-color: var(--dark-gray);
  // flex: 1;
}

.or {
  // color: rgb(170, 170, 170);
  color: var(--dark-gray);
  font-size: 18px;
  margin: 0 8px 1px;
}

.reset-comfirm {
  width: 600px; 
  // height: 500px;
}

.reset-complete {
  padding: 70px;
  width: 100%;
}

// .reset-pas {
//   width: 100%;
// }

// .spinner{
//   position: relative;
//   margin: auto;
//   width: 50px;
//   height: 50px;
//   transition: all 0.2s ease 0s;
//   &__circular{
//     animation: rotate 1.5s linear infinite;
//     animation-play-state: paused;
//     transform-origin: center center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     margin: auto;
//   }
//   &__path{
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//     animation: dash 1.3s ease forwards 0.5s;
//     opacity: 0;
//     stroke-linecap: round;
//     stroke: #7b23ff;
//     animation-play-state: running;
//   }
// }

// @keyframes dash {
//   0% {
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//     opacity: 0;
//   }
//   50% {
//     stroke-dasharray: 40, 200;
//     opacity: 1;
//   }
//   100% {
//     stroke-dasharray: 125, 200;
//     opacity: 1;
//   }
// }




// +++++++++++++++++++++++++test++++++++++++++++++++++++++++
// .wrapper{
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: none;
//   background: var(--bg-default);
//   padding: 0;

//   @media (min-width: $min-width-mobile) {
//     align-items: center;
//   }
// }

// .form{
//   display: flex;
//   align-items: baseline;
//   justify-content: center;
//   position: relative;
//   width: 440px;
//   // height: 440px;
//   height: auto;
// 	// flex-shrink: 0;
//   padding: 40px 20px;
//   border-radius: 5px;
//   background: var(--bg-secondary-default);

//   @media (margin: $min-width-mobile) {
//     align-items: center;
//   }

//   &__loader{
//     display: flex;
//     position: absolute;
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     justify-content: center;
//     align-items: center;
//     z-index: -4;
//     transition: all 0.1s ease;
//   }
//   &__content{
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     position: relative;
//     opacity: 0;
//     transform: translateY(10px);
//     transition: all 0.1s ease 0.7s;
//   }
//   // &__cover{
//   //   position: absolute;
//   //   left: 0;
//   //   top: 0;
//   //   height: 100%;
//   //   width: 100%;
//   //   z-index: -4;
//   //   border-radius: 7px;
//   //   overflow: hidden;
//   //   transition: all 0.3s ease 0.8s;
//   //   box-shadow: 0 0 0 0 rgba(0,0,0,0);
//   //   &:after{
//   //     content: '';
//   //     position: absolute;
//   //     left: 0;
//   //     top: 0;
//   //     height: 100%;
//   //     width: 100%;
//   //     background: var(--bg-secondary-default);
//   //     z-index: -4;
//   //     border-radius: 50%;
//   //     transition: all 1.5s ease 0.3s;
//   //     transform: scale(0);
//   //   }
//   //   &:before{
//   //     content: '';
//   //     position: absolute;
//   //     left: 0;
//   //     top: 0;
//   //     height: 100%;
//   //     width: 100%;
//   //     background: white;
//   //     z-index: -5;
//   //     border-radius: 50%;
//   //     transition: all 0.5s ease;
//   //     transform: scale(0);
//   //   }
//   // }
//   // box-shadow: 0 0 10px 0 var(--bg-btn-default);
// }

// .styled-button {
// 	display: flex;
//   align-items: center;
// 	border-radius: 3px;
//   text-transform: uppercase;
// 	font-size: 14px;
//   padding: 1rem 3rem;
//   color: #f4f4f4;
//   text-transform: uppercase;
// 	text-decoration: none;
//   border: 1px solid var(--light-violet);
//   position: relative;
//   overflow: hidden;
//   cursor: pointer;
//   background-color: var(--bg-light-primary-default);
//   user-select: none;
//   justify-content: center;
	
// 	&:hover {
// 		box-shadow: 1px 1px 10px 5px rgba(146, 148, 248, 0.4);
		
// 		&::before {
// 			left: 100%;
// 		}
// 	}
	
// 	&::before {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		left: -100%;
// 		width: 100%;
// 		height: 100%;
// 		background: linear-gradient(
// 			120deg,
// 			transparent,
// 			rgba(146, 148, 248, 0.4),
// 			transparent
// 		);
// 		transition: all 650ms;
// 	}
// }

// body.document-loaded{
//   .form{
//     &__loader{
//       transform: scale(0);
//       opacity: 0;
//       visibility: hidden;
//     }
//     &__content{
//       opacity: 1;
//       transform: none;
//     }
//     &__cover{
//       box-shadow: 0 20px 50px rgba(0,0,0,0.3);
//       &:after{
//         transform: scale(2);
//       }
//       &:before{
//         transition: transform 2s ease, opacity 0.3s ease 0.8s;
//         transform: scale(2);
//         opacity:0;
//       }
//     }
//   }
// }

// h1{
//   font-size: 40px;
// 	// margin: 15px 0 40px 0;
//   padding-bottom: 50px;
//   letter-spacing: 0.05em;
//   color: var(--violet);
// 	font-weight: 700;
// }

// .styled-input{
//   width: 100%;
//   position: relative;
//   margin-bottom: 25px;
//   border: 1px solid var(--bg-light-primary-default);
//   border-radius: 3px;
//   transition: all 0.3s ease;
//   z-index: 0;
//   &__circle{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -2;
//     overflow: hidden;
//     border-radius: 3px;
//     &:after{
//       content: '';
//       position: absolute;
//       left: 16.5px;
//       top: 19px;
//       height: 14px;
//       width: 14px;
//       z-index: -2;
//       border-radius: 50%;
//       background: rgba(255,255,255,0.15);
//       box-shadow: 0 0 10px rgba(255,255,255,0);
//       transition: transform 0.6s ease, opacity 1s ease;
//     }
//   }
//   &__input{
//     width: 100%;
//     -webkit-appearance: none;
//     font-size: 14px;
//     outline: none;
//     background: none;
//     padding: 18px 15px;
//     // color: #ceafff;
//     color: var(--white);
//     border: none;
//     font-weight: 600;
//     letter-spacing: 0.035em;
//   }
//   &__placeholder{
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     z-index: -1;
//     padding-left: 45px;
//     color: white;
//     &-text{
//       perspective: 500px;
//       display: inline-block;
//       .letter{
//         display: inline-block;
//         vertical-align: middle;
//         position: relative;
//         animation: letterAnimOut 0.25s ease forwards;
//         text-shadow: 0 0 5px;
//         &.active{
//           animation: letterAnimIn 0.25s ease forwards;
//         }
//       }
//     }
//   }
//   &:hover{
//     border-color: var(--light-secondary-violet);
//   }
//   &.filled{
//     border-color: var(--light-secondary-violet);
//   }
// }

// @keyframes letterAnimIn{
//   0%{
//     transform: translate(0, 0);
//   }
//   25%{
//     transform: translate(0,10px);
//     color: var(--primary-purple);
//   }
//   45%{
//     transform: translate(0,10px);
//     opacity: 0;
//     color: var(--primary-purple);
//   }
//   55%{
//     transform: translate(0,10px);
//     opacity: 0;
//   }
//   56%{
//     transform: translate(-30px,-27px);
//     opacity: 0;
//     color: var(--primary-purple);
//   }
//   76%{
//     color: var(--primary-purple);
//     opacity: 1;
//     transform: translate(-30px, -27px);
//   }
//   100%{
//     transform: translate(-30px, -27px);
//     opacity: 1;
//   }
// }

// @keyframes letterAnimOut{
//   0%{
//     transform: translate(-30px, -27px);
//     opacity: 1;
//   }
//   25%{
//     transform: translate(-30px,-40px);
//     opacity: 0;
//   }
//   45%{
//     transform: translate(0,10px);
//     opacity: 0;
//   }
//   55%{
//     transform: translate(0,10px);
//     opacity: 0;
//     color: var(--primary-purple);
//   }
//   56%{
//     transform: translate(0,10px);
//     color: var(--primary-purple);
//   }
//   100%{
//     transform: translate(0, 0);
//   }
// }

// .spinner{
//   position: relative;
//   margin: auto;
//   width: 50px;
//   height: 50px;
//   transition: all 0.2s ease 0s;
//   &__circular{
//     animation: rotate 1.5s linear infinite;
//     animation-play-state: paused;
//     transform-origin: center center;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     margin: auto;
//   }
//   &__path{
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//     animation: dash 1.3s ease forwards 0.5s;
//     opacity: 0;
//     stroke-linecap: round;
//     stroke: #7b23ff;
//     animation-play-state: running;
//   }
// }

// @keyframes dash {
//   0% {
//     stroke-dasharray: 1, 200;
//     stroke-dashoffset: 0;
//     opacity: 0;
//   }
//   50% {
//     stroke-dasharray: 40, 200;
//     opacity: 1;
//   }
//   100% {
//     stroke-dasharray: 125, 200;
//     opacity: 1;
//   }
// }