/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/rubik-v21-latin-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v21-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-italic - latin */
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v21-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v21-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #06070d;
}

body._lock {
    overflow: hidden;
}


body._lock .mobileMenuBackground {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 8;
}

.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}



.navMenu a,
.sectionTitle a,
.title-alpha a,
.profileDropdownLink,
.cover-item-gallery__com {
    text-decoration: none;
}

.wd10 {
    width: 10%;
}

.wd20 {
    width: 20%;
}

.wd30 {
    width: 30%;
}

.wd40 {
    width: 40%;
}

.wd50 {
    width: 50%;
}

.wd60 {
    width: 60%;
}

.wd70 {
    width: 70%;
}

.wd80 {
    width: 80%;
}

.wd90 {
    width: 90%;
}

.wd100 {
    width: 100%;
}

.fs14 {
    font-size: 14px
}

.fs20 {
    font-size: 20px
}

.fs42 {
    font-size: 42px
}

.fs100 {
    font-size: 100px
}

.header {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
}

.cq {
    background-color: #06080d;
    height: 6px;
    width: 100%;
}

.headerWrapper {
    width: 100%;
    background-color: #06080d;
    margin: 0 auto;
}

.headerContainer {
    height: 54px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 0.3fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: auto;
    min-width: 280px;
    max-width: 1341px;
    width: 96%;
}

.logo {
    justify-self: start;
}

.namelogo {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.headerSearch {
    width: 100%;
    margin: 0;
    margin-left: 10px;
}

.searchBarContainer {
    width: 100%;
    height: 26px;
    display: grid;
    grid-template-columns: 13fr 30px;
    position: relative;
}

.searchButton {
    width: 30px;
    height: 26px;
    border: solid 1px #5d5d6c;
    background-color: #06070d;
    border-width: 1px 1px 1px 0;
    border-radius: 0 0 6px 0;
}

.searchInput {
    width: 100%;
    height: 26px;
    border: none;
    background-color: #06070d;
    border: solid 1px #5d5d6c;
    border-width: 1px 0 1px 1px;
    border-radius: 0 0 0 6px;
    display: inline-block;
    font-size: 14px;
    outline: 0;
    padding: 2px 0px 2px 5px;
    vertical-align: top;
    /* box-sizing: border-box; */
}

.fs-nf {
    margin: 0 !important;
    padding: 0 !important;
    border: medium none;
    position: relative;
}

.notificationIcon {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-items: end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.notification__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.notification__item {
    width: 40px;
    text-align: center;
    position: relative;
}

.notification__item i {
    font-size: 22px;
    color: white;
}

.notification__item i:hover {
    color: rgb(255, 195, 232);
}

.number-of-notifications {
    /* если нет уведомлений */
    /* background: hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 100%, 0); */

    /* если есть */
    background-color: red;
    color: white;

    border-radius: 8px;
    height: 15px;
    line-height: 17px;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: -10px;

    font-size: 14px;
    font-weight: 500;
}

.notification__item:last-child {
    margin-right: 0;
}

.profile {
    position: relative;
    cursor: pointer;
}

.profileDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -200%;
    /* right: 0%; */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    min-width: 255px;
    transform: translate(0px, 5%);
    z-index: 10;
    border-radius: 4px;
    /* margin: 0 -125px; */
    overflow: auto;

}


@media (max-width: 1447px) {
    .profileDropdown {
        left: initial;
        right: -10%;
    }
}


.profileDropdown li {
    margin: 0 8px 1px;
    padding: 10px 14px;
    white-space: nowrap;
}

.profileDropdown li:hover {
    background-color: rgb(235, 235, 235);
}

.profileDropdownLink {
    font-size: 18px;
    font-family: Inter, sans-serif;
    color: black;
    font-weight: normal;
    font-style: normal;
}

.profileDropdownLink i {
    margin-right: 10px;
    width: 30px;
}


.profile._active .profileDropdown {
    display: block;
}


.smallAvatar {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
}

.headerNav {
    display: grid;
    height: 40px;
    width: 100%;
    background-color: #06080d;
    border-top: solid 1px #1c1e2c;
    z-index: 3;
}

.navMenu {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
    width: 100%;
    align-items: center;
    margin: auto;
    min-width: 280px;
    max-width: 1200px;
}

.navMenu li {
    display: grid;
    width: 100%;
}

.navMenu a {
    text-transform: uppercase;
    outline-style: none;
    text-align: center;
}

.navMenu li:hover {
    border-bottom: solid 3px #ff58c7;
}



.itemName {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.activeLine {
    width: 100%;
    height: 3px;
    margin: 0px auto;
    background: #ff58c7;
    display: block;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
}


.containerGallery {
    min-width: 280px;
    max-width: 1920px;
    width: 96%;
    margin: 0 auto;
    padding: 100px 0 30px 0;
}


.sectionTitle {
    width: 96%;
    margin: 30px 0 0;
    background-color: #06070d;
    height: 40px;
}

.sectionTitleLink {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;

}

.arrow {
    margin-left: 8px;
    position: relative;
    top: 2px;
}


/* .containerPopularArts {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    grid-auto-flow: dense
} */

/* .arts_image {
    width: 100%;
    height: 100%;
    padding: 0 0 130% 0;
    overflow: hidden;
    position: relative;
} */

/* .arts_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
} */

.item {
    background-color: rgb(97, 97, 97);
    padding: 1rem;
    width: 150px;
    height: 200px;
}

.regContainer {
    background-size: cover !important;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* box-sizing: border-box; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regMenu {
    border-radius: 20px;
    /* width: 856px;
    height: 690px; */

    /* width: auto; */
    height: auto;
    background: #06080D;
    display: flex;
    box-shadow: 0 40pt 50pt 0 rgb(0 0 0 / 35%);
}


.formContainer {
    flex-grow: 1;
    position: relative;
    width: 440px;
}


.closeBtn {
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    background: none;
    font-size: 30px;
    margin: 15px 17px;
    color: white;
}

.form {
    justify-content: space-around;
    padding: 40px 48px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
}

.form h2 {
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0;
    font-size: 40px;
    line-height: 42px;
    color: #FAA7D9;
    margin: 0 0 3px;
}

.regForm {
    /* margin: 40px 0 53px; */
    margin: 40px 0 0;
}

.regForm p {
    margin-bottom: 20px;

}


.regForm p input {
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: #06070d;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f588d1;
    color: white;
}

.regForm p input::placeholder {
    color: pink;
}

.regForm p input:focus::placeholder {
    opacity: 0.7;
    /* border: 2px solid #f588d1; */
}

.regForm p input:focus {
    border-bottom: 2px solid #f588d1;
}

/* .btnReg {
    width: 100%;
    height: auto;
    min-height: 40px;
    border: none;
    background: linear-gradient(313.09deg, #fa48bf, #ffb9e3);
    border-radius: 5px;
    margin-top: 20px;

    background-size: 200% 200%;
    animation: btn-gradient 3s ease infinite;
    animation-direction: alternate;
} */


.btnReg {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translateX(0%) translateY(0%);
    border: none;
}

.btnReg {
    margin-top: 20px;
    position: relative;
    background: #FAA7D9;
    color: black;
    width: 100%;
    height: auto;
    min-height: 49px;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    font-weight: 500;
    transition: 0.6s;
    overflow: hidden;
}

.btnReg:focus {
    outline: 0;
}

.btnReg:before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

.btnReg:after {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

.btnReg:hover {
    background: #fd6fce;
    cursor: pointer;
}

.btnReg:hover:before {
    transform: translateX(540px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}

.btnReg:hover:after {
    transform: translateX(540px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}

/*# sourceMappingURL=test.css.map */

.errorlist {
    word-wrap: break-word;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 100;
    color: rgb(255, 91, 91);
}

.fData {
    margin-top: 5px;
    text-align: right;
}

.fData a {
    /* font-family: Inter; */
    font-style: regular;
    color: rgb(233, 233, 233);
}

._1AOkp {
    display: flex;
    margin: 15px 0 15px 0;
    height: 32px;
    align-items: center;
}

.line {
    display: flex;
    margin: 20px 0 20px 0;
    border-bottom: 1px solid rgb(170, 170, 170);
    flex: 1;
}

.or {
    color: rgb(170, 170, 170);
    font-size: 18px;
    margin: 0 8px 1px;
}

.entranceOr {
    display: flex;
    margin-bottom: 8px;
    /* border-color: #5D5D6C; */
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #27303b;
    border: none;
    /* border: 1px solid #b1b1b9; */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.entranceOr svg {}

.entranceOr div {
    padding-left: 15px;
    color: rgb(212, 212, 212);
}

.signIcon {
    position: absolute;
    left: 0;
    margin-top: 5px;
}

/* .entranceOr svg {
    margin-right: 100px;
} */

/* .popularArts {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    gap: 10px;
} */


.footer {
    background-image: linear-gradient(to bottom, #16171e 100%, #06070d -13%);
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 30px 0 15px 0;
    margin-bottom: 0;
    margin-top: 32px;
    display: grid;
    grid-row-gap: 15px;
    width: 100%;
    min-height: 280px;
    margin: 30px 0 0;
    justify-content: center;
}

.footerContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    min-width: 280px;
    max-width: 1920px;
    width: 96%;
}

.col {
    width: 100%;
}

.col ul {
    display: grid;
    grid-auto-rows: 28px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.title-alpha {
    font-family: 'Rubik';
    font-size: 1.3rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.title-alpha a {
    outline-style: none;
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    color: #FAA7D9;
}

.footer_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    min-width: 280px;
    max-width: 1200px;
    /* width: 96%; */
    justify-items: center;
}


.social_link img {
    max-width: 100%;
    text-align: center;
    margin-right: 30px;
}


/* ________________________gallery________________________- */

.sizer4 {
    width: 20%;
}

@media screen and (max-width: 912px) {
    .sizer4 {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .sizer4 {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .sizer4 {
        width: 100%;
    }
}

#gallery {
    /* margin-left: 100px; */
}


.item-masonry {
    position: relative;
}

.item-masonry img {
    display: block;
    width: 100%;
    height: 100%;
}

.cover-item-gallery {
    display: block;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 20%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    /* height: 70px; */

    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.item-masonry:hover .cover-item-gallery {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* .cover-item-gallery span {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
} */


.cover-item-gallery a {
    display: block;
    width: 100%;
    height: 100%;
}


.cover-item-gallery a i.fa {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
}

.cover-item-gallery__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    padding: 0 24px 24px;
    pointer-events: none;
    color: white;
}

._2fvOL {
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
}

.EGj-R {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: opacity .2s ease-in-out;
    content-visibility: hidden;
    opacity: 0;
}

.cover-item-gallery__items {
    left: 16px;
    right: 16px;
    bottom: 13px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    transition: opacity .2s ease-in-out;
    /* content-visibility: hidden;
    opacity: 0; */
}

/* .cover-item-gallery__items:hover,
.EGj-R:hover {
    content-visibility: visible;
    opacity: 1;
} */

.cover-item-gallery__author {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    align-items: flex-start;
    position: relative;
}

.gallery__author {
    margin-top: 14px;
    color: white;
    position: relative;
    max-width: 100%;
    font-family: 'Helvetica';
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: .3px;
    font-size: 18px;
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
}

.gallery__author-avatar {
    display: inline-flex;
    pointer-events: fill;
    margin-right: 16px;
    overflow: visible;
    flex-shrink: 0;
}

.gallery__author-name {
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: .3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* box-sizing: border-box; */
    overflow: hidden;
    pointer-events: fill;
    display: inline-flex;
}

.gallery__author-name a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cover-item-gallery__LC {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
    margin-left: 24px;
}

.cover-item-gallery__LC a {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: painted;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cover-item-gallery__com {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: painted;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cover-item-gallery__likes:hover,
.cover-item-gallery__com:hover {
    color: rgb(255, 153, 247);
}

._39asK {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    font-style: bold;
    line-height: 20px;
    letter-spacing: .3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

._39asK span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery__numcom {
    text-align: right;
    line-height: 24px;
    height: 24px;
    margin-right: 8px;
}


.cover-item-gallery__likes {
    margin-top: 13px;
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: painted;
    width: auto;
    height: auto;
    cursor: pointer;
}


/* ________________________end gallery________________________ */



/* ______________________slider______________________ */

/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: center;
}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

/* Конкретный слайдер */
.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    /* top: 50%; */
    top: 0;
    /* margin: -30px 0 0 0; */
    z-index: 2;
    font-size: 0;
    width: 30px;
    /* height: 60px; */
    height: 100%;
    border: none;

    transition: all 0.2s ease;
    opacity: 0;
}

.slider .slick-arrow:hover {
    opacity: 1;
}


.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../image/sl-arrow_l.svg') 50% 50% / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../image/sl-arrow_r.svg') 50% 50% / 100% no-repeat;
}

.slider__item {
    text-align: center;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 3px;
    right: 0;
    left: 0;
}

.slider .slick-dots li {
    margin: 0 2px;
}

.slider .slick-dots li.slick-active button {
    /* background-color: rgb(184, 184, 184); */
    background: white;
    opacity: 1;
}

.slider .slick-dots button {
    vertical-align: middle;
    padding: 0;
    font-size: 0;
    width: 7px;
    height: 7px;
    background: #8d8d8d;
    border-radius: 50%;
    opacity: 0.9;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ______________________end-slide______________________ */


.navBurger {
    display: block;
}


/* .container {
    float: left;
} */

.sideBar {
    /* position: absolute; */
    float: left;
    background-color: gray;
    height: 1000px;
    /* margin: 111px 0 0 0; */
    /* width: calc(30% - 10px); */
    width: 300px;
    padding: 20px 20px 20px 20px;

}

.sideBar a {
    color: white;
    font-size: 30px;
    margin: 20px 20px 20px 20px;
}

/* ----------------test------------------------- */

.page {
    padding-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    /* box-sizing: border-box; */
}

.page__inner {
    flex-grow: 1;
    -webkit-box-flex: 1;

    max-width: 1920px;
    margin-top: 17px;
    margin: 0 auto;
    /* padding: 0 15px 0 0; */
    width: 100%;
    /* box-sizing: border-box; */
}

.page__inner::after {
    content: "";
    display: block;
    clear: both;
    /* box-sizing: border-box; */
}

.page__wrapper {
    max-width: 1920px;
    position: relative;
    padding: 10px 0;
    border-radius: 4px;
    float: right;
    width: 100%;
    /* box-sizing: border-box; */
}

.paper {
    /* width: 320px;
    height: calc(100vh - 87px); */

    /* margin-top: 110px; */
    position: sticky;
    float: right;
    top: 73px;
    bottom: 14px;
    /* overflow: hidden; */
    /* background: black;
    border-radius: 4px; */
    /* box-sizing: border-box; */
    z-index: 4;
}

.search-filter {
    background: black;
    height: 100%;
    /* box-sizing: border-box; */
    /* padding: 7px; */
}

.wrap {
    /* overflow-y: auto; */
    max-height: calc(100% - 44px);
    /* box-sizing: border-box; */
}

.hoverSort {
    float: left;
    margin-left: 0;
    position: fixed;
    margin-left: 10px;
    height: auto;
    /* top: 50%; */
    /* top: 100px; */
    top: 60px;

}

.retractableArrow i {
    font-size: 30px;
    color: white;
    /* padding-top: 300px; */
}

body._pc .sortContainer {
    position: absolute;
    /* position: fixed; */
    width: auto;
    min-width: 300px;
    /* height: auto; */
    min-height: 500px;
    background: #0A0C12;
    /* top: -20%; */
    top: 0%;
    left: 0%;
    z-index: 12;
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    /* transform: translate(-110%, -50%); */
    transform: translate(-110%, -5px);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.retractableArrow:hover .sortContainer {
    /* transform: translate(0%, -50%); */
    transform: translate(0%, -5px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sortMenu {
    overflow-y: auto;
    max-height: calc(100% - 44px);
}

.seacth-filter__filters {
    padding: 7px;
}

.search-filter-submenu-2,
.search-filter-submenu {
    padding: 7px 7px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}

.search-filter-submenu:hover,
.search-filter-submenu-2:hover {
    background-color: #1f2535;
}

.search-filter-topics__name {
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 19px; */
}

.search-filter-topics__btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.search-filter__selected {
    font-size: 12px;
    padding: 0 10px;
    font-weight: 400;
    color: #818181;
}

.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #555555;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /* line-height: 19px; */
}

.search-filter-topics__btn i {
    color: #555555;
}

.search-filter-layout-2,
.search-filter-layout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: .3s ease;
    background: black;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.search-filter-layout-2._active,
.search-filter-layout._active {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.search-filter__head-2,
.search-filter__head {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    padding: 0 14px;
    border-bottom: solid 1px white;
}

.search-filter__group {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.5fr 2fr; */
    padding: 7px 0 7px 0;
}

.search-filter__cont {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0 5px 12px;
}

._column2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

._column3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-filter__head-title {
    color: white;
    padding: 7px 0;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.search-filter__title {
    padding: 0 7px;
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.sortIcon i {
    float: right;
    font-size: 15px;
    color: #555555;
    opacity: 0;
}

.custom-radio>input:checked~.sortIcon i {
    opacity: 1;
}

.custom-radio {
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
}



/* для элемента input c type="radio" */
.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span.radio-btn {
    display: inline-flex;
    align-items: center;
    user-select: none;
    vertical-align: bottom;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span.radio-btn::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #5D5D6C;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: black;
    vertical-align: bottom;
}

/* стили при наведении курсора на радио */
/* .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    background-color: pink;
    border-color: pink;
} */

.radio-text {
    color: white;
    padding-left: 0.3em;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

}

.custom-radio:hover {
    background-color: #1f2535;
}


/* стили для активной радиокнопки (при нажатии на неё) */
/* .custom-radio>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
} */

/* стили для радиокнопки, находящейся в фокусе */
/* .custom-radio>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} */

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span.radio-btn::before {
    border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span.radio-btn::before {
    border-color: pink;
    background-color: pink;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}


/* стили для радиокнопки, находящейся в состоянии disabled */
/* .custom-radio>input:disabled+span.radio-btn::before {
    background-color: #e9ecef;
} */

/* end-radio-btn */

/* checkbox-btn */
#checkbox {
    display: none;
}

.checkbox span {
    font-family: 'Helvetica';
    font-size: 16px;
    margin-left: 24px;
    white-space: nowrap;
    color: white;

}

.checkbox {
    align-items: center;

    display: flex;
    flex-direction: row;

    width: 15px;
    height: 15px;
    border: solid 1px #5D5D6C;
    background-color: black;

    font-size: 12px;
    line-height: 20px;

    cursor: pointer;
    transition: all 0.3s ease 0s;

    position: relative;
}


.checkbox._active {
    background-color: #FAA7D9;
}

.checkbox i {
    display: none;
    position: absolute;
    font-size: 12px;
    top: 1px;
    left: 1px;
    color: white;
}

.checkbox._active i {
    display: block;
}

/* end-checkbox-btn */

/* only-pc */
body._pc #mobileNavigation {
    display: none;
    /* visibility: hidden;
    pointer-events: none; */
}

body._pc .paper_mobile {
    display: none;
    /* visibility: hidden;
    opacity: 0;
    pointer-events: none; */
}

body._pc #leftMenu {
    display: none;
    /* visibility: hidden;
    pointer-events: none; */
}

body._pc #rightMenu {
    display: none;
}