/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-600.woff2") format("woff2"), url("../fonts/rubik-v21-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-italic - latin */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-italic.woff2") format("woff2"), url("../fonts/rubik-v21-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html.lg-on {
  overflow: hidden;
}
html.lg-on .mobileMenuBackground {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}

body {
  background-color: #06070d;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  padding-top: 100px;
}
body._lock {
  overflow: hidden;
}
body._lock .mobileMenuBackground {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 11;
}
@media (max-width: 991px) {
  body {
    padding: 54px 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0d060c #131118;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #1a1720;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5a4054;
  border: 4px solid #1a1720;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header__nav-menu a,
.section-title a,
.footer__title-text a,
.profile-dropdown__Link,
.cover-item-gallery__com,
.post-tags__tag,
.comment__user,
.header__login-link,
.header__signin-link {
  text-decoration: none;
}

.wd10 {
  width: 10%;
}

.wd20 {
  width: 20%;
}

.wd30 {
  width: 30%;
}

.wd40 {
  width: 40%;
}

.wd50 {
  width: 50%;
}

.wd60 {
  width: 60%;
}

.wd70 {
  width: 70%;
}

.wd80 {
  width: 80%;
}

.wd90 {
  width: 90%;
}

.wd100 {
  width: 100%;
}

.fs14 {
  font-size: 14px;
}

.fs20 {
  font-size: 20px;
}

.fs30 {
  font-size: 30px;
}

.fs40 {
  font-size: 40px;
}

.fs42 {
  font-size: 42px;
}

.fs100 {
  font-size: 100px;
}

.pd10070 {
  padding: 100px 70px;
}

.pd4048 {
  padding: 40px 48px;
}

/* .cq {
    background-color: #06080d;
    height: 6px;
    width: 100%;
} */
.fs-nf {
  margin: 0 !important;
  padding: 0 !important;
  border: medium none;
  position: relative;
}

/* .activeLine {
    width: 100%;
    height: 3px;
    margin: 0px auto;
    background: #ff58c7;
    display: block;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
} */
/* .section-title {
    width: 96%;
    margin: 30px 0 0;
    background-color: #06070d;
    height: 40px;
}

.section-title__link {
    font-family: Inter;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;

}

.arrow {
    margin-left: 8px;
    position: relative;
    top: 2px;
} */
/* .containerPopularArts {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    grid-auto-flow: dense
} */
/* .arts_image {
    width: 100%;
    height: 100%;
    padding: 0 0 130% 0;
    overflow: hidden;
    position: relative;
} */
/* .arts_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; 
} */
/* .btnReg {
    width: 100%;
    height: auto;
    min-height: 40px;
    border: none;
    background: linear-gradient(313.09deg, #fa48bf, #ffb9e3);
    border-radius: 5px;
    margin-top: 20px;

    background-size: 200% 200%;
    animation: btn-gradient 3s ease infinite;
    animation-direction: alternate;
} */
/* .entranceOr svg {
    margin-right: 100px;
} */
/* .popularArts {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    gap: 10px;
} */
/* .navBurger {
    display: block;
} */
/* .container {
    float: left;
} */
.sideBar {
  /* position: absolute; */
  float: left;
  background-color: gray;
  height: 1000px;
  /* margin: 111px 0 0 0; */
  /* width: calc(30% - 10px); */
  width: 300px;
  padding: 20px 20px 20px 20px;
}

/* .sideBar a {
    color: white;
    font-size: 30px;
    margin: 20px 20px 20px 20px;
} */
.text-truncate {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #555555;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /* line-height: 19px; */
}

._column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  min-height: 16px;
  height: 32px;
  margin: 0;
  padding: 0 16px;
  color: #fff;
  line-height: 32px;
  background-color: #121420;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.line {
  height: 1px;
  margin: 8px;
  background-color: rgb(206, 206, 206);
  overflow: hidden;
}