@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:wght@100;300;400&display=swap");
.header {
  position: sticky;
  max-width: 1920px;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.header._hide-header {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  margin: 0 auto;
  background-color: var(--bg-default);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  height: 54px;
  padding: 0 110px;
  min-width: 280px;
  width: inherit;
}
@media (max-width: 991px) {
  .header__container {
    padding: 0 10px;
    height: 44px;
  }
}
.header__logo {
  justify-self: start;
}
@media (max-width: 991px) {
  .header__logo {
    display: none;
  }
}
.header__search {
  width: inherit;
  margin: 0;
}
.header__account-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 100%;
}
.header__mobile-navigation {
  display: block;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
}
.header__mobile-navigation::before, .header__mobile-navigation::after {
  content: "";
}
@media (max-width: 991px) {
  .header__mobile-navigation i.hamburgerIcon {
    font-size: 20px;
    line-height: 44px;
    color: var(--light-pink);
  }
}
@media (min-width: 992px) {
  .header__mobile-navigation {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.header__notification-icons {
  padding: 10px 0;
}
@media (max-width: 991px) {
  .header__notification-icons {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}
.header__profile._active .profile-dropdown {
  display: block;
}
.header__signin-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 4 * ((100vw - 280px) / 1640));
  padding: 0 1em;
  border: 1px solid var(--pink);
}
.header__nav {
  display: grid;
  height: 40px;
  border-top: solid 1px #1c1e2c;
  z-index: 3;
}
@media (max-width: 991px) {
  .header__nav {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.header__nav-menu {
  display: inherit;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  min-width: 280px;
  max-width: 764px;
}
.header__nav-menu li {
  width: inherit;
  height: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__nav-menu li::before, .header__nav-menu li::after {
  position: absolute;
  left: 0px;
  width: inherit;
  height: 2px;
  pointer-events: none;
  background-color: var(--light-pink);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-menu li::after {
  bottom: 0px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.header__nav-menu li:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.header__nav-menu a {
  text-transform: uppercase;
  outline-style: none;
  text-align: center;
}
.header__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: normal;
  color: var(--white);
}

.logo {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: normal;
  font-style: italic;
  text-align: left;
  color: var(--white);
}

.notification-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.notification-items__item {
  width: 40px;
  text-align: center;
  position: relative;
}
.notification-items__item i {
  font-size: 22px;
  color: var(--white);
}
.notification-items__icon {
  line-height: 44px;
}
.notification-items__icon:hover {
  background-color: var(--bg-light-secondary-default);
}
.notification-items__number-of-notifications {
  position: absolute;
  right: 0;
  top: 2px;
}
@media (max-width: 991px) {
  .notification-items {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.number-of-notifications {
  /* если нет уведомлений */
  /* background: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0); */
  /* если есть */
  color: var(--white);
  height: 15px;
  line-height: 17px;
  padding: 0 3px;
  background-color: var(--bg-notifications);
  min-width: 16px;
  border-radius: 16px;
  font-size: 10px;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: -200%;
  background-color: var(--white);
  padding: 10px;
  min-width: 255px;
  -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
          transform: translate(0px, 5%);
  z-index: 10;
  border-radius: 4px;
  /* margin: 0 -125px; */
  overflow: auto;
}
.profile-dropdown li {
  margin: 0 8px 1px;
  padding: 10px 14px;
  white-space: nowrap;
}
.profile-dropdown li:hover {
  background-color: var(--secondary-white);
}
.profile-dropdown__Link {
  font-size: 18px;
  color: var(--black);
}
.profile-dropdown__Link i {
  margin-right: 10px;
  width: 30px;
}

.header-profile-avatar {
  display: block;
  width: 40px;
  height: 40px;
}
@media (max-width: 991px) {
  .header-profile-avatar {
    width: 32px;
    height: 32px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.page__wrapper {
  /* box-sizing: border-box; */
  position: relative;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin-top: 17px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 15px;
  min-width: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-gallery {
  min-width: 280px;
  max-width: 1920px;
}

.gallery {
  /* margin-left: 100px; */
}
.gallery__numcom {
  font-size: 14px;
  text-align: right;
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
}

.infinite-container {
  padding-bottom: 100px;
}
.infinite-container.infinite-loading .loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-box {
  display: none;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pulse-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pulse-bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-purple);
}

.pulse-bubble-1 {
  -webkit-animation: pulse 0.4s ease 0s infinite alternate;
          animation: pulse 0.4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  -webkit-animation: pulse 0.4s ease 0.2s infinite alternate;
          animation: pulse 0.4s ease 0.2s infinite alternate;
}

.pulse-bubble-3 {
  -webkit-animation: pulse 0.4s ease 0.4s infinite alternate;
          animation: pulse 0.4s ease 0.4s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
.item-masonry {
  float: left;
  margin-bottom: 20px;
}
.item-masonry__wrapper {
  position: relative;
  margin: 8px;
  padding-bottom: 35px;
  border-radius: 16px;
}
@media (min-width: 1281px) {
  .item-masonry {
    width: 20%;
  }
}
@media (max-width: 1280px) {
  .item-masonry {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .item-masonry {
    width: 33.333%;
  }
}
@media (max-width: 700px) {
  .item-masonry {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .item-masonry {
    width: 100%;
  }
}

.item-media-container__item {
  position: relative;
}
.item-media-container__content {
  border-radius: 16px;
  display: block;
  width: 100%;
  height: 100%;
}
.item-media-container__media-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.item-media-container__media-hover:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 7, 13, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, rgba(6, 7, 13, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(0deg, rgba(6, 7, 13, 0.4), rgba(255, 255, 255, 0));
}

.cover-item-gallery-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 70px; */
  pointer-events: none;
  opacity: 1;
  visibility: visible;
}
.cover-item-gallery-container a {
  display: block;
  height: 100%;
}

.cover-item-gallery {
  color: var(--white);
}
.cover-item-gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  pointer-events: all;
  padding: 0 5px;
}
.cover-item-gallery__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  position: relative;
}
.cover-item-gallery__LC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cover-item-gallery__like {
  margin-left: auto;
}

.post-gallery {
  color: var(--white);
  position: relative;
  max-width: 100%;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  /* box-sizing: border-box; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-gallery__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: fill;
  margin-right: 16px;
  overflow: visible;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.post-gallery__avatar {
  width: 25px;
  height: 25px;
}

.post-views span i {
  font-size: 14px;
}

.dots-container {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
}

.dots-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  list-style: disc;
}
.dots-items__item {
  font-size: 0;
  padding: 2px;
}
.dots-items__item::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
  opacity: 0.5;
}

/* .cover-item-gallery span {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
} */
._2fvOL {
  right: 16px;
  top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EGj-R {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  content-visibility: hidden;
  opacity: 0;
}

/* .cover-item-gallery__items:hover,
.EGj-R:hover {
    content-visibility: visible;
    opacity: 1;
} */
._39asK {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._39asK span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.like-cont-info {
  text-align: right;
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
}

/* gallery-filter */
/* .paper { */
/* width: $min-width;
height: calc(100vh - 87px); */
/* margin-top: 110px; */
/* position: -webkit-sticky; */
/* position: sticky; */
/* float: right; */
/* top: 73px; */
/* bottom: 14px; */
/* overflow: hidden; */
/* background: black;
border-radius: 4px; */
/* box-sizing: border-box; */
/* z-index: 4; */
/* } */
/* body._touch .paper {
    display: none;
  } */
.search-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -o-transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.search-container__wrapper {
  height: 100%;
  margin: 0 10% 0 10%;
  padding-top: 10%;
  font-family: "Helvetica";
}
@media (max-width: 991px) {
  .search-container__wrapper {
    margin: 0;
  }
}
.search-container._active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.search-container._active .search-input {
  -webkit-animation: extension 0.3s ease;
          animation: extension 0.3s ease;
}
@-webkit-keyframes extension {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes extension {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.search-container._active .search-content {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}

#search-tags-form {
  height: 100%;
}

.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: auto;
  font-size: 20px;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-button > i {
  color: var(--light-pink);
}
.search-button:hover {
  background-color: var(--bg-light-secondary-default);
}

.search-input {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  max-width: 800px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media (max-width: 991px) {
  .search-input {
    max-width: 100%;
    margin: 0 15px;
  }
}
.search-input__input {
  width: 100%;
  height: 45px;
  padding: 3px 45px;
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1.13em;
}
.search-input__btn {
  top: 0;
  left: 0;
  font-size: 20px;
  color: var(--black);
  background-color: transparent;
}
.search-input__close {
  top: 0;
  right: 0;
  font-size: 26px;
  color: var(--black);
}

.search-input-icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 45px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}

.search-content {
  height: 100%;
  margin-top: 15px;
  line-height: 1.3;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -o-transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97), -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -webkit-transform: translate3d(0, 20em, 0) scale(0);
          transform: translate3d(0, 20em, 0) scale(0);
}

.tags-list {
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  height: calc(100% - 60px);
}
.tags-list__tag {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
  margin: 0.5em;
  padding: 0.5em 1em;
  background-color: var(--bg-tag-color);
  border: 1px solid var(--border-secondary-light);
  color: var(--white);
  border-radius: 2em;
  cursor: pointer;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.tags-list__tag:hover {
  background-color: var(--bg-tag-color-hover);
}
@media (max-width: 991px) {
  .tags-list__tag {
    font-size: 16px;
  }
}
.tags-list::-webkit-scrollbar {
  width: 4px;
}
.tags-list::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.tags-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  border: 1px solid rgb(71, 71, 71);
}

._enabled {
  background-color: var(--enable);
  border: 2px solid var(--enable);
}
._enabled:hover {
  background-color: var(--hover-enable);
}

._disabled {
  background-color: var(--disable);
  border: 2px solid var(--disable);
}
._disabled:hover {
  background-color: var(--hover-disable);
}

._show {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

body._touch #header-menu::before {
  display: table;
}
body._touch #header-menu::after {
  clear: both;
}

/* nav-menu-mobile */
#nav-menu-mobile {
  /* width: 85%; */
  height: 100%;
  min-width: 280px;
  background-color: var(--bg-sidebar-default);
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 120;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#nav-menu-mobile._active {
  display: block;
  left: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 280px) {
  #nav-menu-mobile {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #nav-menu-mobile {
    display: none;
  }
}
@media (min-width: 280px) {
  #nav-menu-mobile {
    width: 80%;
    /* max-width: 300px; */
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 15px 0 5px;
  zoom: 1;
  height: auto;
  color: var(--white);
}
.header-menu__title {
  margin: 0 auto;
  text-align: center;
  max-height: 60px;
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px;
}

#topmenu-section a.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
}

.close-ham-menu-2,
.close-ham-menu {
  top: 16px;
  left: 25px;
  bottom: inherit;
  left: inherit;
  z-index: 1;
  font-size: 34px;
  color: var(--light-pink);
}

.menu-wrapper {
  width: 90%;
  margin: auto;
  zoom: 1;
  padding: 15px 0 40px 0;
}

.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
  font-size: 10px;
  padding: 0;
  border: 0;
  margin: 0;
  background: 0 0;
  text-align: center;
  position: relative;
}

/* end-nav-menu-mobile */
/* right-menu */
#profile-menu-mobile {
  height: 100%;
  min-width: 280px;
  background-color: var(--bg-sidebar-default);
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 120;
  overflow: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#profile-menu-mobile._active {
  display: block;
  right: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 280px) {
  #profile-menu-mobile {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #profile-menu-mobile {
    display: none;
  }
}
@media (min-width: 280px) {
  #profile-menu-mobile {
    width: 80%;
    /* max-width: 300px; */
  }
}

.nav-menu__link {
  padding: 12px 16px;
  position: relative;
  display: block;
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid var(--dark-line);
}
.nav-menu__link i {
  color: var(--secondary-white);
  width: 1.875em;
  font-size: 1.25em;
}

/* end-right-menu */
.close-icon {
  vertical-align: middle;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #16171e), color-stop(-13%, var(--bg-default)));
  background-image: -o-linear-gradient(top, #16171e 100%, var(--bg-default) -13%);
  background-image: linear-gradient(to bottom, #16171e 100%, var(--bg-default) -13%);
  padding: 20px 40px 10px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  width: 100%;
  margin: 0 auto 20px;
  max-width: 1200px;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .footer-info {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer-info__title > ul {
  display: grid;
  grid-auto-rows: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.footer-info__title-text {
  font-size: calc(14px + 4 * ((100vw - 280px) / 1640));
  color: var(--white);
}
.footer-info__title-text > a {
  outline-style: none;
  color: var(--primary-pink);
}

.footer-link {
  margin: 0 auto;
  max-width: 280px;
  /* width: 96%; */
  justify-items: center;
}
.footer-link__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-pink);
  font-size: 1.5625em;
}