:root {
  --bg-default: #05060C;
  --bg-secondary-default: #0d0f1b;
  --bg-light-primary-default: #24254A;
  --bg-light-secondary-default: #121423;
  --bg-btn-default: #121420;
  --bg-sidebar-default: #0A0C12;
  --bg-dropdown: #141725;
  --bg-dropdown-hover: #0e101d;
  --bg-scrollbar: #1a1720;
  --bg-tag-color: #161A1F;
  --bg-tag-color-hover: #20252b;
  --bg-button: #FAA7D9;
  --bg-button-hover: #FF8DC8;
  --bg-button-active: #fd6fce;
  --error-default: #B00020;
  --error-light: #ff5b5b;
  --border-base: #38383a;
  --border-light: #292929;
  --border-secondary-light: #5D5D6C;
  --border-secondary-light-hover: #6d6d7c;
  --tag-border: #e8eaec;
  --bd-dark-text: #2e3251;
  --hover-btn-default: #171a25;
  --white: white;
  --primary-white: #f2f2f2;
  --secondary-white: #f0f0f0;
  --pink: #ffc0cb;
  --dark-pink: #BF8F97;
  --primary-pink: #FFACC6;
  --secondary-pink: #F28CC3;
  --light-pink: #FECBCA;
  --light-secondary-pink: #fce4e6;
  --dark-purple: #CB73F0;
  --primary-purple: #DCA1F5;
  --violet: #714cab;
  --light-violet: #9294f8;
  --light-secondary-violet: #6466b4;
  --black: black;
  --red: red;
  --light-gray: #aaa;
  --dark-gray: #85858d;
  --color-scrollbar-thumb: #5a4054;
  --line: #cecece;
  --dark-line: #38383a;
  --bg-notifications: #444;
  --enable: #3ccc7b;
  --hover-enable: #30a563;
  --disable: #f44336;
  --hover-disable: #c9392f;
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-500.woff2") format("woff2"), url("../fonts/inter-v12-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(""), url("../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v21-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-600.woff2") format("woff2"), url("../fonts/rubik-v21-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-italic - latin */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/rubik-v21-latin-italic.woff2") format("woff2"), url("../fonts/rubik-v21-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* CirceThin - 100*/
@font-face {
  font-family: "CirceThin";
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: local(""), url("../fonts/CirceThin.woff") format("woff");
}
/* CirceThin - 400*/
@font-face {
  font-family: "CirceRegular";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/CirceRegular.woff") format("woff");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}
*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html.lg-on {
  overflow: hidden;
}

body {
  background-color: var(--bg-default);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
body._lock {
  overflow: hidden;
}
body._lock .mobileMenuBackground {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 110;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: var(--bg-scrollbar);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-scrollbar-thumb);
  border: 2px solid var(--bg-scrollbar);
}
@-moz-document url-prefix() {
  body {
    scrollbar-width: 10px;
    scrollbar-color: var(--color-scrollbar-thumb) var(--bg-scrollbar);
  }
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 8px;
}
@media (min-width: 991px) {
  .wrapper {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
}

.wd10 {
  width: 10%;
}

.wd20 {
  width: 20%;
}

.wd30 {
  width: 30%;
}

.wd40 {
  width: 40%;
}

.wd50 {
  width: 50%;
}

.wd60 {
  width: 60%;
}

.wd70 {
  width: 70%;
}

.wd80 {
  width: 80%;
}

.wd90 {
  width: 90%;
}

.wd100 {
  width: 100%;
}

.fs14 {
  font-size: 14px;
}

.fs20 {
  font-size: 20px;
}

.fs30 {
  font-size: 30px;
}

.fs40 {
  font-size: 40px;
}

.fs42 {
  font-size: 42px;
}

.fs100 {
  font-size: 100px;
}

.pd10070 {
  padding: 100px 70px;
}

.pd4048 {
  padding: 40px 48px;
}

.fs-nf {
  margin: 0 !important;
  padding: 0 !important;
  border: medium none;
  position: relative;
}

._column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  min-height: 16px;
  height: 32px;
  margin: 0;
  padding: 0 16px;
  color: var(--white);
  font-family: "Helvetica";
  line-height: 32px;
  background-color: var(--bg-btn-default);
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.line {
  height: 1px;
  margin: 8px;
  background-color: var(--line);
  overflow: hidden;
}

.like-btn {
  height: auto;
  line-height: normal;
  padding: 0;
  background: transparent;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  cursor: pointer;
}
.like-btn__heart {
  font-size: 18px;
  position: relative;
  width: 1em;
  height: 1em;
}
.like-btn__not-pressed {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  fill: var(--white);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.like-btn__pressed {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  fill: var(--primary-pink);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.like-btn:hover {
  color: var(--primary-pink);
}
.like-btn:hover .like-btn__not-pressed {
  fill: var(--primary-pink);
  -webkit-transform: scale(1, 0.9);
      -ms-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
}
.like-btn._active {
  color: var(--primary-pink);
}
.like-btn._active .like-btn__not-pressed {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.like-btn._active .like-btn__pressed {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation: like 0.6s ease;
          animation: like 0.6s ease;
}
@-webkit-keyframes like {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 1.2);
            transform: scale(0.9, 1.2);
  }
  50% {
    -webkit-transform: scale(1.2, 0.9);
            transform: scale(1.2, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.1);
            transform: scale(0.95, 1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes like {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 1.2);
            transform: scale(0.9, 1.2);
  }
  50% {
    -webkit-transform: scale(1.2, 0.9);
            transform: scale(1.2, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.1);
            transform: scale(0.95, 1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.like-cont-info {
  margin-right: 14px;
}
.like-cont-info span {
  margin-left: 5px;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .like-cont-info span {
    font-size: calc(14px + 2 * ((100vw - 280px) / 1640));
  }
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20%;
}

.posts-not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20%;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--white);
  text-align: center;
  height: 180px;
  font-size: 42px;
  color: var(--bd-dark-text);
}
@media (max-width: 1920px) {
  .posts-not-found {
    font-size: calc(30px + 12 * ((100vw - 280px) / 1640));
  }
}
.posts-not-found > span {
  line-height: 60px;
}
.posts-not-found__icon {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hidden-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0px;
}

._39asK {
  font-family: "Helvetica";
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._39asK span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}