/* gallery-filter */
/* .paper { */
/* width: 320px;
height: calc(100vh - 87px); */

/* margin-top: 110px; */
/* position: -webkit-sticky; */
/* position: sticky; */
/* float: right; */
/* top: 73px; */
/* bottom: 14px; */
/* overflow: hidden; */
/* background: black;
border-radius: 4px; */
/* box-sizing: border-box; */
/* z-index: 4; */
/* } */

/* body._touch .paper {
    display: none;
} */

.gallery-filter {
    background: black;
    height: 100%;
  
    /* box-sizing: border-box; */
    /* padding: 7px; */
  }
  
  body._touch .gallery-filter {
    display: none;
  }
  
  .wrap {
    /* overflow-y: auto; */
    max-height: calc(100% - 44px);
  
    /* box-sizing: border-box; */
  }
  
  .hover-sort {
    float: left;
    margin-left: 0;
    position: fixed;
    margin-left: 10px;
    height: auto;
  
    /* top: 50%; */
    /* top: 100px; */
    top: 60px;
  }
  
  .retractable-arrow i {
    /* padding-top: 300px; */
  }
  
  body {
    &._pc .sort-container {
      position: absolute;
  
      /* position: fixed; */
      width: auto;
      min-width: 300px;
  
      /* height: auto; */
      min-height: 500px;
      background: #0A0C12;
  
      /* top: -20%; */
      top: 0%;
      left: 0%;
      z-index: 12;
      overflow-y: auto;
      padding: 10px;
      border-radius: 10px;
      transition: 0.3s;
  
      /* transform: translate(-110%, -50%); */
      transform: translate(-110%, -5px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    &._touch .sort-container {
      position: fixed;
      top: 0%;
      right: 0%;
      width: 100%;
      height: 100%;
      background: #0A0C12;
      z-index: 10;
      overflow-y: auto;
      padding: 10px;
      border-radius: 10px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.3s;
      transform: translate(110%, 0);
    }
  }
  
  .retractable-arrow:hover .sort-container {
    /* transform: translate(0%, -50%); */
    transform: translate(0%, -5px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .paper_mobile._active .sort-container {
    transform: translate(0%, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .sort-filer {
    overflow-y: auto;
    max-height: calc(100% - 44px);
  }
  
  .seacth-filter-menu {
    padding: 7px;
  }
  
  .search-filter-submenu-2 {
    padding: 7px 7px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .search-filter-submenu {
    padding: 7px 7px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
  
    &:hover {
      background-color: #1f2535;
    }
  }
  
  .search-filter-submenu-2:hover {
    background-color: #1f2535;
  }
  
  .search-filter-submenu__name {
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  
    /* line-height: 19px; */
  }
  
  .search-filter-submenu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    overflow: hidden;
  
    i {
      color: #555555;
    }
  }
  
  .search-filter-submenu__selected {
    font-size: 12px;
    padding: 0 10px;
    font-weight: 400;
    color: #818181;
  }
  
  .search-filter-group {
    display: grid;
    grid-template-columns: 1fr;
  
    /* grid-template-rows: 0.5fr 2fr; */
    padding: 7px 0 7px 0;
  }
  
  .search-filter-group__title {
    padding: 0 7px;
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .search-filter-group__content {
    display: grid;
  
    /* grid-template-columns: 1fr; */
    padding: 5px 0 5px 12px;
  }
  
  .custom-radio {
    > {
      input {
        &:checked ~ .custom-radio__sort-icon i {
          opacity: 1;
        }
  
        position: absolute;
        z-index: -1;
        opacity: 0;
      }
  
      span.custom-radio__radio-btn {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        align-items: center;
        user-select: none;
        vertical-align: bottom;
  
        &::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #5D5D6C;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          background-color: black;
          vertical-align: bottom;
        }
      }
    }
  
    padding: 5px 5px 5px 0px;
    border-radius: 5px;
  
    &:hover {
      background-color: #1f2535;
    }
  
    > input {
      &:focus:not(:checked) + span.custom-radio__radio-btn::before {
        border-color: #80bdff;
      }
  
      &:checked + span.custom-radio__radio-btn::before {
        border-color: pink;
        background-color: pink;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }
  }
  
  /* для элемента input c type="radio" */
  
  /* для элемента label связанного с .custom-radio */
  
  /* создание в label псевдоэлемента  before со следующими стилями */
  
  /* стили при наведении курсора на радио */
  /* .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
      background-color: pink;
      border-color: pink;
  } */
  
  /* стили для активной радиокнопки (при нажатии на неё) */
  /* .custom-radio>input:not(:disabled):active+span::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
  } */
  
  /* стили для радиокнопки, находящейся в фокусе */
  /* .custom-radio>input:focus+span::before {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */
  
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  
  /* стили для радиокнопки, находящейся в состоянии disabled */
  /* .custom-radio>input:disabled+span.custom-radio__radio-btn::before {
      background-color: #e9ecef;
  } */
  
  .custom-radio__radio-text {
    color: white;
    padding-left: 0.3em;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
  }
  
  .custom-radio__sort-icon i {
    float: right;
    font-size: 15px;
    color: #555555;
    opacity: 0;
  }
  
  /* checkbox-btn */
  
  #checkbox {
    display: none;
  }
  
  .checkbox {
    span {
      font-family: 'Helvetica';
      font-size: 16px;
      margin-left: 24px;
      white-space: nowrap;
      color: white;
    }
  
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 15px;
    height: 15px;
    border: solid 1px #5D5D6C;
    background-color: black;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: relative;
  
    &._active {
      background-color: #FAA7D9;
    }
  
    i {
      display: none;
      position: absolute;
      font-size: 12px;
      top: 1px;
      left: 1px;
      color: white;
    }
  
    &._active i {
      display: block;
    }
  }
  
  /* end-checkbox-btn */
  
  .search-filter-layout-2, .search-filter-layout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: .3s ease;
    background: black;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .search-filter-layout-2._active, .search-filter-layout._active {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .search-filter__head-2, .search-filter__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 14px;
    border-bottom: solid 1px white;
  }
  
  .search-filter__head-title {
    color: white;
    padding: 7px 0;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }
  
  body {
    &._touch {
      .search-filter-layout-2, .search-filter-layout {
        transform: translateX(100%);
      }
  
      .search-filter-layout-2._active, .search-filter-layout._active {
        transform: translateX(0%);
      }
  
      .paper_mobile {
        display: block;
      }
    }
  
    &._pc .paper_mobile {
      display: none;
  
      /* visibility: hidden;
      opacity: 0;
      pointer-events: none; */
    }
  }
  
  /* end gallery-filter */
  
  .paper_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px 13px;
    z-index: 8;
    background: #1c1c1e;
  }
  
  .paper_mobile__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
  
  .btnFilter {
    flex: 1 0 0;
    display: inline-block;
    min-height: 16px;
    height: 32px;
    margin: 0;
    padding: 0 16px;
    color: #babbbd;
    line-height: 32px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    outline: 0;
    border: none;
    border-radius: 4px;
    background-color: #2d2d2d;
    cursor: pointer;
    user-select: none;
    transition: opacity .1s ease, color .1s ease, background .1s ease;
  }