.post-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  position: relative;
  border-radius: 15px;
  background-color: #0B0C12;
  padding: 10px 100px;
  min-height: 550px;
  height: 90vh;
}
@media (max-width: 700px) {
  .post-images {
    height: 85vh;
  }
}
@media (max-width: 991px) {
  .post-images {
    padding: 0;
  }
}

.post-info {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .post-info {
    padding: 0 7px;
  }
}

.like-wrap {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.like-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  color: #fff;
}
@media (max-width: 1920px) {
  .like-cont {
    gap: calc(15px + 25 * ((100vw - 280px) / 1640));
  }
}
.like-cont i {
  font-weight: inherit;
  font-size: 20px;
  letter-spacing: inherit;
}
.like-cont button {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background: transparent;
  border: none;
  font: inherit;
}
@media (max-width: 991px) {
  .like-cont {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

.like-btn__heart::before {
  top: -1px;
}

.like-cont-info span {
  margin-left: 5px;
  font-family: "inter", sans-serif;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .like-cont-info span {
    font-size: calc(14px + 2 * ((100vw - 280px) / 1640));
  }
}

.post-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.post-data-published {
  color: #fff;
  font-family: "inter", sans-serif;
  font-size: 16px;
  margin-left: auto;
}
@media (max-width: 1920px) {
  .post-data-published {
    font-size: calc(12px + 4 * ((100vw - 280px) / 1640));
  }
}

.post-info-author {
  display: grid;
  grid-template-columns: 3fr 0.5fr;
  padding: 20px 0;
}
.post-info-author__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inherit;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 10px;
  font-family: "inter", sans-serif;
  font-size: 24px;
  color: #FAA7D9;
}
@media (max-width: 1920px) {
  .post-info-author__btn {
    font-size: calc(18px + 6 * ((100vw - 280px) / 1640));
  }
}
.post-info-author__btn i {
  margin-right: 10px;
}
.post-info-author__author {
  display: inherit;
  grid-template-columns: 0.1fr 3fr;
}
.post-info-author__author img {
  width: 60px;
  height: 60px;
}
@media (max-width: 1920px) {
  .post-info-author__author img {
    width: calc(40px + 20 * ((100vw - 280px) / 1640));
  }
}
@media (max-width: 1920px) {
  .post-info-author__author img {
    height: calc(40px + 20 * ((100vw - 280px) / 1640));
  }
}

.author-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  color: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: inherit;
}
.author-name__name {
  font-size: 18px;
}
@media (max-width: 1920px) {
  .author-name__name {
    font-size: calc(16px + 2 * ((100vw - 280px) / 1640));
  }
}
.author-name__subscribe {
  font-size: 14px;
}
@media (max-width: 1920px) {
  .author-name__subscribe {
    font-size: calc(12px + 2 * ((100vw - 280px) / 1640));
  }
}

.post-info-details {
  padding: 20px 0;
}

.post-info-comments {
  padding-top: 94px;
}
.post-info-comments__container {
  padding: 20px;
  border-radius: 15px;
  background-color: #0e1016;
}

.post-info-tags__title {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: inherit;
  line-height: 24px;
  color: #B1B1B9;
}

.post-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}
.post-tags__tag {
  border: 1px solid #5D5D6C;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #161A1F;
  color: #FCF7F1;
  font-family: "Rubik";
  font-weight: 600;
  font-size: 14px;
  letter-spacing: inherit;
}
.post-tags__tag:hover {
  background-color: #20252b;
  border: 1px solid #6d6d7c;
}

.post-info-description {
  margin-top: 30px;
}
.post-info-description__title {
  font-family: "inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: inherit;
  line-height: 24px;
  color: #B1B1B9;
}

.post-description {
  margin-top: 5px;
  color: #FCF7F1;
  font-family: "CirceRegular";
  font-weight: inherit;
  font-size: 18px;
  letter-spacing: inherit;
  line-height: 22px;
}

.comments-form {
  display: grid;
  padding-bottom: 20px;
  margin-bottom: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-bottom: 1px solid #1c1e2c;
}
.comments-form__pseudo-form {
  padding: 12px;
  width: 100%;
  font-family: "Helvetica";
  border-radius: 3px;
  border: 1px solid #5D5D6C;
  color: #85858d;
  cursor: pointer;
}
.comments-form__title {
  font-family: "inter", sans-serif;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .comments-form__title {
    font-size: calc(12px + 4 * ((100vw - 280px) / 1640));
  }
}
.comments-form__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments-form__author img {
  margin-right: 5px;
  color: #000;
  width: 40px;
  height: 40px;
}
@media (max-width: 1920px) {
  .comments-form__author img {
    width: calc(35px + 5 * ((100vw - 280px) / 1640));
  }
}
@media (max-width: 1920px) {
  .comments-form__author img {
    height: calc(35px + 5 * ((100vw - 280px) / 1640));
  }
}
.comments-form__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  justify-items: end;
  padding: 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: inherit;
  letter-spacing: inherit;
}
.comments-form__input-comment {
  width: 100%;
  word-break: break-word;
  resize: none;
  border: none;
  color: #F6F6F6;
  background: transparent;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .comments-form__input-comment {
    font-size: calc(14px + 2 * ((100vw - 280px) / 1640));
  }
}

.comments-form-sorting {
  position: relative;
}
.comments-form-sorting__sort-btn {
  cursor: pointer;
  font-family: "inter", sans-serif;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .comments-form-sorting__sort-btn {
    font-size: calc(12px + 4 * ((100vw - 280px) / 1640));
  }
}
.comments-form-sorting__sort-btn i {
  margin-right: 5px;
}
.comments-form-sorting__sortlist {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  padding: 10px;
  background-color: #252630;
  border-radius: 4px;
}

.button-send {
  float: right;
  padding: 5px 10px;
  background: rgb(199, 138, 162);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .button-send {
    font-size: calc(12px + 4 * ((100vw - 280px) / 1640));
  }
}
.button-send:hover {
  background: rgb(197, 127, 155);
}
.button-send:active {
  background: rgb(190, 118, 147);
}

.comments-are-forbidden {
  text-align: center;
}
.comments-are-forbidden > span {
  font-family: "inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: #5D5D6C;
}

._39asK {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._39asK span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments-list {
  margin: 0 -8px;
}

.comment {
  position: relative;
}
.comment__body {
  padding: 12px 8px;
  border-radius: 10px;
}
.comment__head {
  position: relative;
  padding-left: 32px;
  padding-left: 0;
}
@media (min-width: 500px) {
  .comment__head {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.comment__user {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment__avatar {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  display: block;
  border-radius: 3px;
  border: 0;
  overflow: hidden;
  font-size: 0;
}
.comment__username {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-right: 4px;
  color: white;
  font-weight: 700;
  font-family: "inter", sans-serif;
  max-width: 220px;
}
.comment__date-time {
  font-size: 13px;
  font-family: "Helvetica";
  color: #aaa;
}
.comment__content {
  margin: 8px 0 4px;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  word-break: break-word;
  color: white;
  font-family: "CirceRegular";
}
.comment__children {
  position: relative;
  margin-left: 8px;
  padding-left: 17px;
  border-left: 1px solid #1c1e2c;
}
.comment__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-button {
  margin-right: 10px;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(255, 158, 190);
  height: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.comments-form__reply,
.comment-reply {
  width: 100%;
}
.comments-form__reply .comments-form__controls, .comments-form__reply__controls,
.comment-reply .comments-form__controls,
.comment-reply__controls {
  padding: 8px 0 0 0;
}
.comments-form__reply .comments-form__controls::after, .comments-form__reply__controls::after,
.comment-reply .comments-form__controls::after,
.comment-reply__controls::after {
  content: "";
  display: block;
  clear: both;
}
.comments-form__reply .comments-form__input, .comments-form__reply__input,
.comment-reply .comments-form__input,
.comment-reply__input {
  padding: 17px;
  min-height: 80px;
  line-height: 20px;
  word-break: break-word;
  border: 1px solid #5D5D6C;
  border-radius: 3px;
  color: #fff;
  font-family: "Helvetica";
}

.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}
.custom-radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio span.custom-radio__radio-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: bottom;
}
.custom-radio span.custom-radio__radio-btn::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #5D5D6C;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: black;
  vertical-align: bottom;
}
.custom-radio:hover {
  background-color: #343642;
}
.custom-radio > input:focus:not(:checked) + span.custom-radio__radio-btn::before {
  border-color: #80bdff;
}
.custom-radio > input:checked + span.custom-radio__radio-btn::before {
  border-color: pink;
  background-color: pink;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.custom-radio__radio-text {
  font-family: "Helvetica";
}

.dynamic-gallery-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 7%;
  right: 5px;
  width: 20px;
  height: 30px;
  padding: 0;
  z-index: 10;
  opacity: 0.9;
  background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='22px' height='22px'><path style='fill:rgb(255, 255, 255)' d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/></svg>") 100% no-repeat;
  background-color: transparent;
}

.image-slider__slide,
.image-slider-2__slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  background-position: center;
}
.image-slider__slide img,
.image-slider-2__slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-slider {
  height: 92%;
  width: 100%;
}
.image-slider__image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.image-slider img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.image-slider-2 {
  height: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
.image-slider-2__wrapper {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: auto !important;
}
.image-slider-2__slide {
  height: 100%;
  opacity: 0.4;
}
.image-slider-2__slide.swiper-slide {
  width: auto;
}
.image-slider-2__slide.swiper-slide:last-child {
  margin-right: 0 !important;
}
.image-slider-2 .swiper-slide-thumb-active {
  opacity: 1;
}

.slider-buttons__button.swiper-button-next, .slider-buttons__button.swiper-button-prev {
  top: calc(50% - 100px);
  color: #fff;
}
.slider-buttons__button.swiper-button-next {
  margin-right: 50px;
}
.slider-buttons__button.swiper-button-prev {
  margin-left: 50px;
}
@media (max-width: 991px) {
  .slider-buttons {
    display: none;
    visibility: hidden;
  }
}