.gallery {
  margin: 0 -8px;
  /* margin-left: 100px; */
}
.gallery__item {
  float: left;
  margin-bottom: 20px;
}
@media (min-width: 1281px) {
  .gallery__item {
    width: 20%;
  }
}
@media (max-width: 1280px) {
  .gallery__item {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .gallery__item {
    width: 33.333%;
  }
}
@media (max-width: 700px) {
  .gallery__item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .gallery__item {
    width: 100%;
  }
}
.gallery__content {
  position: relative;
  margin: 8px;
  padding-bottom: 35px;
  border-radius: 16px;
}
.gallery__thumbnail {
  position: relative;
}
.gallery__media {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.gallery__media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.gallery__media-overlay:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(6, 7, 13, 0.4)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(bottom, rgba(6, 7, 13, 0.4), rgba(255, 255, 255, 0));
  background: linear-gradient(0deg, rgba(6, 7, 13, 0.4), rgba(255, 255, 255, 0));
}
.gallery__status {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 5px;
  margin: -8px -5px 0 0;
  background-color: var(--light-violet);
}
.gallery__numcom {
  font-size: 14px;
  text-align: right;
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
}

.infinite-container {
  padding-bottom: 100px;
}
.infinite-container.infinite-loading .loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-box {
  display: none;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.pulse-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pulse-bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.pulse-bubble-1 {
  -webkit-animation: pulse 0.4s ease 0s infinite alternate;
          animation: pulse 0.4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
  -webkit-animation: pulse 0.4s ease 0.2s infinite alternate;
          animation: pulse 0.4s ease 0.2s infinite alternate;
}

.pulse-bubble-3 {
  -webkit-animation: pulse 0.4s ease 0.4s infinite alternate;
          animation: pulse 0.4s ease 0.4s infinite alternate;
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}
.cover-item-gallery-container {
  /* background-color: rgba(0, 0, 0, 0.1); */
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 70px; */
  pointer-events: none;
  opacity: 1;
  visibility: visible;
}
.cover-item-gallery-container a {
  display: block;
  height: 100%;
}

.cover-item-gallery {
  color: var(--white);
}
.cover-item-gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  pointer-events: all;
  padding: 0 5px;
}
.cover-item-gallery__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
  position: relative;
}
.cover-item-gallery__LC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cover-item-gallery__like {
  margin-left: auto;
}

.post-gallery {
  color: var(--white);
  position: relative;
  max-width: 100%;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: normal;
  /* box-sizing: border-box; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post-gallery__author {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  pointer-events: fill;
  margin-right: 16px;
  overflow: visible;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.post-gallery__avatar {
  width: 25px;
  height: 25px;
}

.post-views span i {
  font-size: 14px;
}

.dots-container {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
}

.dots-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  list-style: disc;
}
.dots-items__item {
  font-size: 0;
  padding: 2px;
}
.dots-items__item::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
  opacity: 0.5;
}

/* .cover-item-gallery span {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -30px;
} */
._2fvOL {
  right: 16px;
  top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.EGj-R {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  content-visibility: hidden;
  opacity: 0;
}

/* .cover-item-gallery__items:hover,
.EGj-R:hover {
    content-visibility: visible;
    opacity: 1;
} */
._39asK {
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._39asK span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.like-cont-info {
  text-align: right;
  line-height: 24px;
  height: 24px;
  margin-right: 8px;
}