.post-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: var(--bg-secondary-default);
  padding: 5px 0;
  min-height: 550px;
  height: 85vh;
}
@media (min-width: 700px) {
  .post-images {
    height: 80vh;
  }
}
@media (min-width: 991px) {
  .post-images {
    padding: 10px 100px;
  }
}

.post-info {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.like-wrap {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
@media (min-width: 991px) {
  .like-wrap {
    padding: 20px;
  }
}

.like-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  color: var(--white);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
@media (max-width: 1920px) {
  .like-cont {
    gap: calc(15px + 25 * ((100vw - 264px) / 1656));
  }
}
.like-cont i {
  font-size: 22px;
}
.like-cont button {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background: transparent;
  border: none;
  font: inherit;
}
@media (min-width: 991px) {
  .like-cont {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
}

.like-cont-info span {
  margin-left: 5px;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .like-cont-info span {
    font-size: calc(14px + 2 * ((100vw - 264px) / 1656));
  }
}

.post-complaints__button {
  cursor: pointer;
}
.post-complaints__list {
  margin: 0;
  left: 0;
}
@media (max-width: 700px) {
  .post-complaints__list {
    right: 0;
    left: auto;
  }
}
.post-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.post-data-published {
  color: var(--white);
  font-family: "CirceRegular";
  font-size: 18px;
  margin-left: auto;
}
@media (max-width: 1920px) {
  .post-data-published {
    font-size: calc(14px + 4 * ((100vw - 264px) / 1656));
  }
}

.post-info-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.post-info-author__author {
  display: inherit;
  grid-template-columns: 0.1fr 3fr;
}
.post-info-author__avatar {
  width: 45px;
  height: 45px;
}

.subscribe-btn {
  position: relative;
  overflow: hidden;
}
.subscribe-btn::before, .subscribe-btn::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: var(--primary-purple);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subscribe-btn::before {
  width: 1px;
  height: 25%;
}
.subscribe-btn::after {
  width: 10%;
  height: 1px;
}
.subscribe-btn:hover::before {
  height: 100%;
}
.subscribe-btn:hover::after {
  width: 100%;
}
.subscribe-btn:hover .subscribe-btn__btn::before {
  height: 100%;
}
.subscribe-btn:hover .subscribe-btn__btn::after {
  width: 100%;
}
.subscribe-btn__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border: none;
  font-size: 16px;
  gap: 10px;
  padding: 14px;
  color: #f4f4f4;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  font-family: "CirceRegular";
}
@media (max-width: 1920px) {
  .subscribe-btn__btn {
    font-size: calc(14px + 2 * ((100vw - 264px) / 1656));
  }
}
.subscribe-btn__btn::before, .subscribe-btn__btn::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: var(--primary-purple);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.subscribe-btn__btn:before {
  height: 25%;
  width: 1px;
}
.subscribe-btn__btn:after {
  width: 10%;
  height: 1px;
}
.subscribe-btn._active .subscribe-btn__icon {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
  border-radius: 100%;
}
.subscribe-btn__icon {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.subscribe-btn__icon::after, .subscribe-btn__icon::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  border-radius: 10px;
}
.subscribe-btn__icon:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.author-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
  color: var(--white);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  font-weight: 500;
}
.author-name__subscribers {
  font-size: 14px;
}

.post-info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px 0;
}
.post-info-details__title {
  color: var(--light-gray);
  font-size: 20px;
}
.post-info-details__content {
  margin-top: 10px;
}

.post-info-comments {
  padding-top: 94px;
}
.post-info-comments__container {
  padding: 0;
  border-radius: 15px;
}

.post-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.post-tags__tag {
  height: auto;
  line-height: normal;
  border: 1px solid var(--bg-light-primary-default);
  padding: 0.75em 0.9375em;
  border-radius: 8px;
  color: var(--secondary-white);
  background-color: var(--bg-secondary-default);
  font-family: "Rubik";
  font-weight: 600;
  font-size: 14px;
}
.post-tags__tag:hover {
  background-color: var(--bg-btn-default);
}

.post-description {
  word-wrap: break-word;
  word-break: break-word;
  font-family: "inter", sans-serif;
  font-size: 16px;
  color: var(--primary-white);
}

.comments-form {
  display: grid;
  margin-bottom: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.comments-form__pseudo-form {
  width: 100%;
  padding: 22px;
  font-family: "CirceRegular";
  background-color: var(--bg-secondary-default);
  border-radius: 3px;
  border: 1px solid var(--border-secondary-light);
  color: var(--dark-gray);
  cursor: pointer;
}
.comments-form__title {
  color: var(--light-gray);
  font-size: 20px;
}
.comments-form__input {
  border: none;
}
.comments-form__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  justify-items: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 20px;
  color: var(--white);
  font-weight: 600;
  font-size: inherit;
  letter-spacing: inherit;
}
.comments-form__input-comment {
  padding: 17px;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .comments-form__input-comment {
    font-size: calc(14px + 2 * ((100vw - 264px) / 1656));
  }
}

.comments-form-sorting {
  position: relative;
}
.comments-form-sorting__sort-btn {
  cursor: pointer;
  font-family: "inter", sans-serif;
  font-size: 16px;
}
@media (max-width: 1920px) {
  .comments-form-sorting__sort-btn {
    font-size: calc(14px + 2 * ((100vw - 264px) / 1656));
  }
}
.comments-form-sorting__sort-btn i {
  margin-right: 5px;
}
.comments-form-sorting__sortlist {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  padding: 10px;
  background-color: var(--bg-dropdown);
  border-radius: 4px;
}

.button-send {
  float: right;
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
.button-send:hover {
  background-color: var(--bg-button-hover);
}
.button-send:active {
  background-color: var(--bg-button-active);
}

.comments-are-forbidden {
  text-align: center;
  height: 60px;
  background-color: var(--bg-secondary-default);
  font-weight: 600;
  letter-spacing: 1.3px;
  font-size: 20px;
  color: var(--border-secondary-light);
}
@media (max-width: 1920px) {
  .comments-are-forbidden {
    font-size: calc(16px + 4 * ((100vw - 264px) / 1656));
  }
}
.comments-are-forbidden > span {
  line-height: 60px;
}

.comments-list {
  margin: 0 -8px;
}

.comment {
  position: relative;
}
.comment__inner {
  background-color: var(--bg-secondary-default);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}
.comment__body {
  padding: 12px 8px;
  border-radius: 10px;
}
.comment__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 32px;
  padding-left: 0;
}
.comment__user {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.comment__avatar {
  width: 24px;
  height: 24px;
  display: block;
  border: 0;
  overflow: hidden;
  font-size: 0;
}
.comment__username {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  color: var(--white);
  font-weight: 700;
  max-width: 220px;
  font-size: 16px;
}
.comment__date-time {
  font-size: 13px;
  font-family: "Helvetica";
  color: var(--light-gray);
}
.comment__content {
  margin: 12px 0 8px;
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--primary-white);
  font-family: "inter", sans-serif;
}
.comment__children {
  position: relative;
  padding-left: 9px;
  margin-left: 0;
  border-left: 1px solid var(--bg-light-secondary-default);
}
@media (min-width: 991px) {
  .comment__children {
    margin-left: 8px;
    padding-left: 17px;
  }
}
.comment__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.comment__control {
  margin-left: auto;
  color: var(--light-gray);
}
.comment__control-btn {
  cursor: pointer;
}
.comment__control-list {
  margin: 0;
  right: 0;
}
.answer-button {
  margin-right: 10px;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--primary-color);
  height: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.comments-form__reply,
.comment-reply {
  width: 100%;
}
.comments-form__reply .comments-form__controls, .comments-form__reply__controls,
.comment-reply .comments-form__controls,
.comment-reply__controls {
  padding: 8px 0 0 0;
}
.comments-form__reply .comments-form__controls::after, .comments-form__reply__controls::after,
.comment-reply .comments-form__controls::after,
.comment-reply__controls::after {
  content: "";
  display: block;
  clear: both;
}
#reply-reply {
  margin-left: 10px;
}

.dynamic-gallery-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 7%;
  right: 5px;
  width: 20px;
  height: 30px;
  padding: 0;
  z-index: 10;
  opacity: 0.9;
  background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='22px' height='22px'><path style='fill:rgb(255, 255, 255)' d='M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z'/></svg>") 100% no-repeat;
  background-color: transparent;
}

.image-slider__slide,
.image-slider-2__slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  background-position: center;
}
.image-slider__slide img,
.image-slider-2__slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-slider {
  height: 92%;
  width: 100%;
}
.image-slider__item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.image-slider img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.image-slider-2 {
  height: 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
.image-slider-2__wrapper {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  width: auto !important;
}
.image-slider-2__slide {
  height: 100%;
  opacity: 0.4;
}
.image-slider-2__slide.swiper-slide {
  width: auto;
}
.image-slider-2__slide.swiper-slide:last-child {
  margin-right: 0 !important;
}
.image-slider-2 .swiper-slide-thumb-active {
  opacity: 1;
}

.slider-buttons {
  display: none;
  visibility: hidden;
  pointer-events: none;
}
.slider-buttons__button.swiper-button-next, .slider-buttons__button.swiper-button-prev {
  top: calc(50% - 44px);
  color: var(--white);
}
.slider-buttons__button.swiper-button-next {
  margin-right: 50px;
}
.slider-buttons__button.swiper-button-prev {
  margin-left: 50px;
}
@media (min-width: 991px) {
  .slider-buttons {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
}