/* ______________________mobile______________________ */

/* body._touch  */


body._touch .phLogoWrap,
body._touch .closeIcon {
    vertical-align: middle;
}


/* body._touch .namelogo {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

body._touch .profile {
    position: block;
}

body._touch .profileDropdownLink {
    font-size: 24px;
} */

/* body._touch .navBurger {
    display: block;
    z-index: 12;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

body._touch .navBurger span,
body._touch .navBurger::before,
body._touch .navBurger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: white;
}

body._touch .navBurger::before,
body._touch .navBurger::after {
    content: "";
}

body._touch .navBurger::before {
    top: 0;
}

body._touch .navBurger::after {
    bottom: 0;
}

.navBurger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
}

.navBurger._active span {
    transform: scale(0) translate(0, -50%);
}

.navBurger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.navBurger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
} */

/* body._touch #mobileNavigation {
    width: 47px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: inherit;
    right: inherit;
    border: 0;
}

body._touch .hamburgerIcon {
    font-size: 30px;
    color: #fd96cf;
}

body._touch #mobileNavigation::before,
body._touch #mobileNavigation::after {
    content: "";
}


#mobileNavigation span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
}

#mobileNavigation._active span {
    transform: scale(0) translate(0, -50%);
}

body._touch #headerMenu::before,
body._touch #headerMenu::after {
    content: "";
}

body._touch #headerMenu::before {
    content: "";
    display: table;
}

body._touch #headerMenu::after {
    clear: both;
}

body._touch .menuSection::before {
    content: "";
    display: table;
}

body._touch .menuSection::after {
    clear: both;
}

.closeHamMenu {
    position: absolute;
    top: 16px;
    right: 25px;
    bottom: inherit;
    left: inherit;
}*/


body._touch .descriptionForm {
    display: none;
    visibility: hidden;
}



/* ______________________end-mobile______________________ */