.reg-container {
  background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* box-sizing: border-box; */
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-menu {
  border-radius: 20px;
  /* width: 856px;
  height: 690px; */
  /* width: auto; */
  height: auto;
  background: #06080D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 40pt 50pt 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 40pt 50pt 0 rgba(0, 0, 0, 0.35);
}
@media (max-width: 991px) {
  .reg-menu {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.form-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  width: 440px;
}
@media (max-width: 991px) {
  .form-container {
    min-width: 276px;
    max-width: none;
  }
}

.close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  background: none;
  font-size: 30px;
  margin: 15px 17px;
  color: #fff;
}

.reg-menu__form {
  /* padding: 40px 48px; */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* box-sizing: border-box; */
}
@media (max-width: 991px) {
  .reg-menu__form {
    padding: 40px 30px;
  }
}

.reg-menu__form h2 {
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0;
  /* font-size: 40px; */
  font-size: calc(30px + 0.75vw);
  line-height: 42px;
  color: #FAA7D9;
  margin: 0 0 3px;
}

.reg-menu__reg-form {
  /* margin: 40px 0 53px; */
  margin: 40px 0 0;
}
.reg-menu__reg-form p {
  margin-bottom: 20px;
}
.reg-menu__reg-form p input {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #06070d;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #f588d1;
  color: #fff;
}
.reg-menu__reg-form p input::-webkit-input-placeholder {
  color: pink;
}
.reg-menu__reg-form p input::-webkit-input-placeholder, .reg-menu__reg-form p input::-moz-placeholder, .reg-menu__reg-form p input:-ms-input-placeholder, .reg-menu__reg-form p input::-ms-input-placeholder, .reg-menu__reg-form p input::placeholder {
  color: pink;
}
.reg-menu__reg-form p input:focus {
  border-bottom: 2px solid #f588d1;
}
.reg-menu__reg-form p input:focus::-webkit-input-placeholder {
  opacity: 0.7;
  /* border: 2px solid #f588d1; */
}
.reg-menu__reg-form p input:focus::-webkit-input-placeholder, .reg-menu__reg-form p input:focus::-moz-placeholder, .reg-menu__reg-form p input:focus:-ms-input-placeholder, .reg-menu__reg-form p input:focus::-ms-input-placeholder, .reg-menu__reg-form p input:focus::placeholder {
  opacity: 0.7;
  /* border: 2px solid #f588d1; */
}

.btn-reg {
  position: relative;
  -webkit-transform: translateX(0%) translateY(0%);
      -ms-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
  margin-top: 20px;
  background: #FAA7D9;
  color: black;
  width: 100%;
  height: auto;
  min-height: 50px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
.btn-reg:focus {
  outline: 0;
}
.btn-reg:before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
      -ms-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
.btn-reg:after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
      -ms-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
@media (max-width: 991px) {
  .btn-reg::before, .btn-reg::after {
    display: none;
  }
}

.btn-reg:hover {
  background: #fd6fce;
  cursor: pointer;
}
.btn-reg:hover:before {
  -webkit-transform: translateX(540px) skewX(-15deg);
  -ms-transform: translateX(540px) skewX(-15deg);
  transform: translateX(540px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.btn-reg:hover:after {
  -webkit-transform: translateX(540px) skewX(-15deg);
  -ms-transform: translateX(540px) skewX(-15deg);
  transform: translateX(540px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.errorlist {
  word-wrap: break-word;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 100;
  color: rgb(255, 91, 91);
}

.fData {
  margin-top: 5px;
  text-align: right;
}
.fData a {
  /* font-family: Inter; */
  font-style: regular;
  color: rgb(233, 233, 233);
}

._1AOkp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 15px 0;
  height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 100%;
  background-color: rgb(170, 170, 170);
}

.or {
  color: rgb(170, 170, 170);
  font-size: 18px;
  margin: 0 8px 1px;
}

.reg-menu__entranceOr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  /* border-color: #5D5D6C; */
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #27303b;
  border: none;
  /* border: 1px solid #b1b1b9; */
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.reg-menu__entranceOr div {
  padding-left: 15px;
  color: rgb(212, 212, 212);
}

.sign-icon {
  position: absolute;
  left: 0;
  margin-top: 5px;
}