{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#05060C">

    <link rel="stylesheet" href="{% static '/css/reset.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/page.css' %}">
    {% block compressible_stylesheet %}{% endblock %}
    {% block uncompressible_stylesheet %}{% endblock %}
    {% block title %}{% endblock %}
</head>

<body id="body">
    {% include "posts/html/_search.html" %}
    <div class="mobileMenuBackground"></div>
    <div class="wrapper">
        {% include "posts/html/_header.html" %}
        <main class="page">
            <div class="container">
                <div class="page__wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
        </main>
        {% include "posts/html/_nav-mobile.html" %}
        {% include "posts/html/_profile-menu-mobile.html"%}
    </div>
    {% include "posts/html/_footer.html"%}
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>

    <script src="{% static '/js/device.js' %}"></script>
    <script src="{% static '/js/search-tags.js' %}"></script>
    <script src="{% static '/js/index.js' %}"></script>
    <script src="{% static '/posts/js/like.js' %}"></script>

    {% block script %}
    {% endblock %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script> -->
</body>

</html>