{% load static %}

<section class="comment">
    <article class="comment__body">
        <div class="comment__inner">
            <div class="comment__head">
                {% if request.user != comment.author %}
                <a href="{% url 'user_info' comment.author.id %}" class="comment__user">
                    {% else %}
                    <a href="{% url 'profile' %}" class="comment__user">
                        {% endif %}
                        {% if comment.author.avatar %}
                        <img class="comment__avatar avatar" src="{{comment.author.avatar.url}}">
                        {% else %}
                        <img class="comment__avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}">
                        {% endif %}
                        <span class="comment__username">{{comment.author}}</span>
                    </a>
                    <time class="comment__date-time">
                        <time>{{comment.pub_date}}</time>
                    </time>
            </div>
            <div class="comment__content">
                <p>{{comment.text}}</p>
            </div>
        </div>
        <div class="comment__controls">
            <button class="answer-button" data-commentbox="{{comment.pk}}">ответить</button>
            <div class="comment-complaints dropdown">
                <button class="comment-complaints__btn dropdown__btn button-hide">
                    <i class="fa-solid fa-ellipsis"></i>
                </button>
                <ul class="comment-complaints__drop-list dropdown__list">
                    <li class="comment-complaints__item dropdown__item">
                        <a href="#complaints-comment-window"
                            class="comment-complaints__link dropdown__subitem popup-link" rel="modal:open"
                            data-modal="#complaints-comment-window">Пожаловаться</a>
                    </li>
                    {% if request.user == comment.author %}
                    <li class="comment-complaints__item dropdown__item">
                        <a class="comment-complaints__link dropdown__subitem">Редактировать</a>
                    </li>
                    <li class="comment-complaints__item dropdown__item">
                        <a href="{% url 'delete_comment' comment.pk %}"
                            class="comment-complaints__link dropdown__subitem">Удалить</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="comment-reply" id="{{comment.pk}}" hidden>
            <form id="reply-reply" action="{% url 'add_reply_comment' post.id comment.id %}" method="post">
                {% csrf_token %}
                <div class="comment-reply__input textarea">
                    <textarea class="comments-form__input-comment textarea__input textarea-autosize" name="reply-reply"
                        placeholder="Написать ответ" required></textarea>
                </div>
                <div class="comment-reply__controls">
                    <div class="comment-reply__send">
                        <button class="button-send" type="submit" aria-label="отправить коментарий">Оптравить</button>
                    </div>
                </div>
            </form>
        </div>
    </article>
    <div class="comment__children">
        {% for comment in comment.related_comments.all %}
        {% include 'posts/comment_block.html' %}
        {% endfor %}
    </div>
</section>