{% load static %}

<div class="comment">
    <div class="comment__body">
        <div class="comment__inner">
            <div class="comment__head">
                <a href="" class="comment__user">
                    <img class="comment__avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}">
                    <span class="comment__username">{{comment.author}}</span>
                </a>
                <time class="comment__date-time">
                    <time datetime="Fri Sep 1 1939 00:00:01 GMT+000">{{comment.pub_date}}</time>
                </time>
            </div>
            <div class="comment__content">
                <div>
                    {{comment.text}}
                </div>
            </div>
        </div>
        <div class="comment__controls">
            <button class="answer-button" data-commentbox="{{comment.pk}}">ответить</button>
        </div>
        <div class="comment-reply" id="{{comment.pk}}" hidden>
            <form id="reply-reply">
                <div class="comment-reply__input">
                    <textarea class="comments-form__input-comment" name="reply-reply" placeholder="Написать ответ"
                        required></textarea>
                </div>
                <div class="comment-reply__controls">
                    <div class="comment-reply__send">
                        <button class="button-send" type="submit" aria-label="отправить коментарий">Оптравить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="comment__children">
        {% for comment in comment.related_comments.all %}
        {% include 'posts/comment_block.html' %}
        {% endfor %}
    </div>
</div>