{% extends 'posts/base-posts.html' %}
{% load static %}


{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'posts/css/art_all.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/art_post.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/compilations.css' %}">
{% endblock %}


{% block uncompress-style-page %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
{% endblock %}


{% block content %}

{% for cluster in clusters %}
<section class="compilations page-block gallery">
    <div class="compilations__head title title-block">
        <div class="compilations__text">
            Подборка
            <span class="button_pink button_clean">#</span>1
        </div>

        <div class="compilations__items">
            <div class="compilations__item">
                <a class="compilations__link" href="#">смотреть</a>
            </div>

            <div class="compilations__item">
                <button class="compilations__btn button">добавить в папку</button>
            </div>
        </div>
    </div>

    <div class="compilations__slider-container">
        <div class="compilations__slider swiper">
            <div class="fade"></div>

            <div class="compilations__wrapper swiper-wrapper">
                {% for post in cluster.queryset %}
                {% for image in post.images.all %}
                <div class="compilations__slide swiper-slide">
                    <div class="box-media">
                        <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                            <div class="compilations__thumbnail box-media__thumbnail">
                                <img class="compilations__media box-media__media lazy" src="{{image.file.url}}"
                                    loading="lazy" alt="">
                                <div class="box-media__media-overlay"></div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>

            <div class="compilations__slider-scrollbar swiper-scrollbar"></div>
        </div>
    </div>
</section>
{% endfor %}


{% endblock %}



{% block script-page %}
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'posts/js/compilations.js' %}"></script>
{% endblock %}