{% extends 'posts/base-posts.html' %}
{% load static %}


{% block compress-style-page %}
<link rel="stylesheet" href="{% static 'posts/css/art_all.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/art_post.css' %}">
<link rel="stylesheet" href="{% static 'posts/css/compilations.css' %}">
{% endblock %}


{% block uncompress-style-page %}
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
{% endblock %}


{% block content %}

<h3>Всего клас</h3>

{% for cluster in clusters %}

{% for post in cluster.queryset %}
<a href="{{post.get_absolute_url}}">{{post}}</a>
{% endfor %}
<br />
<br />

{% endfor %}


<div class="compilations-container page-block">
    <div class="title title-block">Подборка #1</div>

    <section class="gallery compilations swiper">
        <div class="fade" style="background: linear-gradient(90deg, rgba(13,15,27,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(13,15,27,1) 100%); 
                    z-index: 2;
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;">
        </div>
        <div class="compilations__wrapper swiper-wrapper">
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/UI-wRSkSas8.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7cc51d62da4ca9c.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7dOFzTV86Dk.png' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/UI-wRSkSas8.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7cc51d62da4ca9c.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7dOFzTV86Dk.png' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/UI-wRSkSas8.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7cc51d62da4ca9c.jpg' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
            <div class="compilations__slide box-media swiper-slide">
                <a class="compilations__link box-media__link" href="{{post.get_absolute_url}}">
                    <div class="compilations__thumbnail box-media__thumbnail">
                        <!-- {% if post.images.count > 0 %}
                            <img class="box-media__media lazy" src="{{post.images.first.file.url}}" loading="lazy" alt="">
                            {% else %}
                            <video class="box-media__media video" width=100% height="100%"
                                src="{{post.videos.first.file.url}}"></video>
                            {% endif %} -->
                        <img class="compilations__media box-media__media lazy"
                            src="{% static 'images/test_img/7dOFzTV86Dk.png' %}" loading="lazy" alt="">
                        <div class="box-media__media-overlay"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </section>
</div>

{% endblock %}



{% block script-page %}
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".compilations", {
        // loop: true,
        loopedSlides: 1,
        spaceBetween: 20,
        // freeMode: true,
        slidesPerView: "auto",
        watchOverflow: true,
        grabCursor: true,

        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        keyboard: {
            enabled: true,
            onlyInViewport: true,
            pageUpDown: true,
        },

        speed: 300,
    });
</script>
{% endblock %}