{% extends 'posts/base-posts.html' %}
{% load static %}

{% block content %}

{% for tag in popular_tags %}
<div>{{tag}}</div><br>
{% endfor %}

{% for post in popular_posts %}
<a href="{{post.get_absolute_url}}">{{post}}</a><br>
{% endfor %}

{% for user in popular_authors %}
<div>{{user}}: <span>{{user.subscribers_amount}}</span></div><br>
{% endfor %}

{% endblock %}

{% block script-page %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'posts/js/like.js' %}"></script>
{% endblock %}