{% extends 'posts/base.html' %}
{% load static %}



{% block content %}

<div class="container">
    <div class="page__wrapper">
        <div class="container-gallery">
            <section class="gallery no-gutter-sizer">

                {% for post in posts %}

                {% include 'posts/post_card.html' %}

                {% endfor %}


            </section>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'posts/js/masonry.js' %}"></script>
{% endblock %}