{% extends 'posts/base.html' %}
{% load static %}


{% block compressible_stylesheet %}
<link rel="stylesheet" href="{% static 'posts/css/art_post.css' %}">
{% endblock %}


{% block uncompressible_stylesheet %}
<!-- google icon -->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<!-- Link LightGallery -->
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lightgallery.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-zoom.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-fullscreen.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-thumbnail.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-rotate.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-video.css" />
<link rel="stylesheet" href="https://unpkg.com/lightgallery@2.7.0/css/lg-share.css" />
{% endblock %}


{% block content %}

<div class="container">
    <div class="page__wrapper">
        <div class="post-container">
            <div class="post-images">
                <div id="lightgallery" class="image-slider swiper" id="product-tab-gallery"
                    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
                    <!-- <button class="dynamic-gallery-button button"></button> -->
                    <div class="image-slider__wrapper swiper-wrapper static-thumbnails">

                        {% for image in images %}
                        <div class="image-slider__slide swiper-slide">
                            <div class="image-slider__image">
                                <img src="{{ image.file.url }}">

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="slider-buttons">
                    <div class="slider-buttons__button swiper-button-next"></div>
                    <div class="slider-buttons__button swiper-button-prev"></div>
                </div>

                {% if post.count_media != 1 %}
                <div thumbsSlider="" class="image-slider-2 swiper">
                    <div class="image-slider-2__wrapper swiper-wrapper">
                        {% for image in images %}
                        <div class="image-slider-2__slide swiper-slide">
                            <img src="{{ image.file.url }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div thumbsSlider="" class="image-slider-2 swiper" hidden></div>
                {% endif %}
            </div>
            <!-- <div class="post-images mySwiper">
                    <div class="post-images__image">
                        <img src="images/post/im (2).webp">
                    </div>
                </div> -->
            <div class="post-info">
                <div class="like-wrap">
                    <div class="like-cont">
                        <div class="post-cont-likes">
                            <button class="like-btn button {{like_active}}" data-href="{{ post.get_absolute_like_url }}">
                                <!-- <i class="fa-regular fa-heart"></i> -->
                                <div class="_39asK">
                                    <i class="like-btn__heart"></i>
                                    <span class="like-cont-info">
                                        <span class="like-cont__likes-number">{{post.likes.count}}</span>
                                        <!-- <span>Likes</span> -->
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="post-cont-com">
                            <button class="comment-btn">
                                <div class="_39asK">
                                    <i class="fa-regular fa-message"></i>
                                    <span class="like-cont-info">
                                        <span class="like-cont-com-number">{{post.comments.count}}</span>
                                        <!-- <span>Comments</span> -->
                                    </span>
                                </div>
                            </button>
                        </div>
                        <div class="post-cont-views">
                            <div class="post-views">
                                <div class="_39asK">
                                    <i class="fa-regular fa-eye"></i>
                                    <span class="like-cont-info">
                                        <span class="like-cont-views-number">{{post.views.count}}</span>
                                        <!-- <span>Views</span> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-data-published">
                        <span>
                            Опубликованно:
                            <time>
                                {{post.creation_date}}
                            </time>
                        </span>
                    </div>
                </div>
                <div class="post-info-author">
                    <div class="post-info-author__author">
                        <img src="images/icon/avatar.png" alt="Аватар">
                        <div class="author-name">
                            <span class="author-name__name">{{post.author}}</span>
                            <span class="author-name__subscribe">
                                Подписчики:
                                <span>10000</span>
                            </span>
                        </div>

                    </div>
                    <button class="post-info-author__btn">
                        <i class="fa-solid fa-plus"></i>
                        Подписаться
                    </button>
                </div>
                <div class="post-info-details">
                    <div class="post-info-tags">
                        <h3 class="post-info-tags__title">Теги</h3>
                        <div class="post-tags">
                            {% for tag in tags %}
                            <form method="get" action="{% url 'post_list' %}">
                                <input name="{{tag.slug}}" value="1" style="display: none;">
                                <button class="post-tags__tag" type="submit"><span>{{tag}}</span></button>
                            </form>
                            {% endfor %}
                        </div>
                    </div>
                    {% if post.description %}
                    <div class="post-info-description">
                        <h3 class="post-info-description__title">Описание</h3>
                        <div class="post-description">
                            {{post.description}}<br>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="post-info-comments">
                    <section class="post-info-comments__container">
                        <div class="comments-form">
                            <div class="comments-form__sort">
                                <span class="comments-form__title">КОМЕНТАРИИ</span>
                                <div class="comments-form-sorting">
                                    <span class="comments-form-sorting__sort-btn"><i
                                            class="fa-solid fa-sort"></i>УПОРЯДОЧИТЬ</span>
                                    <div class="comments-form-sorting__sortlist" aria-hidden="true">
                                        <label class="custom-radio">
                                            <input type="radio" name="color" checked value="name-radio-1">
                                            <span class="custom-radio__radio-btn"></span>
                                            <span class="custom-radio__radio-text">Новые</span>
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" name="color" value="name-radio-1">
                                            <span class="custom-radio__radio-btn"></span>
                                            <span class="custom-radio__radio-text">Старые</span>
                                        </label>
                                        <label class="custom-radio">
                                            <input type="radio" name="color" value="name-radio-1">
                                            <span class="custom-radio__radio-btn"></span>
                                            <span class="custom-radio__radio-text">Популярные</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            {% if post.disable_comments %}

                            <div class="comments-are-forbidden">
                                <span>Автор запретил комментарии</span>
                            </div>

                            {% else %}

                            <form id="input-comments-form" action="{% url 'add_comment' post.id %}" method="post">
                                {% csrf_token %}
                                <div class="comments-form__pseudo-form">
                                    Написать коментарий
                                </div>
                            </form>
                            {% endif %}
                        </div>
                        {% if comments %}
                        <div class="comments-list">
                            {% for comment in comments %}
                                {% if not comment.answered %}
                                    {% include 'posts/comment_block.html' %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="{% static 'posts/libs/autosize.min.js' %}"></script>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- LightGallery -->
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.0/lightgallery.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.0/plugins/zoom/lg-zoom.umd.js"></script>
<script src="https://unpkg.com/lightgallery@2.7.0/plugins/fullscreen/lg-fullscreen.min.js"></script>
<script src="https://unpkg.com/lightgallery@2.7.0/plugins/rotate/lg-rotate.min.js"></script>
<script src="https://unpkg.com/lightgallery@2.7.0/plugins/video/lg-video.min.js"></script>
<script src="https://unpkg.com/lightgallery@2.7.0/plugins/hash/lg-hash.min.js"></script>

<script src="{% static 'posts/js/post-detail.js' %}"></script>
{% endblock %}