{% extends 'posts/base.html' %}
{% load static %}



{% block content %}

    <div class="container">
        <div class="page__wrapper">
            <div class="container-gallery">
                <section class="gallery no-gutter-sizer">

                    {% for post in posts %}

                        {% include 'posts/post_card.html' %}

                    {% endfor %}


                </section>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'posts/js/like.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/65443a9372.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
<script src="{% static 'posts/libs/lazyload.min.js' %}"></script>
<script src="{% static 'posts/libs/slick.min.js' %}"></script>
<script src="{% static 'posts/js/device.js' %}"></script>
<script src="{% static 'posts/js/scripts.js' %}"></script>
<script src="{% static 'posts/js/search-tags.js' %}"></script>
{% endblock %}