@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:wght@100;300;400&display=swap");
.header {
  position: sticky;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  -o-transition: transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}
.header._hide-header {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  padding: 0 8px;
  margin: 0 auto;
  background-color: var(--bg-default);
}
@media (min-width: 991px) {
  .header__wrapper {
    padding: 0 20px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  height: 44px;
  min-width: 264px;
  width: inherit;
}
@media (min-width: 991px) {
  .header__container {
    height: 54px;
  }
}
.header__logo {
  justify-self: start;
  display: none;
}
@media (min-width: 991px) {
  .header__logo {
    display: block;
  }
}
.header__search {
  width: inherit;
  margin: 0;
}
.header__account-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 100%;
}
.header__mobile-navigation {
  display: block;
  background-color: transparent;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
}
.header__mobile-navigation::before, .header__mobile-navigation::after {
  content: "";
}
@media (min-width: 991px) {
  .header__mobile-navigation {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.header__notification-icons {
  padding: 10px 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 991px) {
  .header__notification-icons {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
}
.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  gap: 10px;
}
.header__profile._active .profile-dropdown {
  display: block;
}
.header__link {
  display: none;
}
@media (min-width: 991px) {
  .header__link {
    display: block;
  }
}

.signin-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 4 * ((100vw - 264px) / 1656));
  padding: 0 1em;
  border: 1px solid var(--primary-color);
}

.nav {
  display: none;
  visibility: hidden;
  pointer-events: none;
  height: 40px;
  border-top: solid 1px #1c1e2c;
  z-index: 3;
}
@media (min-width: 991px) {
  .nav {
    display: block;
    visibility: visible;
    pointer-events: all;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 264px;
  max-width: 764px;
}
.nav-list__item {
  min-width: 150px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-list__item::before, .nav-list__item::after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  pointer-events: none;
  background-color: var(--primary-color);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-list__item::after {
  bottom: 0px;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.nav-list__item._current::after, .nav-list__item:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.nav-list__link {
  text-align: center;
}
.nav-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "CirceRegular";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-transform: uppercase;
  color: var(--white);
}

.hamburgerIcon {
  font-size: 20px;
  line-height: 44px;
  color: var(--primary-color);
}
@media (min-width: 991px) {
  .hamburgerIcon {
    display: none;
  }
}

.logo {
  font-size: 32px;
  font-style: italic;
  text-align: left;
  color: var(--white);
}

.notification-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.notification-items__item {
  width: 40px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.notification-items__item i {
  font-size: 22px;
  color: var(--white);
}
.notification-items__icon {
  line-height: 44px;
  border-radius: 4px;
}
.notification-items__icon:hover {
  background-color: var(--bg-light-secondary-default);
}
.notification-items__link {
  display: block;
  width: 100%;
  height: 100%;
}
.notification-items__number-of-notifications {
  position: absolute;
  right: 0;
  top: 2px;
}

.number-of-notifications {
  /* если нет уведомлений */
  /* background: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0); */
  /* если есть */
  color: var(--white);
  height: 15px;
  line-height: 17px;
  padding: 0 3px;
  background-color: var(--bg-notifications);
  min-width: 16px;
  border-radius: 16px;
  font-size: 10px;
}

.lock-link {
  display: block;
}
@media (min-width: 991px) {
  .lock-link {
    display: none;
  }
}

.lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.lock__icon {
  position: relative;
  width: 20px;
  height: 14px;
  margin: auto;
  background-color: var(--primary-color);
  border-radius: 3px;
  -webkit-transform: translate(0px, 5px);
      -ms-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
}
.lock__icon::before, .lock__icon::after {
  content: "";
  position: absolute;
  left: 3px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.lock__icon::before {
  top: -11px;
  display: block;
  width: 14px;
  height: 12px;
  border-top: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-radius: 10px 10px 0 0;
}
.lock__icon::after {
  top: -4px;
  display: block;
  width: 2px;
  height: 10px;
  background-color: var(--primary-color);
}
.lock__icon:hover::before {
  top: -15px;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: -200%;
  background-color: var(--white);
  padding: 10px;
  min-width: 255px;
  -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
          transform: translate(0px, 5%);
  z-index: 10;
  border-radius: 4px;
  /* margin: 0 -125px; */
  overflow: auto;
}
.profile-dropdown li {
  margin: 0 8px 1px;
  padding: 10px 14px;
  white-space: nowrap;
}
.profile-dropdown li:hover {
  background-color: var(--secondary-white);
}
.profile-dropdown__Link {
  font-size: 18px;
  color: var(--black);
}
.profile-dropdown__Link i {
  margin-right: 10px;
  width: 30px;
}

.header-profile-avatar {
  display: block;
  width: 32px;
  height: 32px;
}
@media (min-width: 991px) {
  .header-profile-avatar {
    width: 40px;
    height: 40px;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}
.page__wrapper {
  /* box-sizing: border-box; */
  position: relative;
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 17px;
  width: 100%;
  padding: 0 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

/* gallery-filter */
/* .paper { */
/* width: $min-width;
height: calc(100vh - 87px); */
/* margin-top: 110px; */
/* position: -webkit-sticky; */
/* position: sticky; */
/* float: right; */
/* top: 73px; */
/* bottom: 14px; */
/* overflow: hidden; */
/* background: black;
border-radius: 4px; */
/* box-sizing: border-box; */
/* z-index: 4; */
/* } */
/* body._touch .paper {
    display: none;
  } */
.search {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -o-transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: all 0.2s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.search._active {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.search._active .search__input-container {
  -webkit-animation: extension 0.4s ease;
          animation: extension 0.4s ease;
}
@-webkit-keyframes extension {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes extension {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.search._active .search-content {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.search__container {
  height: 100%;
  margin: 0;
  padding-top: 10%;
  font-family: "Helvetica";
}
@media (min-width: 991px) {
  .search__container {
    margin: 0 10% 0 10%;
  }
}
.search__inner {
  height: 100%;
}
.search__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.search__input-container {
  width: 100%;
  max-width: 800px;
}
.search__input {
  position: relative;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}
.search__input-form {
  width: 100%;
  height: 45px;
  padding: 3px 45px;
  color: var(--black);
  background-color: var(--white);
  border: none;
  border-radius: 6px;
  font-size: 1.13em;
}
.search .search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 45px;
  height: 100%;
  padding: 10px;
  cursor: pointer;
}
.search__search-btn {
  top: 0;
  left: 0;
  font-size: 20px;
  color: var(--black);
  background-color: transparent;
}
.search__close-btn {
  top: 0;
  right: 0;
  font-size: 26px;
  color: var(--black);
}
.search__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding-top: 10px;
}
.search__controls-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: auto;
  font-size: 20px;
  background: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search-button > i {
  color: var(--primary-color);
}
.search-button:hover {
  background-color: var(--bg-light-secondary-default);
}

.search-content {
  height: 100%;
  padding-top: 10px;
  line-height: 1.3;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -o-transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  transition: transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97), -webkit-transform 0.3s cubic-bezier(0.55, 0.08, 0.06, 0.97);
  -webkit-transform: translate3d(0, 20em, 0) scale(0);
          transform: translate3d(0, 20em, 0) scale(0);
}

.tags-list {
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  height: calc(100% - 87px);
}
.tags-list__tag {
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0.2em;
  font-size: 16px;
  padding: 0.5em 1em;
  background-color: var(--bg-tag-color);
  border: 1px solid var(--border-secondary-light);
  color: var(--white);
  border-radius: 2em;
  cursor: pointer;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.tags-list__tag:hover {
  background-color: var(--bg-tag-color-hover);
}
@media (min-width: 991px) {
  .tags-list__tag {
    margin: 0.5em;
    font-size: 20px;
  }
}
.tags-list::-webkit-scrollbar {
  display: none;
}
@-moz-document url-prefix() {
  .tags-list {
    scrollbar-width: none;
  }
}

._enabled {
  background-color: var(--enable);
  border: 2px solid var(--enable);
}
._enabled:hover {
  background-color: var(--hover-enable);
}

._disabled {
  background-color: var(--disable);
  border: 2px solid var(--disable);
}
._disabled:hover {
  background-color: var(--hover-disable);
}

._show {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.search-sort__btn {
  padding-right: 0;
  border-radius: 5px 0 0 5px;
}
.search-sort__list {
  z-index: 1;
  background-color: var(--bg-dropdown);
  left: 0;
}
.search-sort__item {
  border-radius: 0;
}
.search-sort__item:hover {
  background-color: var(--bg-dropdown-hover);
}
.search-sort__item > label {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}
.search-sort__text {
  font-size: 14px;
}
.search-sort__control {
  padding-left: 10px;
  border-radius: 0 5px 5px 0;
}
.search-sort__desc-asc {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-sort__desc-asc::before {
  content: "\f063";
}
.search-sort__desc-asc._active::before {
  content: "\f062";
}

body._touch #header-menu::before {
  display: table;
}
body._touch #header-menu::after {
  clear: both;
}

/* nav-menu-mobile */
.sidebar-mobile {
  /* width: 85%; */
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 120;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.sidebar-mobile._active {
  left: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.sidebar-mobile__inner {
  min-width: 264px;
  height: 100%;
  background-color: var(--bg-sidebar-default);
}
@media (min-width: 991px) {
  .sidebar-mobile__inner {
    display: none;
  }
}
@media (min-width: 264px) {
  .sidebar-mobile__inner {
    width: 60%;
    /* max-width: 300px; */
  }
}
.sidebar-mobile__container {
  width: 90%;
  margin: 0 auto;
}
.sidebar-mobile__header {
  padding: 15px 0 5px;
}
.sidebar-mobile__btn {
  top: 16px;
  left: 25px;
  bottom: inherit;
  left: inherit;
  z-index: 1;
  font-size: 34px;
  color: var(--primary-color);
}
.sidebar-mobile__nav-mobile {
  padding: 15px 0;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  color: var(--white);
}
.header-menu__title {
  margin: 0 auto;
  text-align: center;
  max-height: 60px;
  font-size: 1.25em;
  font-weight: 600;
  padding: 10px;
}

.nav-mobile__item {
  position: relative;
  border-bottom: 1px solid var(--dark-line);
}
.nav-mobile__link {
  display: block;
  padding: 12px 16px;
}
.nav-mobile__text {
  height: 100%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-white);
}

#topmenu-section a.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
}

.phLogoWrap {
  float: left;
  width: auto;
  padding-top: 0;
  font-size: 10px;
  padding: 0;
  border: 0;
  margin: 0;
  background: 0 0;
  text-align: center;
  position: relative;
}

/* end-nav-menu-mobile */
/* right-menu */
#profile-menu-mobile {
  height: 100%;
  min-width: 264px;
  background-color: var(--bg-sidebar-default);
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 120;
  overflow: auto;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#profile-menu-mobile._active {
  display: block;
  right: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media (max-width: 264px) {
  #profile-menu-mobile {
    width: 100%;
  }
}
@media (min-width: 991px) {
  #profile-menu-mobile {
    display: none;
  }
}
@media (min-width: 264px) {
  #profile-menu-mobile {
    width: 80%;
    /* max-width: 300px; */
  }
}

.nav-menu__link {
  padding: 12px 16px;
  position: relative;
  display: block;
  color: var(--light-gray);
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid var(--dark-line);
}
.nav-menu__link i {
  color: var(--secondary-white);
  width: 1.875em;
  font-size: 1.25em;
}

/* end-right-menu */
.close-icon {
  vertical-align: middle;
}

.footer {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #16171e), color-stop(-13%, var(--bg-default)));
  background-image: -o-linear-gradient(top, #16171e 100%, var(--bg-default) -13%);
  background-image: linear-gradient(to bottom, #16171e 100%, var(--bg-default) -13%);
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner {
  padding: 20px 40px 10px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
}
@media (min-width: 991px) {
  .footer-info__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer-info__list {
  display: grid;
  grid-auto-rows: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.footer-info__item {
  font-size: 18px;
}
@media (max-width: 1920px) {
  .footer-info__item {
    font-size: calc(14px + 4 * ((100vw - 264px) / 1656));
  }
}
.footer-info__link {
  outline-style: none;
  color: var(--primary-color);
}
.footer-info__link:hover {
  text-decoration: underline;
}
.footer-info__text {
  color: var(--white);
}

.footer-link {
  margin: 0 auto;
  max-width: 264px;
  /* width: 96%; */
  justify-items: center;
}
.footer-link__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  font-size: 1.5625em;
}
.footer-link__social-link {
  color: var(--primary-color);
}