<div id="confirmation-window" class="modal popup popup-narrow">
    <div class="popup__inner">
        <div class="popup__content">
            <div class="mymodal">
                <div class="mymodal__header">
                    <div class="mymodal__title title-block" style="text-align:center;">Вы уверены ?</div>
                </div>
                <div class="mymodal__controls">
                    <div class="mymodal__buttons" style="padding-top: 20px;">
                        <a class="mymodal__btn button modal-btn-confirm" rel="modal:close">Да</a>
                        <a class="mymodal__btn button button_red" rel="modal:close">Нет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>