{% load static %}
<footer class="footer">
    <div class="footer__inner">
        <div class="footer-info">
            <div class="footer-info__container">
                <div class="footer-info__content">
                    <ul class="footer-info__list">
                        <li class="footer-info__item">
                            <span class="footer-info__text">В случаях нарушения авторских прав - нам похуй</span>
                        </li>
                    </ul>
                </div>
                <div class="footer-info__content">
                    <ul class="footer-info__list">
                        <li class="footer-info__item">
                            <a class="footer-info__link" href="https://www.donationalerts.com/r/ggilinoff"
                                target="_blank">
                                Поддержать сайт
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <ul class="footer-link__social-links">
                <li class="footer-link__social-item">
                    <a href="" class="footer-link__social-link">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                </li>
                <li class="footer-link__social-item">
                    <a href="" class="footer-link__social-link">
                        <i class="fa-brands fa-telegram"></i>
                    </a>
                </li>
                <li class="footer-link__social-item">
                    <a href="" class="footer-link__social-link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>