{% load static %}
{% load pages %}

<header class="header">
    <div class="header__wrapper">
        <div class="header__container">
            <div class="header__logo">
                <span class="header__logo logo">DelightArt</span>
            </div>

            <button class="header__mobile-navigation" href="#nav-sidebar-mobile" type="button"
                aria-label="открыть меню навигации">
                <i class="fa-solid fa-bars hamburgerIcon"></i>
            </button>

            <div class="header__control-nav">
                <div class="header__search">
                    <button class="search-button search-button-mobile dark-btn button">
                        <i class="dark-btn__icon button_pink button_clean fa-solid fa-magnifying-glass"></i>
                        <span class="dark-btn__text">Поиск</span>
                    </button>
                </div>

                <ul class="header__nav-list nav-list">
                    {% url 'home' as home_url %}
                    <li class="nav-list__item dark-btn button {{request|mark_current_page:home_url}}">
                        <a href="{% url 'home' %}" class="dark-btn__link"></a>
                        <span class="nav-list__text dark-btn__text">Главная</span>
                    </li>
                    {% url 'post_list' as post_list_url %}
                    <li class="nav-list__item dark-btn button {{request|mark_current_page:post_list_url}}">
                        <a href="{% url 'post_list' %}" class="dark-btn__link"></a>
                        <span class="nav-list__text dark-btn__text">Лента</span>
                    </li>
                    <li class="nav-list__item search-button dark-btn button">
                        <i
                            class="search-button__icon dark-btn__icon button_pink button_clean fa-solid fa-magnifying-glass"></i>
                        <span class="nav-list__text dark-btn__text">Поиск</span>
                    </li>
                    <li class="nav-list__item dark-btn button">
                        <a href="{% url 'complication' %}" class="dark-btn__link"></a>
                        <span class="nav-list__text dark-btn__text">Подборка</span>
                    </li>
                    <li class="nav-list__item dark-btn button">
                        <span class="nav-list__text dark-btn__text">Ещё…</span>
                    </li>
                </ul>
            </div>

            <div class="header__account-menu">
                <div class="header__notification-icons">
                    <div class="notification-items">
                        <div class="notification-items__item">
                            <div class="notification-items__icon">
                                {% if request.user.is_authenticated %}
                                {% with nf_amount=request.user.get_unread_notifications.count %}
                                {% if nf_amount > 0 %}
                                <span
                                    class="notification-items__number-of-notifications number-of-notifications">{{nf_amount}}</span>

                                {% endif %}
                                {% endwith %}
                                {% endif %}
                                <a href="{% url 'user_notifications' %}" class="notification-items__link">
                                    <i class="fa-solid fa-bell"></i>
                                </a>
                            </div>
                        </div>
                        <div class="notification-items__item">
                            <div class="notification-items__icon">
                                <a href="{% url 'user_liked_posts' %}" class="notification-items__link">
                                    <i class=" fa-solid fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__profile">
                    {% if request.user.is_authenticated %}
                    <!-- для зареганых -->
                    <a href="{% url 'profile' %}">
                        {% if request.user.avatar %}
                        <img class="header-profile-avatar avatar" src="{{request.user.avatar.url}}" alt="Аватар">
                        {% else %}
                        <img class="header-profile-avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}"
                            alt="Аватар">
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" class="header__link lock-link">
                        <div class="lock">
                            <div class="lock__icon"></div>
                        </div>
                    </a>
                    <a href="{% url 'login' %}" class="button header__link login-link">Войти</a>
                    <a href="{% url 'signup' %}" class="button header__link signin-link">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>