{% load static %}
{% load pages %}

<header class="header">
    <div class="header__wrapper">
        <nav class="nav">
            <div class="nav__logo">
                <span class="nav__text-logo">DelightArt</span>
            </div>

            <button class="nav__mobile-navigation mobile-navigation button-hide" type="button"
                aria-label="открыть меню навигации">
                <i class="hamburgerIcon fa-solid fa-bars"></i>
            </button>

            <div class="nav__control-nav">
                <div class="search-button-mobile">
                    <button class="search-button-mobile__btn search-button dark-btn button">
                        <i class="dark-btn__icon button_pink button_clean fa-solid fa-magnifying-glass"></i>
                        <span class="dark-btn__text">Поиск</span>
                    </button>
                </div>

                <ul class="nav__nav-list nav-list">
                    {% url 'home' as home_url %}
                    <li class="nav-list__item {{request|mark_current_page:home_url}}">
                        <a class="nav-list__link" href="{% url 'home' %}">Главная</a>
                        <!-- <span class="nav-list__text dark-btn__text">Главная</span> -->
                    </li>
                    {% url 'post_list' as post_list_url %}
                    <li class="nav-list__item {{request|mark_current_page:post_list_url}}">
                        <a class="nav-list__link" href="{% url 'post_list' %}">Лента</a>
                    </li>
                    <li class="nav-list__item">
                        <button class="nav-list__btn search-button dark-btn button" aria-label="открыть поиск">
                            <i
                                class="search-button__icon dark-btn__icon button_pink button_clean fa-solid fa-magnifying-glass"></i>
                            <span class="dark-btn__text">Поиск</span>
                        </button>
                    </li>
                    {% url 'complication' as complication_url %}
                    <li class="nav-list__item {{request|mark_current_page:complication_url}}">
                        <a class="nav-list__link" href="{% url 'complication' %}">Подборка</a>
                    </li>
                    <li class="nav-list__item">
                        <span class="nav-list__btn">Ещё…</span>
                    </li>
                </ul>
            </div>

            <div class="nav__account-menu">
                <div class="nav__notification-icons">
                    <div class="notification-items">
                        <div class="notification-items__item">
                            <div class="notification-items__icon">
                                {% if request.user.is_authenticated %}
                                {% with nf_amount=request.user.get_unread_notifications.count %}
                                {% if nf_amount > 0 %}
                                <span
                                    class="notification-items__number-of-notifications number-of-notifications">{{nf_amount}}</span>

                                {% endif %}
                                {% endwith %}
                                {% endif %}
                                <a class="notification-items__link" href="{% url 'user_notifications' %}"
                                    aria-label="уведомления">
                                    <i class="fa-solid fa-bell"></i>
                                </a>
                            </div>
                        </div>
                        <div class="notification-items__item">
                            <div class="notification-items__icon">
                                <a class="notification-items__link" href="{% url 'user_liked_posts' %}"
                                    aria-label="лайки">
                                    <i class=" fa-solid fa-heart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav__profile">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        {% if request.user.avatar %}
                        <img class="header-profile-avatar avatar" src="{{request.user.avatar.url}}" alt="Аватар">
                        {% else %}
                        <img class="header-profile-avatar avatar" src="{% static 'posts/images/icon/avatar.png' %}"
                            alt="Аватар">
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}" class="nav__link lock-link">
                        <div class="lock">
                            <div class="lock__icon"></div>
                        </div>
                    </a>
                    <a href="{% url 'login' %}" class="button nav__link login-link">Войти</a>
                    <a href="{% url 'signup' %}" class="button nav__link signin-link">Регистрация</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>