<aside id="nav-menu-mobile">
    <div class="header-menu">
        <div class="header-menu__title">BestHntArt</div>
        <span class="close-ham-menu">
            <i class="fa-solid fa-xmark close-icon"></i>
        </span>
    </div>
    <div class="nav-menu-links menu-wrapper menu-section">
        <a href="{% url 'home' %}" class="nav-menu__link"><i class="fa-solid fa-house"></i>Главня</a>
        <a href="{% url 'post_list' %}" class="nav-menu__link"><i class="fa-brands fa-artstation"></i>Арты</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-video"></i>Видео</a>
        <a href="" class="nav-menu__link"><i class="fa-brands fa-gitlab"></i>Косплей</a>
        <a href="" class="nav-menu__link"><i class="fa-solid fa-image"></i>Фото</a>
    </div>
</aside>