<div class="search">
    <div class="search__container">
        <form class="search__inner" action="{% url 'search' %}" method="get" id="search-form">
            <div class="search__input-wrapper">
                <div class="search__input-container">
                    <div class="search__input">
                        <button class="search__search-btn button search__icon" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input class="search__input-form" name="search" type="text" placeholder="Поиск..."
                            autocomplete="off" data-search-input>
                        <div class="search__close-btn search__icon">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="search__controls">
                        <button class="search__show-all-btn search__controls-button button"
                            type="button">Показать</button>
                        <button class="search__hide-all-btn search__controls-button button"
                            type="button">Очистить</button>

                        <!-- <div class="search-sort search__controls-button button dropdown-parent">
                            <span class="search-sort__text">Сортировать по</span>
                            <div class="search-sort__dropdown dropdown-items">
                                <div class="search-sort__dropdown-item dropdown-item">
                                    <label class="search-sort__btn radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Лайкам</span>
                                    </label>
                                </div>
                                <div class="search-sort__dropdown-item dropdown-item">
                                    <label class="search-sort__btn radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Просмотрам</span>
                                    </label>
                                </div>
                                <div class="search-sort__dropdown-item dropdown-item">
                                    <label class="search-sort__btn radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Лучшее</span>
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <div class="search-sort dropdown">
                            <span class="search-sort__btn search__controls-button button">
                                Сортировать по
                            </span>
                            <label class="search-sort__control search-sort__desc-asc button fa-solid">
                                <input type="checkbox" class="hidden-input">
                                <!-- <i class="search__desc fa-solid fa-arrow-down"></i>
                                <i class="search__asc fa-solid fa-arrow-up"></i> -->
                            </label>
                            <ul class="search-sort__list dropdown__list">
                                <li class="search-sort__item dropdown__item">
                                    <span class="search-sort__text dropdown__subitem">Лучшее</span>
                                    <!-- <label class="radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Лучшее</span>
                                    </label> -->
                                </li>
                                <li class="search-sort__item dropdown__item">
                                    <span class="search-sort__text dropdown__subitem">Лайкам</span>
                                    <!-- <label class="radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Лайкам</span>
                                    </label> -->
                                </li>
                                <li class="search-sort__item dropdown__item">
                                    <span class="search-sort__text dropdown__subitem">Просмотрам</span>
                                    <!-- <label class="radio">
                                        <input class="radio__input hidden-input" type="radio" name="radio-btn">
                                        <span class="radio__btn"></span>
                                        <span class="radio__text">Просмотрам</span>
                                    </label> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-content">
                <div class="tags-list">

                    {% for field in search_form %}

                    <div class="tags-list__tag" style="display: none;">
                        {{ field }}
                        <span>{{ field.label }}</span>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </form>
    </div>
</div>