:root {
    --primary-color: #ffa3d4;
    // --bg-default: #06070d;
    --bg-default: #05060C;
    --bg-secondary-default: #0d0f1b;

    // --bg-light-default: #1a1b36;
    // --bg-light-primary-default: #24254A;
    --bg-light-default: #24254A;
    --bg-light-primary-default: #1a1b36;
    
    --bg-light-secondary-default: #121423;

    --bg-btn-default: #121420;
    --bg-sidebar-default: #0A0C12;
    --bg-dropdown: #141725;
    --bg-dropdown-hover: #0e101d;
    --bg-scrollbar: #1a1720;
    --bg-tag-color: #161A1F;
    --bg-tag-color-hover: #20252b;
    --bg-button: #FAA7D9;
    --bg-button-hover: #FF8DC8;
    --bg-button-active: #fd6fce;
    --error-default: #B00020;
    --error-light: #ff5b5b;
    --border-base: #38383a;
    --border-light: #292929;
    --border-secondary-light: #5D5D6C;
    --border-secondary-light-hover: #6d6d7c;
    --tag-border: #e8eaec;
    --bd-dark-text: #2e3251;
    --hover-btn-default: #171a25;
    --white: white;
    --primary-white: #f2f2f2;
    --secondary-white: #f0f0f0;
    --pink: #ffc0cb;
    // --dark-pink: #BF6996;
    --dark-pink: #BF8F97;
    // --primary-pink: #FFACC6;
    --secondary-pink: #F28CC3;
    --light-pink: #FECBCA;
    --light-secondary-pink: #fce4e6;
    --dark-purple: #CB73F0;
    --primary-purple: #DCA1F5;
    --violet: #714cab;
    --light-violet: #9294f8;
    --light-secondary-violet: #6466b4;
    --black: black;
    --red: red;
    --light-gray: #aaa;
    --dark-gray: #85858d;
    --secondary-dark-gray: #323236;
    --color-scrollbar-thumb: #5a4054;
    --line: #cecece;
    --dark-line: #38383a;
    // --footer-title-text: #FAA7D9:
    --bg-notifications: #444;
    --enable: #3ccc7b;
    --hover-enable: #30a563;
    --disable: #f44336;
    --hover-disable: #c9392f;
}