@use "./modules/mixins";
@use "./_color";

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  font-display: fallback;
  src: local(""), url('../fonts/inter-v12-latin-regular.woff2') format("woff2"), url('../fonts/inter-v12-latin-regular.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local(""), url('../fonts/inter-v12-latin-500.woff2') format("woff2"), url('../fonts/inter-v12-latin-500.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(""), url('../fonts/inter-v12-latin-700.woff2') format("woff2"), url('../fonts/inter-v12-latin-700.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face { 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url('../fonts/rubik-v21-latin-regular.woff2') format("woff2"), url('../fonts/rubik-v21-latin-regular.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local(""), url('../fonts/rubik-v21-latin-600.woff2') format("woff2"), url('../fonts/rubik-v21-latin-600.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url('../fonts/rubik-v21-latin-italic.woff2') format("woff2"), url('../fonts/rubik-v21-latin-italic.woff') format("woff");

  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* CirceThin - 100*/
@font-face { 
  font-family: "CirceThin";
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: local(""), url("../fonts/CirceThin.woff") format("woff");
}

/* CirceThin - 400*/
@font-face {
  font-family: "CirceRegular";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(""), url("../fonts/CirceRegular.woff") format("woff");
}

$max-display-width: 1920px;
// $color-background-default: #06070d;

$svg-like-size: 18px;
$text-like-size: 14px;
$svg-like-color: rgb(255, 255, 255);
// $svg-like-color-active: rgb(254, 203, 202);
$svg-like-color-active: #FFACC6;

$font-family-circeregular: 'CirceRegular';
$font-family-helvetica: 'Helvetica';

// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

// перевод px в rem
@function rem($pixels) {
    @return #{$pixels/16}rem;
}

// перевод px в %
@function prc($pixelsOne, $pixelsTwo) {
    @return #{($pixelsOne/$pixelsTwo)*100%};
}

$width-mobile: 991px;

$max-width: 1920;
$min-width: 280;
$max-width-сontainer: 1920;
@mixin adaptive-value($property, $start-size, $end-size, $type) {
    $add-size: $start-size - $end-size;
    // только если экран меньше контейнера
    @if $type == 1 {
        #{$property}: $start-size + px;
        @media (max-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width-сontainer - $min-width}));
        }
    } @else if $type == 2 {
        // только если экран больше контейнера
        #{$property}: $start-size + px;
        @media (min-width: #{$max-width-сontainer + px}) {
            #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$end-size + px} + #{$add-size} * ((100vw - #{$min-width + px}) / #{$max-width - $min-width}));
    }
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }

  -webkit-tap-highlight-color: transparent;
}


html {
  &.lg-on {
    overflow: hidden;
  }
}

body {
  background-color: var(--bg-default);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // padding-top: 100px;

  &._lock {
    overflow: hidden;

    .mobileMenuBackground {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 110;
    }
  }

  font-family: $font-family-helvetica;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  // @media (max-width: 991px) {
  //   & {
  //       padding-top: 54px;
  //   }
  // }
}


// scrollbar
body {
  // scrollbar-width: thin;
  // scrollbar-color: #0d060c #131118;

  &::-webkit-scrollbar {
    width:10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: var(--bg-scrollbar);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    // background-color: #0d060d;
    // border: 1px solid #5D5D6C;
    // ----- or ------ //
    background-color: var(--color-scrollbar-thumb);
    border: 2px solid var(--bg-scrollbar);
  }
  
  @-moz-document url-prefix() {
    scrollbar-width: 10px;
    scrollbar-color: var(--color-scrollbar-thumb) var(--bg-scrollbar);
  }
}


.wrapper {
  max-width: $max-display-width;
  margin: 0 auto;
  padding: 0 8px;
  // padding-left: 16px;
  // padding-right: 16px;
  // overflow: auto;
  // padding: 0 30px;
  @media (min-width: $width-mobile) {
    & {
      padding: 0 20px;
    }
  }
}

a {
  text-decoration: none;
}

.wd10 {
  width: 10%;
}

.wd20 {
  width: 20%;
}

.wd30 {
  width: 30%;
}

.wd40 {
  width: 40%;
}

.wd50 {
  width: 50%;
}

.wd60 {
  width: 60%;
}

.wd70 {
  width: 70%;
}

.wd80 {
  width: 80%;
}

.wd90 {
  width: 90%;
}

.wd100 {
  width: 100%;
}

.fs14 {
  font-size: 14px;
}

.fs20 {
  font-size: 20px;
}

.fs30 {
  font-size: 30px;
}

.fs40 {
  font-size: 40px;
}

.fs42 {
  font-size: 42px;
}

.fs100 {
  font-size: 100px;
}

.pd10070 {
  padding: 100px 70px;
}

.pd4048 {
  padding: 40px 48px;
}


.fs-nf {
  margin: 0 !important;
  padding: 0 !important;
  border: medium none;
  position: relative;
}

._column2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

._column3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  display: inline-block;
  flex: 1 0 0;
  min-height: 16px;
  height: 32px;
  margin: 0;
  padding: 0 16px;
  // color: rgba(33,37,41,.8);
  color: var(--white);
  font-family: $font-family-helvetica;
  line-height: 32px;
  background-color: var(--bg-btn-default);
  font-size: 14px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.line {
  height: 1px;
  margin: 8px;
  background-color: var(--line);
  overflow: hidden;
}

.like-btn { 
  height: auto; 
  line-height: normal; 
  padding: 0; 
  background: transparent; 
  flex: 0 0 0; 
  cursor: pointer; 
 
  &__heart { 
    font-size: 18px; 
    position: relative; 
    width: 1em; 
    height: 1em; 
  }

  &__not-pressed { 
    // content: ""; 
    // background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color}' d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/></svg>") 50% no-repeat; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 1em; 
    height: 1em; 
    fill: var(--white);
    transform: scale(1); 
    transition: transform 0.2s; 
  } 

  &__pressed { 
    // content: ""; 
    // background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color-active}' d='M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z'/></svg>") 50% no-repeat; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 1em; 
    height: 1em; 
    fill: var(--primary-pink);
    transform: scale(0); 
    transition: transform 0.2s; 
  } 
 
  &:hover { 
    // color: $svg-like-color-active; 
    color: var(--primary-pink);
 
    .like-btn__not-pressed { 
      // background: url("data:image/svg+xml; charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path style='fill:#{$svg-like-color-active}' d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/></svg>") 50% no-repeat; 
      fill: var(--primary-pink);
      transform: scale(1, 0.9); 
    } 
  } 
 
  &._active { 
    // color: $svg-like-color-active; 
    color: var(--primary-pink);
 
    .like-btn { 
      &__not-pressed { 
        transform: scale(0.9); 
      } 
   
      &__pressed { 
        // transform: translate(-50%, -50%) scale(1.3);
        transform: scale(1); 
        animation: like 0.6s ease; 
      } 
    } 
  } 
 
  @keyframes like { 
    0% { 
      transform: scale(0); 
    } 
    25% { 
      transform: scale(0.9, 1.2); 
    } 
    50% { 
      transform: scale(1.2, 0.9); 
    } 
    75% { 
      transform: scale(0.95, 1.1); 
    } 
    100% { 
      transform: scale(1); 
    } 
  } 
} 

.like-cont-info {
  margin-right: 14px;
  span {
    margin-left: 5px;
    @include mixins.adaptive-value('font-size', 16, 14, 1)
  }
}

.avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20%;
}

.posts-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  // height: calc(100vh - 100px);
  // font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--white);

  text-align: center;
  height: 180px;
  // background-color: var(--bg-secondary-default);
  // font-weight: 600;
  // letter-spacing: 1.3px;
  @include adaptive-value('font-size', 42, 30, 1);
  color: var(--bd-dark-text);

  > span {
      line-height: 60px;
  }

  &__icon {
    display: block;
    // background: url('../images/icon/posts-not-found.gif') 50% no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    // transform: scale(0.7);
  }
}

.hidden-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0px;
}

._39asK {
  font-family: $font-family-helvetica;
  // @include font-settings(400, 14px, 0.3px);
  line-height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
  }
}
