$color-background-default: #06070d;
$size-btn: 25px;

$width-mobile: 991px;
$min-width-mobile: 700px;

$max-width: 1920;
$padding-wrapper: 8;

$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';
$font-family-circeregular: 'CirceRegular';


// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}


.wrapper {
	max-width: 1024px;
	// width: 100%;
	margin: 20px auto;
}

.page {
    // padding-top: 56px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // width: 100vw;

    &__wrapper {
      // max-width: 1920px;
      // position: relative;
      // border-radius: 4px;
      // padding: 94px 30px;
      // width: calc(100vw - 300px);
      // width: 80%;
      // margin-left: auto;
  
      // float: right;
      // width: 100%;
    
      /* box-sizing: border-box; */
  
      // padding: 100px 0;
  
      position: relative;
      // float: right;
      // width: calc(100% - 350px);
      width: 100%;
    }
}

.container {
  display: flex;
  // max-width: 1920px; 
  margin: 0 auto; 
  margin-top: 17px; 
  width: 100%;
  padding: 0 #{$padding-wrapper + px};
  // min-width: 0;
  justify-content: center;

  @media (min-width: $width-mobile) {
    & {
      padding: 0 20px;
    }
  }

    // &::after {
    //     content: "";
    //     display: block;
    //     clear: both;
    // }
}

.post-add-wrapper {
  // padding: 5% 10%;
}

.post-add {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__body {}

  &__content {
  }
}

.select-choice {
  padding: 10px 20px;
  /* margin-bottom: 20px; */
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--light-violet);
  background-color: var(--bg-secondary-default);
  color: var(--white);
}

.option-post {
  &__item {
    display: flex;
    gap: 10px;
    color: white;
  }

  &__checkbox {}

  &__checkbox-indicator {
    width: 22px;
    height: 22px;
    border: solid 2px var(--bg-light-primary-default);
    background-color: var(--bg-btn-default);
  }
}

// visibility: visible;
// height: 100%; 
// width: 100%;
// transition: all .2s cubic-bezier(.55,.08,.06,.97);
// transform: translate3d(0,0,0);
// Поиск

.search {
  // display: none;
  visibility: visible;
  height: 100%; 
  width: 100%;
  transition: all .2s cubic-bezier(.55,.08,.06,.97);
  transform: translate3d(0,0,0);

  &._active {
    // display: block;
    visibility: visible;
    transform: translate3d(0,0,0);
    .search__input-container {
      transform: scaleX(1);
      // transform: scaleX(1);
    }
    .search-content {
			display: block;
      // transform: translate3d(0,0,0) scale(1);
    }
  }

  &__container {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    height: 100%;
    margin: 0 auto;
    font-family: $font-family-helvetica;

    // @media (min-width: $width-mobile) {
    //     margin: 0 10% 0 10%;
    // }
  }

  &__inner {
    height: 100%;
  }
  
  &__input-wrapper {
    width: 100%;

		// position: relative;
    // display:flex;
    // flex-direction:column;
    // align-items: center;
    // background-color: var(--bg-secondary-default);
  }

  &__body {
    position: relative;
    display:flex;
    min-height: 300px;
    flex-direction:column;
    align-items: center;
    border-radius: 5px;
    background-color: var(--bg-secondary-default);
  }

  &__input-container {
    padding: 10px 20px;
    width: 100%;
    // max-width: 800px;
    border-bottom: 1px solid var(--dark-line);
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
    width: 100%;
    transform: scaleX(1);
		border-radius: 10px;
    border: 1px solid var(--border-secondary-light);
		border-radius: 3px;
  }

  &__input-form {
		width: 100%;
    height: 35px;
    padding: 0 15px;
    color: var(--white);
		font-size: 1.3em;
		background-color: var(--bg-light-secondary-default);
    // border: 2px solid #aaa;
		border: none;
		outline: none;

    &::placeholder {
      font-size: 18px;
      line-height: 45px;
    }
  }

  .search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
  }

  &__search-btn {
    top: 0;
    left: 0;
    font-size: 20px;
    color: var(--black);
    // color: var(--secondary-white);
    background-color: transparent;
  }

  &__close-btn {
    top: 0;
    right: 0;
    font-size: 26px;
    color: var(--black);
    // color: var(--secondary-white);
  }

  &__controls {
    display: flex;
    gap: 5px;
    padding-top: 10px;
  }

  &__controls-button {
    flex: 0 1 auto;
  }

}

.search-button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: auto;
  font-size: 20px;
  // border: 1px solid #5D5D6C;
  background: transparent;
  justify-content: center;

  >i {
    // color: var(--light-pink);
    color: var(--primary-color);
  }

  &:hover {
    // background-color: var(--hover-btn-default);
    // background-color: var(--bg-secondary-default);
    background-color: var(--bg-light-secondary-default);
    // border-color: $color-pink;
  }
}

.search-content {
  // position: absolute;
  // top: 100%;
	display: none;
	width: 100%;
  padding: 5px;
  line-height: 1.3;
  // transition: transform .3s cubic-bezier(.55,.08,.06,.97);
  // transform: translate3d(0,20em,0) scale(0);
}

.tags-list {
  position: absolute;
	display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  // height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  
  &__tag {
		display: none;
		gap: 5px;
		align-items: center;
    user-select: none;
    margin: 0.5em;
    font-size: 16px;
    // padding: 0.5em 1em;
		background-color: var(--bg-light-secondary-default);
    color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--bg-light-primary-default);
    height: max-content;
    // transform: scale(0);
    // transition: transform 0.4s;

    &:hover {
      background-color: var(--bg-light-primary-default);
    }

    & > label {
      cursor: pointer;
      padding: 0.5em 1em;
    }
  }
	
	&__btn {
		display: none;
		padding: 0 1em 0 0;
		background: transparent;
		color: var(--primary-color);
		cursor: pointer;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		
		// &:hover {
		// 	// background: #CB73F0;
		// 	color: #CB73F0;
		// }
	}
	
	&__tag._enabled {
		.tags-list__btn {
			display: block;
		}
	}
}

._show {
  // transform: scale(1);
	display: flex;
}

.selected-tags {
  width: 100%;

	// display: flex;
	// flex-wrap: wrap;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    align-items: center;
  }

	&__tag {
			display: inline-flex;
			align-items: center;
			color: white;
			margin: 5px;
			padding: 5px;
			background-color: #DCA1F5;
			border-radius: 5px;
	}
	
	&__btn {
		padding: 5px 9px;
		background: transparent;
		color: var(--primary-color);
		cursor: pointer;
		font-size: 24px;
		border: none;
		// border-radius: 5px;
		
		// &:hover {
		// 	background: #CB73F0;
		// 	color: black;
		// }
	}

  &__content {
    position: relative;
    display: block;
    width: 100%;
    min-height: 300px;
    padding: 5px;
    line-height: 1.3;
    border-radius: 5px;
    background-color: var(--bg-secondary-default);
  }

  &__list {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
    max-height: calc(100% - 15px);
  }
}

// конец поиска

.add-tags {
}

.status-post {
  &__input {
    width: 0;
  }

  &__btn {
    text-align: center;
    width: 100%;
    max-width: 170px;
    height: auto;
    padding: 3px 0px;
    font-size: 18px;
    border: solid 2px var(--bg-light-primary-default);
    background-color: var(--bg-btn-default);
  }

  &__icon {
    display: inline-flex !important;
    align-items: center;
    margin-left: 5px;

    &::before {
      content: "\f107";
    }

    &._active {
      &::before {
        content: "\f106";
      }
    }
  }

  &__item {
    > label {
      display: block;
      padding: 10px 15px;
      font-size: 16px;
      color: var(--white);
      cursor: pointer;
    }
  }
}

.add-file {
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: end;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: var(--bg-secondary-default);

  &__controls {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  &__control {
    flex: 0 1 auto;
    height: auto;
    // text-align: center;
    // width: 100%;
    // max-width: 150px;
  }

  // &__control {
  //   flex: 0 1 auto;
  //   padding: 0 40px;
  //   // width: 100%;
  //   // max-width: 150px;
  //   font-size: 16px;
  // }

  &__btn {
    height: 100%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  &__input {}
}

.add-image-container {
  &__title {
    margin-right: 15px;
  }
}

.add-video-container {
  &__title {
    margin-right: 15px;
  }
}

.files-container {
  display: flex;
  flex: 1 0 0;
  // flex-wrap: wrap;
  width: 100%;

  @media (max-width: 580px) {
    & {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__file-info {
    margin-bottom: 10px;
    // display: flex;
    // flex-direction: column;
    overflow: hidden;
  }

  &__file-box {
    max-width: 300px;
    // height: 200px;
    margin-bottom: 10px;
  }
  
  &__file {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

.file-info {
  overflow: hidden;
  padding-left: 10px;
  color: var(--white);

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__title {
    font-size: 20px;
  }

  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
  }
}

.description-post {

  &__title {
  }

  &__input {
    background-color: var(--bg-secondary-default);
  }
}

.add-form-btn {
  // text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 170px;
  height: auto;
  // padding: 0 30px;
  margin: 20px 0;
  background-color: var(--primary-color);
  font-size: 16px;
}

.del-btn {
  // position: absolute;
  // top: 0;
  // right: 0;
  padding: 0 20px;
  cursor: pointer;
  // font-size: 20px;
  // color: var(--primary-color);
  border: 2px solid var(--disable);
}

input[type="date"] {
  &::-webkit-datetime-edit {
      // padding: 5px;
  }

  &::-webkit-datetime-edit-fields-wrapper {
      // background: silver;
      // display: none;
  }

  &::-webkit-datetime-edit-text {
      // color: red;
      padding: 0 3px;
  }

  &::-webkit-datetime-edit-month-field {
      // color: blue;
      // display: none;
  }

  &::-webkit-datetime-edit-day-field {
      // color: green;
      // display: none;
  }

  &::-webkit-datetime-edit-year-field {
      // color: purple;
      // display: none;
  }

  &::-webkit-inner-spin-button {
      // display: none;
  }

  &::-webkit-calendar-picker-indicator {
      // color: var(--primary-color);
      // display: none;
  }
}

