$color-background-default: #06070d;
$size-btn: 25px;


$width-mobile: 991px;

$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';
$font-family-circeregular: 'CirceRegular';


// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}


.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.post-add-wrapper {
  padding: 5% 10%;
}

.post-add-container {
  display: flex;
  flex-direction: column;
  gap: 30px
}

.option-post {
  &__item {
    display: flex;
    gap: 10px;
    color: white;
  }
}

// visibility: visible;
// height: 100%; 
// width: 100%;
// transition: all .2s cubic-bezier(.55,.08,.06,.97);
// transform: translate3d(0,0,0);
// Поиск

.search {
  // display: none;
  visibility: visible;
  height: 100%; 
  width: 100%;
  transition: all .2s cubic-bezier(.55,.08,.06,.97);
  transform: translate3d(0,0,0);

  &._active {
    // display: block;
    visibility: visible;
    transform: translate3d(0,0,0);
    .search__input-container {
      transform: scaleX(1);
      // transform: scaleX(1);
    }
    .search-content {
			display: block;
      // transform: translate3d(0,0,0) scale(1);
    }
  }

  &__container {
    height: 100%;
    margin: 0 auto;
    font-family: $font-family-helvetica;

    // @media (min-width: $width-mobile) {
    //     margin: 0 10% 0 10%;
    // }
  }

  &__inner {
    height: 100%;
  }
  
  &__input-wrapper {
		position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    // padding: 0 10px;
  }

  &__input-container {
    width: 100%;
    // max-width: 800px;
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
    width: 100%;
    transform: scaleX(1);
		border-radius: 10px;
    border: 1px solid var(--border-secondary-light);
		border-radius: 3px;
  }

  &__input-form {
		width: 100%;
    height: 45px;
    padding: 0 15px;
    color: white;
		font-size: 1.3em;
		background-color: var(--bg-light-secondary-default);
    // border: 2px solid #aaa;
		border: none;
		outline: none;

    &::placeholder {
      font-size: 18px;
      line-height: 45px;
    }
  }

  .search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 45px;
    height: 100%;
    padding: 10px;
    cursor: pointer;
  }

  &__search-btn {
    top: 0;
    left: 0;
    font-size: 20px;
    color: var(--black);
    // color: var(--secondary-white);
    background-color: transparent;
  }

  &__close-btn {
    top: 0;
    right: 0;
    font-size: 26px;
    color: var(--black);
    // color: var(--secondary-white);
  }

  &__controls {
    display: flex;
    gap: 5px;
    padding-top: 10px;
  }

  &__controls-button {
    flex: 0 1 auto;
  }

}

.search-button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  height: auto;
  font-size: 20px;
  // border: 1px solid #5D5D6C;
  background: transparent;
  justify-content: center;

  >i {
    // color: var(--light-pink);
    color: var(--primary-color);
  }

  &:hover {
    // background-color: var(--hover-btn-default);
    // background-color: var(--bg-secondary-default);
    background-color: var(--bg-light-secondary-default);
    // border-color: $color-pink;
  }
}

.search-content {
  position: absolute;
  top: 100%;
	display: none;
	width: 100%;
  padding: 5px;
  line-height: 1.3;
  // transition: transform .3s cubic-bezier(.55,.08,.06,.97);
  // transform: translate3d(0,20em,0) scale(0);
}

.tags-list {
	display: flex;
  flex-wrap: wrap;
  overflow: auto;
  overflow-x: hidden;
  text-align: center;
  height: calc(100% - 87px);
  
  &__tag {
		display: none;
		gap: 5px;
		align-items: center;
    user-select: none;
    margin: 0.2em;
    font-size: 16px;
    // padding: 0.5em 1em;
		background-color: #121423;
    color: white;
    border-radius: 5px;
    // transform: scale(0);
    // transition: transform 0.4s;

    &:hover {
      background-color: #24254A;
    }

    & > label {
      cursor: pointer;
      padding: 0.5em 1em;
    }
  }
	
	&__btn {
		display: none;
		padding: 0 1em 0 0;
		background: transparent;
		color: white;
		cursor: pointer;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		
		&:hover {
			// background: #CB73F0;
			color: #CB73F0;
		}
	}
	
	&__tag._enabled {
		.tags-list__btn {
			display: block;
		}
	}
}

._show {
  // transform: scale(1);
	display: flex;
}

.selected-tags {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	&__tag {
			display: inline-flex;
			align-items: center;
			color: white;
			margin: 5px;
			padding: 5px;
			background-color: #DCA1F5;
			border-radius: 5px;
	}
	
	&__btn {
		padding: 5px 9px;
		background: transparent;
		color: white;
		cursor: pointer;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		
		&:hover {
			background: #CB73F0;
			color: black;
		}
	}
}

// конец поиска

.add-tags {
}


.add-image {
  padding: 15px;
  border: 1px solid var(--border-secondary-light);

  // временно ==
  // label,
  // input {
  //   &:not(.add-image__input, .add-image__label) {
  //     display: none;
  //   }
  // }
  // ==

  &__inner {
    display: flex;
    overflow-x: auto;

    // border: 1px solid var(--border-secondary-light);
    border-radius: 3px;
  }

  &__label {
    // margin-left: 10px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    width: 200px;
    height: 200px;
    cursor: pointer;

    background-color: var(--bg-secondary-default);
    border-radius: 3px;
  }

  &__icon {
    // fill: var(--secondary-pink);
    fill: var(--primary-color);
    width: 80px;
    height: 80px;
  }
}

.images-container {
  display: flex;
  margin-bottom: 10px;

  &__list {
    display: flex;
    gap: 10px;
  }

  &__image-item {
    width: 200px;
    height: 200px;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
  }
}

.description-post {

  &__title {
  }

  &__input {
  }
}

.checkbox {
  &__input {
    &:checked {
      ~.checkbox__indicator {
        // border-color: var(--secondary-pink);
        // background-color: var(--secondary-pink);
      }
    }
  }

  &__indicator {
    position: relative;
    flex-shrink: 0;
    width: 22px;
    height: 22px;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
  }
}
