@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&family=Roboto:wght@100;300;400&display=swap');

$font-family-inter: 'inter', sans-serif;
$font-family-rubik: 'Rubik';
$font-family-helvetica: 'Helvetica';
$font-family-natasans: 'Noto Sans TC', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

$color-white: #fff;
$color-pink: #FAABD3;
$color-profile-dropdown: rgb(240, 240, 240);
$color-background-default: #06070d;
$color-enable: #3ccc7b;
$color-disable: #f44336;

$max-width-nav-menu: 764px;
$max-display-width: 1920px;

// перевод px в em
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@mixin font-settings($font-weight, $font-size, $letter-spacing) {
  font-weight: $font-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

$min-width: 320px;
$max-width: 1920;
$max-width-container: 1920;
@mixin adaptive-value($property, $startSize, $endSize, $type) {
    $addSize: $startSize - $endSize;
    // только если экран меньше контейнера
    @if $type == 1 {
        #{$property}: $startSize + px;
        @media (max-width: #{$max-width-container + px}) {
            #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - $min-width) / #{$max-width-container - $min-width}));
        }
    } @else if $type == 2 {
        // только если экран больше контейнера
        #{$property}: $startSize + px;
        @media (min-width: #{$max-width-container + px}) {
            #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - $min-width) / #{$max-width - $min-width}));
        }
    } @else {
        // всегда
        #{$property}: calc(#{$endSize + px} + #{$addSize} * ((100vw - $min-width) / #{$max-width - $min-width}));
    }
}


body {
  &._touch {
    // .header__logo {
    //   display: none;
    //   visibility: hidden;
    //   pointer-events: none;
    // }

    .headerMenu {
      &::before, &::after {
        content: "";
      }
    }

    // .header__wrapper {
    //   padding: 0 10px;
    // }

    .header-container__profile {
      position: static;
    }

    .profile-dropdown__Link {
      font-size: 24px;
    }

    .header__nav {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }

  }
}

.header {
  display: grid;
  position: fixed;
  max-width: $max-display-width;
  // margin: 0 auto;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index: 7;
  top: 0;
  left: 0;
  transition: transform 0.2s linear;

  &._hide-header {
    transform: translateY(-100%);
  }

  &__wrapper {
    width: inherit;
    // padding: 0 110px;
    margin: 0 auto;
    background-color: $color-background-default;
  }

  &__container {
    display: grid;
    // max-width: 1200px;
    grid-template-columns: 0.1fr 3fr 100px 0.1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    height: 54px;
    padding: 0 110px;
    // margin: 0 auto;
    min-width: 280px;
    // max-width: 1341px;
    width: inherit;
    // width: 96%;

    @media (max-width: 991px) {
      & {
        padding: 0 10px;
        grid-template-columns: 0.1fr 1fr 0.1fr;
      }
    }
  }

  &__logo {
    justify-self: start;

    @media (max-width: 991px) {
      & {
        display: none;
      }
    }
  }

  &__search {
    width: inherit;
    margin: 0;
    // margin-left: 10px;

    @media (max-width: 991px) {
      // display: none;
      visibility: hidden;
    }
  }

  &__mobile-navigation {
    display: block;
    // width: 47px;
    height: 50px;
    background-color: transparent;
    // position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border: 0;

    &::before, &::after {
      content: "";
    }

    @media (max-width: 991px) {
      i.hamburgerIcon {
        font-size: 30px;
        // color: #fd96cf;
        color: $color-pink;
      }
    }
    @media (min-width: 992px) {
      & {
        display: none;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  &__notification-icon {
    display: inherit;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    // justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (max-width: 991px) {
      & {
        display: none;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  &__profile {
    display: flex;
    // grid-template-columns: repeat(2, minmax(70px, 117px));
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr;
    position: relative;
    align-items: center;
    cursor: pointer;
    gap: 10px;

    font-family: $font-family-roboto;

    &._active .profile-dropdown {
      display: block;
    }


  }

  &__signin-link {
    display: flex;
    align-items: center;
    @include adaptive-value(font-size, 14, 10, 0);
    // @include adaptive-value(padding-left, 16, 10, 0);
    // @include adaptive-value(padding-right, 16, 10, 0);
    padding: 0 em(16);
    // font-size: em(8);
    border: 1px solid $color-pink;
  }

  &__nav {
    // padding: 0 30px;
    display: grid;
    height: 40px;
    border-top: solid 1px #1c1e2c;
    z-index: 3;

    @media (max-width: 991px) {
      & {
        display: none;
      }
    }
  }

  &__nav-menu {
    display: inherit;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    align-items: center;
    margin: auto;
    min-width: 280px;
    max-width: $max-width-nav-menu;
  
    li {
      display: inherit;
      width: inherit;
      height: inherit;
      // padding: 10px 0;
      align-items: inherit;
      position: relative;

      transition: all 0.3s ease;

      &::before, &::after {
        position: absolute;
        left: 0px;
        width: inherit;
        height: 2px;
        background: rgb(247, 190, 237);
        content: "";
        opacity: 0;
        transition: all 0.3s;
      }

      // &::before {
      //   top: 0px;
      //   transform: translateY(-10px);
      // }
      &::after {
        bottom: 0px;
        transform: translateY(10px);
      }

      // &:hover::before {
      //   opacity: 1;
      //   transform: translateY(0px);
      // }
      
      &:hover::after {
        opacity: 1;
        transform: translateY(0px);
      }

    }
  
    a {
      text-transform: uppercase;
      outline-style: none;
      text-align: center;
    }
  }

  &__item-name {
    font-family: $font-family-inter;
    @include font-settings(500, 18px, normal);
    color: $color-white;
  }
}
  
.logo {
  font-family: $font-family-inter;
  @include font-settings(500, 32px, normal);
  font-style: italic;
  text-align: left;
  color: $color-white;
}

.notification-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__item {
    width: 40px;
    text-align: center;
    position: relative;

    i {
      font-size: 22px;
      color: $color-white;

      &:hover {
        color: rgb(255, 195, 232);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__number-of-notifications {
    position: absolute;
    right: 0;
    top: -10px;
  }

  @media (max-width: 991px) {
    & {
      display: none;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.number-of-notifications {
  /* если нет уведомлений */
  /* background: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0); */

  /* если есть */
  background-color: red;
  color: $color-white;
  @include font-settings(500, 14px, inherit);
  border-radius: 8px;
  height: 15px;
  line-height: 17px;
  padding: 0 8px;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  // left: -200%;
  right: -200%;

  background-color: $color-white;
  padding: 10px;
  min-width: 255px;
  transform: translate(0px, 5%);
  z-index: 10;
  border-radius: 4px;

  /* margin: 0 -125px; */
  overflow: auto;

  li {
    margin: 0 8px 1px;
    padding: 10px 14px;
    white-space: nowrap;

    &:hover {
      background-color: $color-profile-dropdown;
    }
  }

  &__Link {
    font-size: 18px;
    font-family: $font-family-inter;
    color: black;

    i {
      margin-right: 10px;
      width: 30px;
    }
  }

  // @media (max-width: 1000px) {
  //   & {
  //     left: initial;
  //     right: -10%;
  //   }
  // }
}

.header-profile-avatar {
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
}
